In [5]:
# カラムの名前について考える

In [6]:
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
#それぞれのNMEAセンテンスのカラム名を割り振る
#ログファイル中に行数が変わってしまうファイルがあるため
#GPGGAについて
col_gpgga = [
    'GPGGA', 'Time', 'Lat', 'N/S', 'Lon', 'E/W', 'Fix_quality_0/1/2', 'Number_of_satelites', 'HDOP', \
    'Altitude', 'M1', 'H-geoid' , 'M2', \
    'Time_since_last_DGPS_update', 'DPGS_reference_station_ID', 'checksum'
]

#GPGSA
col_gpgsa = [
     'GPGSA', 'Mode_A/M', 'Mode_1/2/3', 'SV_1', 'SV_2', 'SV_3', 'SV_4', 'SV_5', 'SV_6', 'SV_7' , 'SV_8', 'SV_9', 'SV_10', 'PDOP', 'HDOP',  'VDOP'
]

#GLGSA
col_glgsa = [
     'GLGSA', 'Mode_A/M', 'Mode_1/2/3', 'SV_1', 'SV_2', 'SV_3', 'SV_4', 'SV_5', 'SV_6', 'SV_7' , 'SV_8', 'SV_9', 'SV_10', 'PDOP', 'HDOP',  'VDOP'
]

#GPRMC
col_gprmc = [
     'GPRMC', 'UTC', 'Validation_A/V', 'Lat', 'N/S', 'Lon', 'E/W', 'knots', 'True_course', 'Date' , 'Magnetic_variation_degreese', 'E/W', '13'
]

#GPVTG
col_gpvtg = [
     'GPVTG', 'Track_degrees_True ', 'T', 'Magnetic_degreese', 'M', 'knots', 'N', 'kilometers', 'K', '10' 
]

#GPZDA
col_gpzda = [
     'GPZDA', 'UTC', 'Day', 'Month', 'Year', 'Local zone description', 'Local zone minutes description'
]

#GPGSV
col_gpgsv = [
    'GPGSV', 'Number_of_messages', 'Message_number', 'SV_total',\
    '1_n', '1_ed', '1_ad', '1_snr',\
    '2_n', '2_ed', '2_ad', '2_snr', \
    '3_n', '3_ed', '3_ad', '3_snr', \
    '4_n', '4_ed', '4_ad', '4_snr'
]

#GLGSV
col_glgsv = [
    'GPGSV', 'Number_of_messages', 'Message_number', 'SV_total',\
    '1_n', '1_ed', '1_ad', '1_snr',\
    '2_n', '2_ed', '2_ad', '2_snr', \
    '3_n', '3_ed', '3_ad', '3_snr', \
    '4_n', '4_ed', '4_ad', '4_snr'
]

In [8]:
# ログファイルをpandasのデータフレームの形式で読み込む
#ここでは、ファイル名をユーザー入力の形式で指定する
#1番目に読み込んだログフmァイルの変数の頭に'a_'をつける
print('please input file name:   ')
f_name = input()

#GLGSA
_1_glgsa = pd.read_table(f_name + '_glgsa.log', \
                                             delimiter=',', \
                                             names = col_glgsa)

#GPGSA
_1_gpgsa = pd.read_table(f_name + '_gpgsa.log', \
                                             delimiter=',', \
                                             names = col_gpgsa)

   
#GPGGA
_1_gpgga = pd.read_table(f_name + '_gpgga.log', \
                                             delimiter=',', \
                                             names = col_gpgga)

#GPRMC
_1_gprmc = pd.read_table(f_name + '_gprmc.log', \
                                             delimiter=',', \
                                             names = col_gprmc)
#GPVTG
_1_gpvtg = pd.read_table(f_name + '_gpvtg.log', \
                                             delimiter=',', \
                                             names = col_gpvtg)
#GPZDA
_1_gpzda = pd.read_table(f_name + '_gpzda.log', \
                                             delimiter=',', \
                                             names = col_gpzda)


#GPGSV,x,1
_1_gpgsv_1 = pd.read_table(f_name + '_gpgsv_1.log', \
                                             delimiter=',', \
                                             names = col_gpgsv)
#GPGSV,x,2
_1_gpgsv_2 = pd.read_table(f_name + '_gpgsv_2.log', \
                                             delimiter=',', \
                                             names = col_gpgsv)
#GPGSV,x,3
_1_gpgsv_3 = pd.read_table(f_name + '_gpgsv_3.log', \
                                             delimiter=',', \
                                             names= col_gpgsv)
#GPGSV,x,4
_1_gpgsv_4 = pd.read_table(f_name + '_gpgsv_4.log', \
                                             delimiter=',', \
                                             names= col_gpgsv)


#GLGSV,x,1
_1_glgsv_1 = pd.read_table(f_name + '_glgsv_1.log', \
                                             delimiter=',', \
                                             names = col_glgsv)
#glgsv,x,2
_1_glgsv_2 = pd.read_table(f_name + '_glgsv_2.log', \
                                             delimiter=',', \
                                             names = col_glgsv)
#glgsv,x,3
_1_glgsv_3 = pd.read_table(f_name + '_glgsv_3.log', \
                                             delimiter=',', \
                                             names= col_glgsv)
#glgsv,x,4
_1_glgsv_4 = pd.read_table(f_name + '_glgsv_4.log', \
                                             delimiter=',', \
                                             names= col_glgsv)

please input file name:
1

In [9]:
# ログファイルをpandasのデータフレームの形式で読み込む
#ここでは、ファイル名をユーザー入力の形式で指定する
#1番目に読み込んだログフmァイルの変数の頭に'a_'をつける
print('please input file name:   ')
f_name = input()

#GLGSA
_2_glgsa = pd.read_table(f_name + '_glgsa.log', \
                                             delimiter=',', \
                                             names = col_glgsa)

#GPGSA
_2_gpgsa = pd.read_table(f_name + '_gpgsa.log', \
                                             delimiter=',', \
                                             names = col_gpgsa)

   
#GPGGA
_2_gpgga = pd.read_table(f_name + '_gpgga.log', \
                                             delimiter=',', \
                                             names = col_gpgga)

#GPRMC
_2_gprmc = pd.read_table(f_name + '_gprmc.log', \
                                             delimiter=',', \
                                             names = col_gprmc)
#GPVTG
_2_gpvtg = pd.read_table(f_name + '_gpvtg.log', \
                                             delimiter=',', \
                                             names = col_gpvtg)
#GPZDA
_2_gpzda = pd.read_table(f_name + '_gpzda.log', \
                                             delimiter=',', \
                                             names = col_gpzda)


#GPGSV,x,1
_2_gpgsv_1 = pd.read_table(f_name + '_gpgsv_1.log', \
                                             delimiter=',', \
                                             names = col_gpgsv)
#GPGSV,x,2
_2_gpgsv_2 = pd.read_table(f_name + '_gpgsv_2.log', \
                                             delimiter=',', \
                                             names = col_gpgsv)
#GPGSV,x,3
_2_gpgsv_3 = pd.read_table(f_name + '_gpgsv_3.log', \
                                             delimiter=',', \
                                             names= col_gpgsv)
#GPGSV,x,4
_2_gpgsv_4 = pd.read_table(f_name + '_gpgsv_4.log', \
                                             delimiter=',', \
                                             names= col_gpgsv)


#GLGSV,x,1
_2_glgsv_1 = pd.read_table(f_name + '_glgsv_1.log', \
                                             delimiter=',', \
                                             names = col_glgsv)
#glgsv,x,2
_2_glgsv_2 = pd.read_table(f_name + '_glgsv_2.log', \
                                             delimiter=',', \
                                             names = col_glgsv)
#glgsv,x,3
_2_glgsv_3 = pd.read_table(f_name + '_glgsv_3.log', \
                                             delimiter=',', \
                                             names= col_glgsv)
#glgsv,x,4
_2_glgsv_4 = pd.read_table(f_name + '_glgsv_4.log', \
                                             delimiter=',', \
                                             names= col_glgsv)

please input file name:
2

In [10]:
# ログファイルをpandasのデータフレームの形式で読み込む
#ここでは、ファイル名をユーザー入力の形式で指定する
#1番目に読み込んだログフmァイルの変数の頭に'a_'をつける
print('please input file name:   ')
f_name = input()

#GLGSA
_3_glgsa = pd.read_table(f_name + '_glgsa.log', \
                                             delimiter=',', \
                                             names = col_glgsa)

#GPGSA
_3_gpgsa = pd.read_table(f_name + '_gpgsa.log', \
                                             delimiter=',', \
                                             names = col_gpgsa)

   
#GPGGA
_3_gpgga = pd.read_table(f_name + '_gpgga.log', \
                                             delimiter=',', \
                                             names = col_gpgga)

#GPRMC
_3_gprmc = pd.read_table(f_name + '_gprmc.log', \
                                             delimiter=',', \
                                             names = col_gprmc)
#GPVTG
_3_gpvtg = pd.read_table(f_name + '_gpvtg.log', \
                                             delimiter=',', \
                                             names = col_gpvtg)
#GPZDA
_3_gpzda = pd.read_table(f_name + '_gpzda.log', \
                                             delimiter=',', \
                                             names = col_gpzda)


#GPGSV,x,1
_3_gpgsv_1 = pd.read_table(f_name + '_gpgsv_1.log', \
                                             delimiter=',', \
                                             names = col_gpgsv)
#GPGSV,x,2
_3_gpgsv_2 = pd.read_table(f_name + '_gpgsv_2.log', \
                                             delimiter=',', \
                                             names = col_gpgsv)
#GPGSV,x,3
_3_gpgsv_3 = pd.read_table(f_name + '_gpgsv_3.log', \
                                             delimiter=',', \
                                             names= col_gpgsv)
#GPGSV,x,4
_3_gpgsv_4 = pd.read_table(f_name + '_gpgsv_4.log', \
                                             delimiter=',', \
                                             names= col_gpgsv)


#GLGSV,x,1
_3_glgsv_1 = pd.read_table(f_name + '_glgsv_1.log', \
                                             delimiter=',', \
                                             names = col_glgsv)
#glgsv,x,2
_3_glgsv_2 = pd.read_table(f_name + '_glgsv_2.log', \
                                             delimiter=',', \
                                             names = col_glgsv)
#glgsv,x,3
_3_glgsv_3 = pd.read_table(f_name + '_glgsv_3.log', \
                                             delimiter=',', \
                                             names= col_glgsv)
#glgsv,x,4
_3_glgsv_4 = pd.read_table(f_name + '_glgsv_4.log', \
                                             delimiter=',', \
                                             names= col_glgsv)

please input file name:
3

In [11]:
# ログファイルをpandasのデータフレームの形式で読み込む
#ここでは、ファイル名をユーザー入力の形式で指定する
#1番目に読み込んだログフmァイルの変数の頭に'a_'をつける
print('please input file name:   ')
f_name = input()

#GLGSA
_4_glgsa = pd.read_table(f_name + '_glgsa.log', \
                                             delimiter=',', \
                                             names = col_glgsa)

#GPGSA
_4_gpgsa = pd.read_table(f_name + '_gpgsa.log', \
                                             delimiter=',', \
                                             names = col_gpgsa)

   
#GPGGA
_4_gpgga = pd.read_table(f_name + '_gpgga.log', \
                                             delimiter=',', \
                                             names = col_gpgga)

#GPRMC
_4_gprmc = pd.read_table(f_name + '_gprmc.log', \
                                             delimiter=',', \
                                             names = col_gprmc)
#GPVTG
_4_gpvtg = pd.read_table(f_name + '_gpvtg.log', \
                                             delimiter=',', \
                                             names = col_gpvtg)
#GPZDA
_4_gpzda = pd.read_table(f_name + '_gpzda.log', \
                                             delimiter=',', \
                                             names = col_gpzda)


#GPGSV,x,1
_4_gpgsv_1 = pd.read_table(f_name + '_gpgsv_1.log', \
                                             delimiter=',', \
                                             names = col_gpgsv)
#GPGSV,x,2
_4_gpgsv_2 = pd.read_table(f_name + '_gpgsv_2.log', \
                                             delimiter=',', \
                                             names = col_gpgsv)
#GPGSV,x,3
_4_gpgsv_3 = pd.read_table(f_name + '_gpgsv_3.log', \
                                             delimiter=',', \
                                             names= col_gpgsv)
#GPGSV,x,4
_4_gpgsv_4 = pd.read_table(f_name + '_gpgsv_4.log', \
                                             delimiter=',', \
                                             names= col_gpgsv)


#GLGSV,x,1
_4_glgsv_1 = pd.read_table(f_name + '_glgsv_1.log', \
                                             delimiter=',', \
                                             names = col_glgsv)
#glgsv,x,2
_4_glgsv_2 = pd.read_table(f_name + '_glgsv_2.log', \
                                             delimiter=',', \
                                             names = col_glgsv)
#glgsv,x,3
_4_glgsv_3 = pd.read_table(f_name + '_glgsv_3.log', \
                                             delimiter=',', \
                                             names= col_glgsv)
#glgsv,x,4
_4_glgsv_4 = pd.read_table(f_name + '_glgsv_4.log', \
                                             delimiter=',', \
                                             names= col_glgsv)

please input file name:
4

In [12]:
# ログファイルをpandasのデータフレームの形式で読み込む
#ここでは、ファイル名をユーザー入力の形式で指定する
#1番目に読み込んだログフmァイルの変数の頭に'a_'をつける
print('please input file name:   ')
f_name = input()

#GLGSA
_5_glgsa = pd.read_table(f_name + '_glgsa.log', \
                                             delimiter=',', \
                                             names = col_glgsa)

#GPGSA
_5_gpgsa = pd.read_table(f_name + '_gpgsa.log', \
                                             delimiter=',', \
                                             names = col_gpgsa)

   
#GPGGA
_5_gpgga = pd.read_table(f_name + '_gpgga.log', \
                                             delimiter=',', \
                                             names = col_gpgga)

#GPRMC
_5_gprmc = pd.read_table(f_name + '_gprmc.log', \
                                             delimiter=',', \
                                             names = col_gprmc)
#GPVTG
_5_gpvtg = pd.read_table(f_name + '_gpvtg.log', \
                                             delimiter=',', \
                                             names = col_gpvtg)
#GPZDA
_5_gpzda = pd.read_table(f_name + '_gpzda.log', \
                                             delimiter=',', \
                                             names = col_gpzda)


#GPGSV,x,1
_5_gpgsv_1 = pd.read_table(f_name + '_gpgsv_1.log', \
                                             delimiter=',', \
                                             names = col_gpgsv)
#GPGSV,x,2
_5_gpgsv_2 = pd.read_table(f_name + '_gpgsv_2.log', \
                                             delimiter=',', \
                                             names = col_gpgsv)
#GPGSV,x,3
_5_gpgsv_3 = pd.read_table(f_name + '_gpgsv_3.log', \
                                             delimiter=',', \
                                             names= col_gpgsv)
#GPGSV,x,4
_5_gpgsv_4 = pd.read_table(f_name + '_gpgsv_4.log', \
                                             delimiter=',', \
                                             names= col_gpgsv)


#GLGSV,x,1
_5_glgsv_1 = pd.read_table(f_name + '_glgsv_1.log', \
                                             delimiter=',', \
                                             names = col_glgsv)
#glgsv,x,2
_5_glgsv_2 = pd.read_table(f_name + '_glgsv_2.log', \
                                             delimiter=',', \
                                             names = col_glgsv)
#glgsv,x,3
_5_glgsv_3 = pd.read_table(f_name + '_glgsv_3.log', \
                                             delimiter=',', \
                                             names= col_glgsv)
#glgsv,x,4
_5_glgsv_4 = pd.read_table(f_name + '_glgsv_4.log', \
                                             delimiter=',', \
                                             names= col_glgsv)

please input file name:
5

In [13]:
# ログファイルをpandasのデータフレームの形式で読み込む
#ここでは、ファイル名をユーザー入力の形式で指定する
#1番目に読み込んだログフmァイルの変数の頭に'a_'をつける
print('please input file name:   ')
f_name = input()

#GLGSA
_6_glgsa = pd.read_table(f_name + '_glgsa.log', \
                                             delimiter=',', \
                                             names = col_glgsa)

#GPGSA
_6_gpgsa = pd.read_table(f_name + '_gpgsa.log', \
                                             delimiter=',', \
                                             names = col_gpgsa)

   
#GPGGA
_6_gpgga = pd.read_table(f_name + '_gpgga.log', \
                                             delimiter=',', \
                                             names = col_gpgga)

#GPRMC
_6_gprmc = pd.read_table(f_name + '_gprmc.log', \
                                             delimiter=',', \
                                             names = col_gprmc)
#GPVTG
_6_gpvtg = pd.read_table(f_name + '_gpvtg.log', \
                                             delimiter=',', \
                                             names = col_gpvtg)
#GPZDA
_6_gpzda = pd.read_table(f_name + '_gpzda.log', \
                                             delimiter=',', \
                                             names = col_gpzda)


#GPGSV,x,1
_6_gpgsv_1 = pd.read_table(f_name + '_gpgsv_1.log', \
                                             delimiter=',', \
                                             names = col_gpgsv)
#GPGSV,x,2
_6_gpgsv_2 = pd.read_table(f_name + '_gpgsv_2.log', \
                                             delimiter=',', \
                                             names = col_gpgsv)
#GPGSV,x,3
_6_gpgsv_3 = pd.read_table(f_name + '_gpgsv_3.log', \
                                             delimiter=',', \
                                             names= col_gpgsv)
#GPGSV,x,4
_6_gpgsv_4 = pd.read_table(f_name + '_gpgsv_4.log', \
                                             delimiter=',', \
                                             names= col_gpgsv)


#GLGSV,x,1
_6_glgsv_1 = pd.read_table(f_name + '_glgsv_1.log', \
                                             delimiter=',', \
                                             names = col_glgsv)
#glgsv,x,2
_6_glgsv_2 = pd.read_table(f_name + '_glgsv_2.log', \
                                             delimiter=',', \
                                             names = col_glgsv)
#glgsv,x,3
_6_glgsv_3 = pd.read_table(f_name + '_glgsv_3.log', \
                                             delimiter=',', \
                                             names= col_glgsv)
#glgsv,x,4
_6_glgsv_4 = pd.read_table(f_name + '_glgsv_4.log', \
                                             delimiter=',', \
                                             names= col_glgsv)

please input file name:
6

In [14]:
# ログファイルをpandasのデータフレームの形式で読み込む
#ここでは、ファイル名をユーザー入力の形式で指定する
#1番目に読み込んだログフmァイルの変数の頭に'a_'をつける
print('please input file name:   ')
f_name = input()

#GLGSA
_7_glgsa = pd.read_table(f_name + '_glgsa.log', \
                                             delimiter=',', \
                                             names = col_glgsa)

#GPGSA
_7_gpgsa = pd.read_table(f_name + '_gpgsa.log', \
                                             delimiter=',', \
                                             names = col_gpgsa)

   
#GPGGA
_7_gpgga = pd.read_table(f_name + '_gpgga.log', \
                                             delimiter=',', \
                                             names = col_gpgga)

#GPRMC
_7_gprmc = pd.read_table(f_name + '_gprmc.log', \
                                             delimiter=',', \
                                             names = col_gprmc)
#GPVTG
_7_gpvtg = pd.read_table(f_name + '_gpvtg.log', \
                                             delimiter=',', \
                                             names = col_gpvtg)
#GPZDA
_7_gpzda = pd.read_table(f_name + '_gpzda.log', \
                                             delimiter=',', \
                                             names = col_gpzda)


#GPGSV,x,1
_7_gpgsv_1 = pd.read_table(f_name + '_gpgsv_1.log', \
                                             delimiter=',', \
                                             names = col_gpgsv)
#GPGSV,x,2
_7_gpgsv_2 = pd.read_table(f_name + '_gpgsv_2.log', \
                                             delimiter=',', \
                                             names = col_gpgsv)
#GPGSV,x,3
_7_gpgsv_3 = pd.read_table(f_name + '_gpgsv_3.log', \
                                             delimiter=',', \
                                             names= col_gpgsv)
#GPGSV,x,4
_7_gpgsv_4 = pd.read_table(f_name + '_gpgsv_4.log', \
                                             delimiter=',', \
                                             names= col_gpgsv)


#GLGSV,x,1
_7_glgsv_1 = pd.read_table(f_name + '_glgsv_1.log', \
                                             delimiter=',', \
                                             names = col_glgsv)
#glgsv,x,2
_7_glgsv_2 = pd.read_table(f_name + '_glgsv_2.log', \
                                             delimiter=',', \
                                             names = col_glgsv)
#glgsv,x,3
_7_glgsv_3 = pd.read_table(f_name + '_glgsv_3.log', \
                                             delimiter=',', \
                                             names= col_glgsv)
#glgsv,x,4
_7_glgsv_4 = pd.read_table(f_name + '_glgsv_4.log', \
                                             delimiter=',', \
                                             names= col_glgsv)

please input file name:
7

In [15]:
# ログファイルをpandasのデータフレームの形式で読み込む
#ここでは、ファイル名をユーザー入力の形式で指定する
#1番目に読み込んだログフmァイルの変数の頭に'a_'をつける
print('please input file name:   ')
f_name = input()

#GLGSA
_8_glgsa = pd.read_table(f_name + '_glgsa.log', \
                                             delimiter=',', \
                                             names = col_glgsa)

#GPGSA
_8_gpgsa = pd.read_table(f_name + '_gpgsa.log', \
                                             delimiter=',', \
                                             names = col_gpgsa)

   
#GPGGA
_8_gpgga = pd.read_table(f_name + '_gpgga.log', \
                                             delimiter=',', \
                                             names = col_gpgga)

#GPRMC
_8_gprmc = pd.read_table(f_name + '_gprmc.log', \
                                             delimiter=',', \
                                             names = col_gprmc)
#GPVTG
_8_gpvtg = pd.read_table(f_name + '_gpvtg.log', \
                                             delimiter=',', \
                                             names = col_gpvtg)
#GPZDA
_8_gpzda = pd.read_table(f_name + '_gpzda.log', \
                                             delimiter=',', \
                                             names = col_gpzda)


#GPGSV,x,1
_8_gpgsv_1 = pd.read_table(f_name + '_gpgsv_1.log', \
                                             delimiter=',', \
                                             names = col_gpgsv)
#GPGSV,x,2
_8_gpgsv_2 = pd.read_table(f_name + '_gpgsv_2.log', \
                                             delimiter=',', \
                                             names = col_gpgsv)
#GPGSV,x,3
_8_gpgsv_3 = pd.read_table(f_name + '_gpgsv_3.log', \
                                             delimiter=',', \
                                             names= col_gpgsv)
#GPGSV,x,4
_8_gpgsv_4 = pd.read_table(f_name + '_gpgsv_4.log', \
                                             delimiter=',', \
                                             names= col_gpgsv)


#GLGSV,x,1
_8_glgsv_1 = pd.read_table(f_name + '_glgsv_1.log', \
                                             delimiter=',', \
                                             names = col_glgsv)
#glgsv,x,2
_8_glgsv_2 = pd.read_table(f_name + '_glgsv_2.log', \
                                             delimiter=',', \
                                             names = col_glgsv)
#glgsv,x,3
_8_glgsv_3 = pd.read_table(f_name + '_glgsv_3.log', \
                                             delimiter=',', \
                                             names= col_glgsv)
#glgsv,x,4
_8_glgsv_4 = pd.read_table(f_name + '_glgsv_4.log', \
                                             delimiter=',', \
                                             names= col_glgsv)

please input file name:
8

In [16]:
# ログファイルをpandasのデータフレームの形式で読み込む
#ここでは、ファイル名をユーザー入力の形式で指定する
#1番目に読み込んだログフmァイルの変数の頭に'a_'をつける
print('please input file name:   ')
f_name = input()

#GLGSA
_9_glgsa = pd.read_table(f_name + '_glgsa.log', \
                                             delimiter=',', \
                                             names = col_glgsa)

#GPGSA
_9_gpgsa = pd.read_table(f_name + '_gpgsa.log', \
                                             delimiter=',', \
                                             names = col_gpgsa)

   
#GPGGA
_9_gpgga = pd.read_table(f_name + '_gpgga.log', \
                                             delimiter=',', \
                                             names = col_gpgga)

#GPRMC
_9_gprmc = pd.read_table(f_name + '_gprmc.log', \
                                             delimiter=',', \
                                             names = col_gprmc)
#GPVTG
_9_gpvtg = pd.read_table(f_name + '_gpvtg.log', \
                                             delimiter=',', \
                                             names = col_gpvtg)
#GPZDA
_9_gpzda = pd.read_table(f_name + '_gpzda.log', \
                                             delimiter=',', \
                                             names = col_gpzda)


#GPGSV,x,1
_9_gpgsv_1 = pd.read_table(f_name + '_gpgsv_1.log', \
                                             delimiter=',', \
                                             names = col_gpgsv)
#GPGSV,x,2
_9_gpgsv_2 = pd.read_table(f_name + '_gpgsv_2.log', \
                                             delimiter=',', \
                                             names = col_gpgsv)
#GPGSV,x,3
_9_gpgsv_3 = pd.read_table(f_name + '_gpgsv_3.log', \
                                             delimiter=',', \
                                             names= col_gpgsv)
#GPGSV,x,4
_9_gpgsv_4 = pd.read_table(f_name + '_gpgsv_4.log', \
                                             delimiter=',', \
                                             names= col_gpgsv)


#GLGSV,x,1
_9_glgsv_1 = pd.read_table(f_name + '_glgsv_1.log', \
                                             delimiter=',', \
                                             names = col_glgsv)
#glgsv,x,2
_9_glgsv_2 = pd.read_table(f_name + '_glgsv_2.log', \
                                             delimiter=',', \
                                             names = col_glgsv)
#glgsv,x,3
_9_glgsv_3 = pd.read_table(f_name + '_glgsv_3.log', \
                                             delimiter=',', \
                                             names= col_glgsv)
#glgsv,x,4
_9_glgsv_4 = pd.read_table(f_name + '_glgsv_4.log', \
                                             delimiter=',', \
                                             names= col_glgsv)

please input file name:
9

In [17]:
# ログファイルをpandasのデータフレームの形式で読み込む
#ここでは、ファイル名をユーザー入力の形式で指定する
#1番目に読み込んだログフmァイルの変数の頭に'a_'をつける
print('please input file name:   ')
f_name = input()

#GLGSA
_10_glgsa = pd.read_table(f_name + '_glgsa.log', \
                                             delimiter=',', \
                                             names = col_glgsa)

#GPGSA
_10_gpgsa = pd.read_table(f_name + '_gpgsa.log', \
                                             delimiter=',', \
                                             names = col_gpgsa)

   
#GPGGA
_10_gpgga = pd.read_table(f_name + '_gpgga.log', \
                                             delimiter=',', \
                                             names = col_gpgga)

#GPRMC
_10_gprmc = pd.read_table(f_name + '_gprmc.log', \
                                             delimiter=',', \
                                             names = col_gprmc)
#GPVTG
_10_gpvtg = pd.read_table(f_name + '_gpvtg.log', \
                                             delimiter=',', \
                                             names = col_gpvtg)
#GPZDA
_10_gpzda = pd.read_table(f_name + '_gpzda.log', \
                                             delimiter=',', \
                                             names = col_gpzda)


#GPGSV,x,1
_10_gpgsv_1 = pd.read_table(f_name + '_gpgsv_1.log', \
                                             delimiter=',', \
                                             names = col_gpgsv)
#GPGSV,x,2
_10_gpgsv_2 = pd.read_table(f_name + '_gpgsv_2.log', \
                                             delimiter=',', \
                                             names = col_gpgsv)
#GPGSV,x,3
_10_gpgsv_3 = pd.read_table(f_name + '_gpgsv_3.log', \
                                             delimiter=',', \
                                             names= col_gpgsv)
#GPGSV,x,4
_10_gpgsv_4 = pd.read_table(f_name + '_gpgsv_4.log', \
                                             delimiter=',', \
                                             names= col_gpgsv)


#GLGSV,x,1
_10_glgsv_1 = pd.read_table(f_name + '_glgsv_1.log', \
                                             delimiter=',', \
                                             names = col_glgsv)
#glgsv,x,2
_10_glgsv_2 = pd.read_table(f_name + '_glgsv_2.log', \
                                             delimiter=',', \
                                             names = col_glgsv)
#glgsv,x,3
_10_glgsv_3 = pd.read_table(f_name + '_glgsv_3.log', \
                                             delimiter=',', \
                                             names= col_glgsv)
#glgsv,x,4
_10_glgsv_4 = pd.read_table(f_name + '_glgsv_4.log', \
                                             delimiter=',', \
                                             names= col_glgsv)

please input file name:
10

In [18]:
# ログファイルをpandasのデータフレームの形式で読み込む
#ここでは、ファイル名をユーザー入力の形式で指定する
#1番目に読み込んだログフmァイルの変数の頭に'a_'をつける
print('please input file name:   ')
f_name = input()

#GLGSA
_11_glgsa = pd.read_table(f_name + '_glgsa.log', \
                                             delimiter=',', \
                                             names = col_glgsa)

#GPGSA
_11_gpgsa = pd.read_table(f_name + '_gpgsa.log', \
                                             delimiter=',', \
                                             names = col_gpgsa)

   
#GPGGA
_11_gpgga = pd.read_table(f_name + '_gpgga.log', \
                                             delimiter=',', \
                                             names = col_gpgga)

#GPRMC
_11_gprmc = pd.read_table(f_name + '_gprmc.log', \
                                             delimiter=',', \
                                             names = col_gprmc)
#GPVTG
_11_gpvtg = pd.read_table(f_name + '_gpvtg.log', \
                                             delimiter=',', \
                                             names = col_gpvtg)
#GPZDA
_11_gpzda = pd.read_table(f_name + '_gpzda.log', \
                                             delimiter=',', \
                                             names = col_gpzda)


#GPGSV,x,1
_11_gpgsv_1 = pd.read_table(f_name + '_gpgsv_1.log', \
                                             delimiter=',', \
                                             names = col_gpgsv)
#GPGSV,x,2
_11_gpgsv_2 = pd.read_table(f_name + '_gpgsv_2.log', \
                                             delimiter=',', \
                                             names = col_gpgsv)
#GPGSV,x,3
_11_gpgsv_3 = pd.read_table(f_name + '_gpgsv_3.log', \
                                             delimiter=',', \
                                             names= col_gpgsv)
#GPGSV,x,4
_11_gpgsv_4 = pd.read_table(f_name + '_gpgsv_4.log', \
                                             delimiter=',', \
                                             names= col_gpgsv)


#GLGSV,x,1
_11_glgsv_1 = pd.read_table(f_name + '_glgsv_1.log', \
                                             delimiter=',', \
                                             names = col_glgsv)
#glgsv,x,2
_11_glgsv_2 = pd.read_table(f_name + '_glgsv_2.log', \
                                             delimiter=',', \
                                             names = col_glgsv)
#glgsv,x,3
_11_glgsv_3 = pd.read_table(f_name + '_glgsv_3.log', \
                                             delimiter=',', \
                                             names= col_glgsv)
#glgsv,x,4
_11_glgsv_4 = pd.read_table(f_name + '_glgsv_4.log', \
                                             delimiter=',', \
                                             names= col_glgsv)

please input file name:
11

In [19]:
# ログファイルをpandasのデータフレームの形式で読み込む
#ここでは、ファイル名をユーザー入力の形式で指定する
#1番目に読み込んだログフmァイルの変数の頭に'a_'をつける
print('please input file name:   ')
f_name = input()

#GLGSA
_12_glgsa = pd.read_table(f_name + '_glgsa.log', \
                                             delimiter=',', \
                                             names = col_glgsa)

#GPGSA
_12_gpgsa = pd.read_table(f_name + '_gpgsa.log', \
                                             delimiter=',', \
                                             names = col_gpgsa)

   
#GPGGA
_12_gpgga = pd.read_table(f_name + '_gpgga.log', \
                                             delimiter=',', \
                                             names = col_gpgga)

#GPRMC
_12_gprmc = pd.read_table(f_name + '_gprmc.log', \
                                             delimiter=',', \
                                             names = col_gprmc)
#GPVTG
_12_gpvtg = pd.read_table(f_name + '_gpvtg.log', \
                                             delimiter=',', \
                                             names = col_gpvtg)
#GPZDA
_12_gpzda = pd.read_table(f_name + '_gpzda.log', \
                                             delimiter=',', \
                                             names = col_gpzda)


#GPGSV,x,1
_12_gpgsv_1 = pd.read_table(f_name + '_gpgsv_1.log', \
                                             delimiter=',', \
                                             names = col_gpgsv)
#GPGSV,x,2
_12_gpgsv_2 = pd.read_table(f_name + '_gpgsv_2.log', \
                                             delimiter=',', \
                                             names = col_gpgsv)
#GPGSV,x,3
_12_gpgsv_3 = pd.read_table(f_name + '_gpgsv_3.log', \
                                             delimiter=',', \
                                             names= col_gpgsv)
#GPGSV,x,4
_12_gpgsv_4 = pd.read_table(f_name + '_gpgsv_4.log', \
                                             delimiter=',', \
                                             names= col_gpgsv)


#GLGSV,x,1
_12_glgsv_1 = pd.read_table(f_name + '_glgsv_1.log', \
                                             delimiter=',', \
                                             names = col_glgsv)
#glgsv,x,2
_12_glgsv_2 = pd.read_table(f_name + '_glgsv_2.log', \
                                             delimiter=',', \
                                             names = col_glgsv)
#glgsv,x,3
_12_glgsv_3 = pd.read_table(f_name + '_glgsv_3.log', \
                                             delimiter=',', \
                                             names= col_glgsv)
#glgsv,x,4
_12_glgsv_4 = pd.read_table(f_name + '_glgsv_4.log', \
                                             delimiter=',', \
                                             names= col_glgsv)

please input file name:
12

In [20]:
# ログファイルをpandasのデータフレームの形式で読み込む
#ここでは、ファイル名をユーザー入力の形式で指定する
#1番目に読み込んだログフmァイルの変数の頭に'a_'をつける
print('please input file name:   ')
f_name = input()

#GLGSA
_13_glgsa = pd.read_table(f_name + '_glgsa.log', \
                                             delimiter=',', \
                                             names = col_glgsa)

#GPGSA
_13_gpgsa = pd.read_table(f_name + '_gpgsa.log', \
                                             delimiter=',', \
                                             names = col_gpgsa)

   
#GPGGA
_13_gpgga = pd.read_table(f_name + '_gpgga.log', \
                                             delimiter=',', \
                                             names = col_gpgga)

#GPRMC
_13_gprmc = pd.read_table(f_name + '_gprmc.log', \
                                             delimiter=',', \
                                             names = col_gprmc)
#GPVTG
_13_gpvtg = pd.read_table(f_name + '_gpvtg.log', \
                                             delimiter=',', \
                                             names = col_gpvtg)
#GPZDA
_13_gpzda = pd.read_table(f_name + '_gpzda.log', \
                                             delimiter=',', \
                                             names = col_gpzda)


#GPGSV,x,1
_13_gpgsv_1 = pd.read_table(f_name + '_gpgsv_1.log', \
                                             delimiter=',', \
                                             names = col_gpgsv)
#GPGSV,x,2
_13_gpgsv_2 = pd.read_table(f_name + '_gpgsv_2.log', \
                                             delimiter=',', \
                                             names = col_gpgsv)
#GPGSV,x,3
_13_gpgsv_3 = pd.read_table(f_name + '_gpgsv_3.log', \
                                             delimiter=',', \
                                             names= col_gpgsv)
#GPGSV,x,4
_13_gpgsv_4 = pd.read_table(f_name + '_gpgsv_4.log', \
                                             delimiter=',', \
                                             names= col_gpgsv)


#GLGSV,x,1
_13_glgsv_1 = pd.read_table(f_name + '_glgsv_1.log', \
                                             delimiter=',', \
                                             names = col_glgsv)
#glgsv,x,2
_13_glgsv_2 = pd.read_table(f_name + '_glgsv_2.log', \
                                             delimiter=',', \
                                             names = col_glgsv)
#glgsv,x,3
_13_glgsv_3 = pd.read_table(f_name + '_glgsv_3.log', \
                                             delimiter=',', \
                                             names= col_glgsv)
#glgsv,x,4
_13_glgsv_4 = pd.read_table(f_name + '_glgsv_4.log', \
                                             delimiter=',', \
                                             names= col_glgsv)

please input file name:
13

In [21]:
# ログファイルをpandasのデータフレームの形式で読み込む
#ここでは、ファイル名をユーザー入力の形式で指定する
#1番目に読み込んだログフmァイルの変数の頭に'a_'をつける
print('please input file name:   ')
f_name = input()

#GLGSA
_14_glgsa = pd.read_table(f_name + '_glgsa.log', \
                                             delimiter=',', \
                                             names = col_glgsa)

#GPGSA
_14_gpgsa = pd.read_table(f_name + '_gpgsa.log', \
                                             delimiter=',', \
                                             names = col_gpgsa)

   
#GPGGA
_14_gpgga = pd.read_table(f_name + '_gpgga.log', \
                                             delimiter=',', \
                                             names = col_gpgga)

#GPRMC
_14_gprmc = pd.read_table(f_name + '_gprmc.log', \
                                             delimiter=',', \
                                             names = col_gprmc)
#GPVTG
_14_gpvtg = pd.read_table(f_name + '_gpvtg.log', \
                                             delimiter=',', \
                                             names = col_gpvtg)
#GPZDA
_14_gpzda = pd.read_table(f_name + '_gpzda.log', \
                                             delimiter=',', \
                                             names = col_gpzda)


#GPGSV,x,1
_14_gpgsv_1 = pd.read_table(f_name + '_gpgsv_1.log', \
                                             delimiter=',', \
                                             names = col_gpgsv)
#GPGSV,x,2
_14_gpgsv_2 = pd.read_table(f_name + '_gpgsv_2.log', \
                                             delimiter=',', \
                                             names = col_gpgsv)
#GPGSV,x,3
_14_gpgsv_3 = pd.read_table(f_name + '_gpgsv_3.log', \
                                             delimiter=',', \
                                             names= col_gpgsv)
#GPGSV,x,4
_14_gpgsv_4 = pd.read_table(f_name + '_gpgsv_4.log', \
                                             delimiter=',', \
                                             names= col_gpgsv)


#GLGSV,x,1
_14_glgsv_1 = pd.read_table(f_name + '_glgsv_1.log', \
                                             delimiter=',', \
                                             names = col_glgsv)
#glgsv,x,2
_14_glgsv_2 = pd.read_table(f_name + '_glgsv_2.log', \
                                             delimiter=',', \
                                             names = col_glgsv)
#glgsv,x,3
_14_glgsv_3 = pd.read_table(f_name + '_glgsv_3.log', \
                                             delimiter=',', \
                                             names= col_glgsv)
#glgsv,x,4
_14_glgsv_4 = pd.read_table(f_name + '_glgsv_4.log', \
                                             delimiter=',', \
                                             names= col_glgsv)

please input file name:
14

In [22]:
# ログファイルをpandasのデータフレームの形式で読み込む
#ここでは、ファイル名をユーザー入力の形式で指定する
#1番目に読み込んだログフmァイルの変数の頭に'a_'をつける
print('please input file name:   ')
f_name = input()

#GLGSA
_15_glgsa = pd.read_table(f_name + '_glgsa.log', \
                                             delimiter=',', \
                                             names = col_glgsa)

#GPGSA
_15_gpgsa = pd.read_table(f_name + '_gpgsa.log', \
                                             delimiter=',', \
                                             names = col_gpgsa)

   
#GPGGA
_15_gpgga = pd.read_table(f_name + '_gpgga.log', \
                                             delimiter=',', \
                                             names = col_gpgga)

#GPRMC
_15_gprmc = pd.read_table(f_name + '_gprmc.log', \
                                             delimiter=',', \
                                             names = col_gprmc)
#GPVTG
_15_gpvtg = pd.read_table(f_name + '_gpvtg.log', \
                                             delimiter=',', \
                                             names = col_gpvtg)
#GPZDA
_15_gpzda = pd.read_table(f_name + '_gpzda.log', \
                                             delimiter=',', \
                                             names = col_gpzda)


#GPGSV,x,1
_15_gpgsv_1 = pd.read_table(f_name + '_gpgsv_1.log', \
                                             delimiter=',', \
                                             names = col_gpgsv)
#GPGSV,x,2
_15_gpgsv_2 = pd.read_table(f_name + '_gpgsv_2.log', \
                                             delimiter=',', \
                                             names = col_gpgsv)
#GPGSV,x,3
_15_gpgsv_3 = pd.read_table(f_name + '_gpgsv_3.log', \
                                             delimiter=',', \
                                             names= col_gpgsv)
#GPGSV,x,4
_15_gpgsv_4 = pd.read_table(f_name + '_gpgsv_4.log', \
                                             delimiter=',', \
                                             names= col_gpgsv)


#GLGSV,x,1
_15_glgsv_1 = pd.read_table(f_name + '_glgsv_1.log', \
                                             delimiter=',', \
                                             names = col_glgsv)
#glgsv,x,2
_15_glgsv_2 = pd.read_table(f_name + '_glgsv_2.log', \
                                             delimiter=',', \
                                             names = col_glgsv)
#glgsv,x,3
_15_glgsv_3 = pd.read_table(f_name + '_glgsv_3.log', \
                                             delimiter=',', \
                                             names= col_glgsv)
#glgsv,x,4
_15_glgsv_4 = pd.read_table(f_name + '_glgsv_4.log', \
                                             delimiter=',', \
                                             names= col_glgsv)

please input file name:
15

In [23]:
# ログファイルをpandasのデータフレームの形式で読み込む
#ここでは、ファイル名をユーザー入力の形式で指定する
#1番目に読み込んだログフmァイルの変数の頭に'a_'をつける
print('please input file name:   ')
f_name = input()

#GLGSA
_16_glgsa = pd.read_table(f_name + '_glgsa.log', \
                                             delimiter=',', \
                                             names = col_glgsa)

#GPGSA
_16_gpgsa = pd.read_table(f_name + '_gpgsa.log', \
                                             delimiter=',', \
                                             names = col_gpgsa)

   
#GPGGA
_16_gpgga = pd.read_table(f_name + '_gpgga.log', \
                                             delimiter=',', \
                                             names = col_gpgga)

#GPRMC
_16_gprmc = pd.read_table(f_name + '_gprmc.log', \
                                             delimiter=',', \
                                             names = col_gprmc)
#GPVTG
_16_gpvtg = pd.read_table(f_name + '_gpvtg.log', \
                                             delimiter=',', \
                                             names = col_gpvtg)
#GPZDA
_16_gpzda = pd.read_table(f_name + '_gpzda.log', \
                                             delimiter=',', \
                                             names = col_gpzda)


#GPGSV,x,1
_16_gpgsv_1 = pd.read_table(f_name + '_gpgsv_1.log', \
                                             delimiter=',', \
                                             names = col_gpgsv)
#GPGSV,x,2
_16_gpgsv_2 = pd.read_table(f_name + '_gpgsv_2.log', \
                                             delimiter=',', \
                                             names = col_gpgsv)
#GPGSV,x,3
_16_gpgsv_3 = pd.read_table(f_name + '_gpgsv_3.log', \
                                             delimiter=',', \
                                             names= col_gpgsv)
#GPGSV,x,4
_16_gpgsv_4 = pd.read_table(f_name + '_gpgsv_4.log', \
                                             delimiter=',', \
                                             names= col_gpgsv)


#GLGSV,x,1
_16_glgsv_1 = pd.read_table(f_name + '_glgsv_1.log', \
                                             delimiter=',', \
                                             names = col_glgsv)
#glgsv,x,2
_16_glgsv_2 = pd.read_table(f_name + '_glgsv_2.log', \
                                             delimiter=',', \
                                             names = col_glgsv)
#glgsv,x,3
_16_glgsv_3 = pd.read_table(f_name + '_glgsv_3.log', \
                                             delimiter=',', \
                                             names= col_glgsv)
#glgsv,x,4
_16_glgsv_4 = pd.read_table(f_name + '_glgsv_4.log', \
                                             delimiter=',', \
                                             names= col_glgsv)

please input file name:
16

In [24]:
# ログファイルをpandasのデータフレームの形式で読み込む
#ここでは、ファイル名をユーザー入力の形式で指定する
#1番目に読み込んだログフmァイルの変数の頭に'a_'をつける
print('please input file name:   ')
f_name = input()

#GLGSA
_17_glgsa = pd.read_table(f_name + '_glgsa.log', \
                                             delimiter=',', \
                                             names = col_glgsa)

#GPGSA
_17_gpgsa = pd.read_table(f_name + '_gpgsa.log', \
                                             delimiter=',', \
                                             names = col_gpgsa)

   
#GPGGA
_17_gpgga = pd.read_table(f_name + '_gpgga.log', \
                                             delimiter=',', \
                                             names = col_gpgga)

#GPRMC
_17_gprmc = pd.read_table(f_name + '_gprmc.log', \
                                             delimiter=',', \
                                             names = col_gprmc)
#GPVTG
_17_gpvtg = pd.read_table(f_name + '_gpvtg.log', \
                                             delimiter=',', \
                                             names = col_gpvtg)
#GPZDA
_17_gpzda = pd.read_table(f_name + '_gpzda.log', \
                                             delimiter=',', \
                                             names = col_gpzda)


#GPGSV,x,1
_17_gpgsv_1 = pd.read_table(f_name + '_gpgsv_1.log', \
                                             delimiter=',', \
                                             names = col_gpgsv)
#GPGSV,x,2
_17_gpgsv_2 = pd.read_table(f_name + '_gpgsv_2.log', \
                                             delimiter=',', \
                                             names = col_gpgsv)
#GPGSV,x,3
_17_gpgsv_3 = pd.read_table(f_name + '_gpgsv_3.log', \
                                             delimiter=',', \
                                             names= col_gpgsv)
#GPGSV,x,4
_17_gpgsv_4 = pd.read_table(f_name + '_gpgsv_4.log', \
                                             delimiter=',', \
                                             names= col_gpgsv)


#GLGSV,x,1
_17_glgsv_1 = pd.read_table(f_name + '_glgsv_1.log', \
                                             delimiter=',', \
                                             names = col_glgsv)
#glgsv,x,2
_17_glgsv_2 = pd.read_table(f_name + '_glgsv_2.log', \
                                             delimiter=',', \
                                             names = col_glgsv)
#glgsv,x,3
_17_glgsv_3 = pd.read_table(f_name + '_glgsv_3.log', \
                                             delimiter=',', \
                                             names= col_glgsv)
#glgsv,x,4
_17_glgsv_4 = pd.read_table(f_name + '_glgsv_4.log', \
                                             delimiter=',', \
                                             names= col_glgsv)

please input file name:
17

In [25]:
all_0917_list = [
    _1_glgsa, _1_gpgsa, _1_gpgga, _1_gpgsa, _1_gprmc, _1_gpvtg, _1_gpzda, 
    _1_gpgsv_1, _1_gpgsv_2 ,_1_gpgsv_3, _1_gpgsv_4,
    _1_glgsv_1, _1_glgsv_2, _1_glgsv_3, _1_glgsv_4,
    _2_glgsa, _2_gpgsa, _2_gpgga, _2_gpgsa, _2_gprmc, _2_gpvtg, _2_gpzda, 
    _2_gpgsv_1, _2_gpgsv_2 ,_2_gpgsv_3, _2_gpgsv_4,
    _2_glgsv_1, _2_glgsv_2, _2_glgsv_3, _2_glgsv_4 ,
    _3_glgsa, _3_gpgsa, _3_gpgga, _3_gpgsa, _3_gprmc, _3_gpvtg, _3_gpzda,
    _3_gpgsv_1, _3_gpgsv_2 ,_3_gpgsv_3, _3_gpgsv_4,
    _3_glgsv_1, _3_glgsv_2, _3_glgsv_3, _3_glgsv_4 ,  
    _4_glgsa, _4_gpgsa, _4_gpgga, _4_gpgsa, _4_gprmc, _4_gpvtg, _4_gpzda,
    _4_gpgsv_1, _4_gpgsv_2 ,_4_gpgsv_3, _4_gpgsv_4,
    _4_glgsv_1, _4_glgsv_2, _4_glgsv_3, _4_glgsv_4 ,
    _5_glgsa, _5_gpgsa, _5_gpgga, _5_gpgsa, _5_gprmc, _5_gpvtg, _5_gpzda,
    _5_gpgsv_1, _5_gpgsv_2 ,_5_gpgsv_3, _5_gpgsv_4,
    _5_glgsv_1, _5_glgsv_2, _5_glgsv_3, _5_glgsv_4 , 
    _6_glgsa, _6_gpgsa, _6_gpgga, _6_gpgsa, _6_gprmc, _6_gpvtg, _6_gpzda, 
    _6_gpgsv_1, _6_gpgsv_2 ,_6_gpgsv_3, _6_gpgsv_4,
    _6_glgsv_1, _6_glgsv_2, _6_glgsv_3, _6_glgsv_4 ,
    _7_glgsa, _7_gpgsa, _7_gpgga, _7_gpgsa, _7_gprmc, _7_gpvtg, _7_gpzda, 
    _7_gpgsv_1, _7_gpgsv_2 ,_7_gpgsv_3, _7_gpgsv_4,
    _7_glgsv_1, _7_glgsv_2, _7_glgsv_3, _7_glgsv_4 ,
    _8_glgsa, _8_gpgsa, _8_gpgga, _8_gpgsa, _8_gprmc, _8_gpvtg, _8_gpzda,
    _8_gpgsv_1, _8_gpgsv_2 ,_8_gpgsv_3, _8_gpgsv_4,
    _8_glgsv_1, _8_glgsv_2, _8_glgsv_3, _8_glgsv_4 ,
    _9_glgsa, _9_gpgsa, _9_gpgga, _9_gpgsa, _9_gprmc, _9_gpvtg, _9_gpzda, 
    _9_gpgsv_1, _9_gpgsv_2 ,_9_gpgsv_3, _9_gpgsv_4,
    _9_glgsv_1, _9_glgsv_2, _9_glgsv_3, _9_glgsv_4 ,
    _10_glgsa, _10_gpgsa, _10_gpgga, _10_gpgsa, _10_gprmc, _10_gpvtg, _10_gpzda,
    _10_gpgsv_1, _10_gpgsv_2 ,_10_gpgsv_3, _10_gpgsv_4,
    _10_glgsv_1, _10_glgsv_2, _10_glgsv_3, _10_glgsv_4 ,
    _11_glgsa, _11_gpgsa, _11_gpgga, _11_gpgsa, _11_gprmc, _11_gpvtg, _11_gpzda, 
    _11_gpgsv_1, _11_gpgsv_2 ,_11_gpgsv_3, _11_gpgsv_4,
    _11_glgsv_1, _11_glgsv_2, _11_glgsv_3, _11_glgsv_4 ,
    _12_glgsa, _12_gpgsa, _12_gpgga, _12_gpgsa, _12_gprmc, _12_gpvtg, _12_gpzda,
    _12_gpgsv_1, _12_gpgsv_2 ,_12_gpgsv_3, _12_gpgsv_4,
    _12_glgsv_1, _12_glgsv_2, _12_glgsv_3, _12_glgsv_4 ,
    _13_glgsa, _13_gpgsa, _13_gpgga, _13_gpgsa, _13_gprmc, _13_gpvtg, _13_gpzda,
    _13_gpgsv_1, _13_gpgsv_2 ,_13_gpgsv_3, _13_gpgsv_4,
    _13_glgsv_1, _13_glgsv_2, _13_glgsv_3, _13_glgsv_4 ,
    _14_glgsa, _14_gpgsa, _14_gpgga, _14_gpgsa, _14_gprmc, _14_gpvtg, _14_gpzda, 
    _14_gpgsv_1, _14_gpgsv_2 ,_14_gpgsv_3, _14_gpgsv_4,
    _14_glgsv_1, _14_glgsv_2, _14_glgsv_3, _14_glgsv_4 , 
    _15_glgsa, _15_gpgsa, _15_gpgga, _15_gpgsa, _15_gprmc, _15_gpvtg, _15_gpzda,
    _15_gpgsv_1, _15_gpgsv_2 ,_15_gpgsv_3, _15_gpgsv_4,
    _15_glgsv_1, _15_glgsv_2, _15_glgsv_3, _15_glgsv_4 ,
    _16_glgsa, _16_gpgsa, _16_gpgga, _16_gpgsa, _16_gprmc, _16_gpvtg, _16_gpzda,
    _16_gpgsv_1, _16_gpgsv_2 ,_16_gpgsv_3, _16_gpgsv_4,
    _16_glgsv_1, _16_glgsv_2, _16_glgsv_3, _16_glgsv_4 ,
    _17_glgsa, _17_gpgsa, _17_gpgga, _17_gpgsa, _17_gprmc, _17_gpvtg, _17_gpzda,
    _17_gpgsv_1, _17_gpgsv_2 ,_17_gpgsv_3, _17_gpgsv_4,
    _17_glgsv_1, _17_glgsv_2, _17_glgsv_3, _17_glgsv_4 ,
]

In [26]:
#GPGGAのリスト
all_gpgga_list = [
    _1_gpgga,
    _2_gpgga,
    _3_gpgga,
    _4_gpgga,
    _5_gpgga,
    _6_gpgga,
    _7_gpgga,
    _8_gpgga,
    _9_gpgga,
    _10_gpgga,
    _11_gpgga,
    _12_gpgga,
    _13_gpgga,
    _14_gpgga,
    _15_gpgga,
    _16_gpgga,
    _17_gpgga,
]

In [27]:
#glgsaのリスト
all_glgsa_list = [
    _1_glgsa,
    _2_glgsa,
    _3_glgsa,
    _4_glgsa,
    _5_glgsa,
    _6_glgsa,
    _7_glgsa,
    _8_glgsa,
    _9_glgsa,
    _10_glgsa,
    _11_glgsa,
    _12_glgsa,
    _13_glgsa,
    _14_glgsa,
    _15_glgsa,
    _16_glgsa,
    _17_glgsa,
]

In [28]:
#glgsaのリスト
all_glgsa_list = [
    _1_glgsa,
    _2_glgsa,
    _3_glgsa,
    _4_glgsa,
    _5_glgsa,
    _6_glgsa,
    _7_glgsa,
    _8_glgsa,
    _9_glgsa,
    _10_glgsa,
    _11_glgsa,
    _12_glgsa,
    _13_glgsa,
    _14_glgsa,
    _15_glgsa,
    _16_glgsa,
    _17_glgsa,
]

In [29]:
#gprmcのリスト
all_gprmc_list = [
    _1_gprmc,
    _2_gprmc,
    _3_gprmc,
    _4_gprmc,
    _5_gprmc,
    _6_gprmc,
    _7_gprmc,
    _8_gprmc,
    _9_gprmc,
    _10_gprmc,
    _11_gprmc,
    _12_gprmc,
    _13_gprmc,
    _14_gprmc,
    _15_gprmc,
    _16_gprmc,
    _17_gprmc,
]

In [30]:
#gpvtgのリスト
all_gpvtg_list = [
    _1_gpvtg,
    _2_gpvtg,
    _3_gpvtg,
    _4_gpvtg,
    _5_gpvtg,
    _6_gpvtg,
    _7_gpvtg,
    _8_gpvtg,
    _9_gpvtg,
    _10_gpvtg,
    _11_gpvtg,
    _12_gpvtg,
    _13_gpvtg,
    _14_gpvtg,
    _15_gpvtg,
    _16_gpvtg,
    _17_gpvtg,
]

In [31]:
#gpzdaのリスト
all_gpzda_list = [
    _1_gpzda,
    _2_gpzda,
    _3_gpzda,
    _4_gpzda,
    _5_gpzda,
    _6_gpzda,
    _7_gpzda,
    _8_gpzda,
    _9_gpzda,
    _10_gpzda,
    _11_gpzda,
    _12_gpzda,
    _13_gpzda,
    _14_gpzda,
    _15_gpzda,
    _16_gpzda,
    _17_gpzda,
]

In [32]:
all_gpgsv_list = [
    _1_gpgsv_1, _1_gpgsv_2 ,_1_gpgsv_3, _1_gpgsv_4,
    _2_gpgsv_1, _2_gpgsv_2 ,_2_gpgsv_3, _2_gpgsv_4,
    _3_gpgsv_1, _3_gpgsv_2 ,_3_gpgsv_3, _3_gpgsv_4,
    _4_gpgsv_1, _4_gpgsv_2 ,_4_gpgsv_3, _4_gpgsv_4,
    _5_gpgsv_1, _5_gpgsv_2 ,_5_gpgsv_3, _5_gpgsv_4,
    _6_gpgsv_1, _6_gpgsv_2 ,_6_gpgsv_3, _6_gpgsv_4,
    _7_gpgsv_1, _7_gpgsv_2 ,_7_gpgsv_3, _7_gpgsv_4,
    _8_gpgsv_1, _8_gpgsv_2 ,_8_gpgsv_3, _8_gpgsv_4,
    _9_gpgsv_1, _9_gpgsv_2 ,_9_gpgsv_3, _9_gpgsv_4,
    _10_gpgsv_1, _10_gpgsv_2 ,_10_gpgsv_3, _10_gpgsv_4,
    _11_gpgsv_1, _11_gpgsv_2 ,_11_gpgsv_3, _11_gpgsv_4,
    _12_gpgsv_1, _12_gpgsv_2 ,_12_gpgsv_3, _12_gpgsv_4,
    _13_gpgsv_1, _13_gpgsv_2 ,_13_gpgsv_3, _13_gpgsv_4,
    _14_gpgsv_1, _14_gpgsv_2 ,_14_gpgsv_3, _14_gpgsv_4,
    _15_gpgsv_1, _15_gpgsv_2 ,_15_gpgsv_3, _15_gpgsv_4,
    _16_gpgsv_1, _16_gpgsv_2 ,_16_gpgsv_3, _16_gpgsv_4,
    _17_gpgsv_1, _17_gpgsv_2 ,_17_gpgsv_3, _17_gpgsv_4,
]

In [33]:
all_glgsv_list = [
    _1_glgsv_1, _1_glgsv_2 ,_1_glgsv_3, _1_glgsv_4,
    _2_glgsv_1, _2_glgsv_2 ,_2_glgsv_3, _2_glgsv_4,
    _3_glgsv_1, _3_glgsv_2 ,_3_glgsv_3, _3_glgsv_4,
    _4_glgsv_1, _4_glgsv_2 ,_4_glgsv_3, _4_glgsv_4,
    _5_glgsv_1, _5_glgsv_2 ,_5_glgsv_3, _5_glgsv_4,
    _6_glgsv_1, _6_glgsv_2 ,_6_glgsv_3, _6_glgsv_4,
    _7_glgsv_1, _7_glgsv_2 ,_7_glgsv_3, _7_glgsv_4,
    _8_glgsv_1, _8_glgsv_2 ,_8_glgsv_3, _8_glgsv_4,
    _9_glgsv_1, _9_glgsv_2 ,_9_glgsv_3, _9_glgsv_4,
    _10_glgsv_1, _10_glgsv_2 ,_10_glgsv_3, _10_glgsv_4,
    _11_glgsv_1, _11_glgsv_2 ,_11_glgsv_3, _11_glgsv_4,
    _12_glgsv_1, _12_glgsv_2 ,_12_glgsv_3, _12_glgsv_4,
    _13_glgsv_1, _13_glgsv_2 ,_13_glgsv_3, _13_glgsv_4,
    _14_glgsv_1, _14_glgsv_2 ,_14_glgsv_3, _14_glgsv_4,
    _15_glgsv_1, _15_glgsv_2 ,_15_glgsv_3, _15_glgsv_4,
    _16_glgsv_1, _16_glgsv_2 ,_16_glgsv_3, _16_glgsv_4,
    _17_glgsv_1, _17_glgsv_2 ,_17_glgsv_3, _17_glgsv_4,
]

In [34]:
#1のGPGGAの要約統計量
_1_gpgga.describe()

,Time,Lat,Lon,Fix_quality_0/1/2,Number_of_satelites,HDOP,Altitude,H-geoid,Time_since_last_DGPS_update,checksum
count,349.000000,349.000000,349.000000,349.000000,349.000000,349.000000,349.000000,3.490000e+02,250.000000,0.0
mean,17579.097421,3438.506386,13548.892159,3.194842,16.650430,0.986819,57.281242,3.806000e+01,1.004000,NaN
std,2119.345260,0.000272,0.000278,1.398635,0.637327,0.033876,1.286252,9.250318e-14,0.063246,NaN
min,15632.000000,3438.505303,13548.891341,1.000000,16.000000,0.900000,52.171800,3.806000e+01,1.000000,NaN
25%,15802.000000,3438.506138,13548.891867,1.000000,16.000000,1.000000,57.090700,3.806000e+01,1.000000,NaN
50%,15929.000000,3438.506533,13548.892294,4.000000,17.000000,1.000000,57.133500,3.806000e+01,1.000000,NaN
75%,20056.000000,3438.506547,13548.892308,4.000000,17.000000,1.000000,57.163800,3.806000e+01,1.000000,NaN
max,20224.000000,3438.506835,13548.892594,5.000000,18.000000,1.000000,63.423800,3.806000e+01,2.000000,NaN

In [35]:
#2のGPGGAの要約統計量
_2_gpgga.describe()

,Time,Lat,Lon,Fix_quality_0/1/2,Number_of_satelites,HDOP,Altitude,H-geoid,Time_since_last_DGPS_update,checksum
count,874.000000,874.000000,874.000000,874.0,874.000000,874.000000,874.000000,8.740000e+02,874.000000,0.0
mean,21657.592677,3438.508774,13548.895589,4.0,14.514874,1.157666,57.155498,3.806000e+01,1.008009,NaN
std,423.682437,0.008015,0.010127,0.0,1.262875,0.177850,0.262420,5.261027e-13,0.101218,NaN
min,20906.000000,3438.496720,13548.868224,4.0,9.000000,0.900000,56.912700,3.806000e+01,1.000000,NaN
25%,21309.250000,3438.505350,13548.894722,4.0,14.000000,1.000000,57.051025,3.806000e+01,1.000000,NaN
50%,21647.500000,3438.507969,13548.899198,4.0,15.000000,1.100000,57.100050,3.806000e+01,1.000000,NaN
75%,22025.750000,3438.508222,13548.900431,4.0,15.000000,1.300000,57.159350,3.806000e+01,1.000000,NaN
max,22404.000000,3438.530227,13548.907553,4.0,16.000000,2.100000,58.455000,3.806000e+01,3.000000,NaN

In [36]:
#1のGPVTGの要約統計量
_1_gpvtg.describe()

,GPVTG,Track_degrees_True,T,Magnetic_degreese,M,knots,N,kilometers,K,10
count,0,0,0,0,0,0,0,0,0,0
unique,0,0,0,0,0,0,0,0,0,0

In [37]:
#2のGPVTGの要約統計量
_2_gpvtg.describe()

,GPVTG,Track_degrees_True,T,Magnetic_degreese,M,knots,N,kilometers,K,10
count,0,0,0,0,0,0,0,0,0,0
unique,0,0,0,0,0,0,0,0,0,0

In [38]:
##画像読み込みのためにPillowとnumpyをインストール
#import numpy as np
#from PIL import Image
##画像は今のところ、後で合成することにしている

In [39]:
#ipython notebook内で表示できるようにする
#%matplotlib inline

座標がずれていることの確認
- できるだけ単純なコースでテストする
- 同じ条件でテストした緯度経度でプロットする
- 緯度だけをプロットする
- 経度だけをプロットする
- 大きくずれている点があるのであれば、だいたいの行数を確認する
- 要約統計量を出して、衛星番号を確認する
- 衛星番号が同じものであれば、行数をx軸に、SNR比をy軸にして出力して、同じ行数でどのように動作しているかを確認する

In [40]:
#11_d47_fastの座標をプロットする
plt.plot(_1_gpgga['Lon'], _1_gpgga['Lat'])
plt.show()
#plt.savefig('_1_Lon-Lat.png', #transparent=True
#           )

In [41]:
#11_d47_fastの座標をプロットする
plt.plot(_2_gpgga['Lon'], _2_gpgga['Lat'])
plt.show()
#plt.savefig('_2_Lon-Lat.png', #transparent=True
#           )

In [42]:
#11_d47_fastの座標をプロットする
plt.plot(_3_gpgga['Lon'], _3_gpgga['Lat'])
plt.show()
#plt.savefig('_3_Lon-Lat.png', #transparent=True
#           )

In [43]:
#11_d47_fastの座標をプロットする
plt.plot(_4_gpgga['Lon'], _4_gpgga['Lat'])
plt.show()
#plt.savefig('_4_Lon-Lat.png', #transparent=True
#           )

In [44]:
#11_d47_fastの座標をプロットする
plt.plot(_5_gpgga['Lon'], _5_gpgga['Lat'])
plt.show()
#plt.savefig('_5_Lon-Lat.png', #transparent=True
#           )

In [50]:
#11_d47_fastの座標をプロットする
plt.plot(_6_gpgga['Lon'], _6_gpgga['Lat'])
plt.show()
#plt.savefig('_6_Lon-Lat.png', #transparent=True
#           )

In [51]:
#11_d47_fastの座標をプロットする
plt.plot(_7_gpgga['Lon'], _7_gpgga['Lat'])
plt.show()
#plt.savefig('_7_Lon-Lat.png', #transparent=True
#           )

In [52]:
#11_d47_fastの座標をプロットする
plt.plot(_8_gpgga['Lon'], _8_gpgga['Lat'])
plt.show()
#plt.savefig('_8_Lon-Lat.png', #transparent=True
#           )

In [53]:
#11_d47_fastの座標をプロットする
plt.plot(_9_gpgga['Lon'], _9_gpgga['Lat'])
plt.show()
#plt.savefig('_9_Lon-Lat.png', #transparent=True
#           )

In [54]:
#11_d47_fastの座標をプロットする
plt.plot(_10_gpgga['Lon'], _10_gpgga['Lat'])
plt.show()
#plt.savefig('_10_Lon-Lat.png', #transparent=True
#           )

In [55]:
#11_d47_fastの座標をプロットする
plt.plot(_11_gpgga['Lon'], _11_gpgga['Lat'])
plt.show()
#plt.savefig('_11_Lon-Lat.png', #transparent=True
#           )

In [56]:
#11_d47_fastの座標をプロットする
plt.plot(_12_gpgga['Lon'], _12_gpgga['Lat'])
plt.show()
#plt.savefig('_12_Lon-Lat.png', #transparent=True
#           )

In [57]:
#11_d47_fastの座標をプロットする
plt.plot(_13_gpgga['Lon'], _13_gpgga['Lat'])
plt.show()
#plt.savefig('_13_Lon-Lat.png', #transparent=True
#           )

In [58]:
#11_d47_fastの座標をプロットする
plt.plot(_14_gpgga['Lon'], _14_gpgga['Lat'])
plt.show()
#plt.savefig('_14_Lon-Lat.png', #transparent=True
#           )

In [59]:
#11_d47_fastの座標をプロットする
plt.plot(_15_gpgga['Lon'], _15_gpgga['Lat'])
plt.show()
#plt.savefig('_15_Lon-Lat.png', #transparent=True
#           )

In [60]:
#11_d47_fastの座標をプロットする
plt.plot(_16_gpgga['Lon'], _16_gpgga['Lat'])
plt.show()
#plt.savefig('_16_Lon-Lat.png', #transparent=True
#           )

In [61]:
#11_d47_fastの座標をプロットする
plt.plot(_17_gpgga['Lon'], _17_gpgga['Lat'])
plt.show()
#plt.savefig('_17_Lon-Lat.png', #transparent=True
#           )

In [62]:
#とりあえず全部の緯度・経度をプロットする
for all_gpgga in all_gpgga_list:
    plt.plot(all_gpgga['Lon'], all_gpgga['Lat'])

plt.legend([ '1','2','3', '4','5','6', '7', '8', '9', '10', '11', '12', '13','14', '15', '16', '17'], loc='upper left')
plt.show()
#plt.savefig('_17_Lon-Lat.png', #transparent=True
#           )

In [63]:
#11回目以外のGPGGAのリスト
ex11_gpgga_list = [
    _1_gpgga,
    _2_gpgga,
    _3_gpgga,
    _4_gpgga,
    _5_gpgga,
    _6_gpgga,
    _7_gpgga,
    _8_gpgga,
    _9_gpgga,
    _10_gpgga,
    #_11_gpgga,
    _12_gpgga,
    _13_gpgga,
    _14_gpgga,
    _15_gpgga,
    _16_gpgga,
    _17_gpgga,
]

In [64]:
#11がおかしいので、それ以外の緯度・経度をプロットする
for ex11_gpgga in ex11_gpgga_list:
    plt.plot(ex11_gpgga['Lon'], ex11_gpgga['Lat'])

#枠外に凡例を表示しないと見えないので、凡例を外の余白に指定する
plt.subplots_adjust(right=0.7)
plt.legend([ '1','2','3', '4','5','6', '7', '8', '9', '10', '12', '13','14', '15', '16', '17'], loc='upper left', bbox_to_anchor=(1.05, 1))

plt.show()
#plt.savefig('_17_Lon-Lat.png', #transparent=True
#           )

In [65]:
#5mGPGGAのリスト
_5m_gpgga_list = [
    #_1_gpgga,
    _2_gpgga,
    _3_gpgga,
    #_4_gpgga,_5_gpgga,
    _6_gpgga,
    _7_gpgga,
    #_8_gpgga,_9_gpgga,_10_gpgga,
    #_11_gpgga,_12_gpgga,_13_gpgga,
    _14_gpgga,
    _15_gpgga,
    #_16_gpgga,_17_gpgga,
]

In [66]:
#5mの緯度・経度をプロットする
for _5m_gpgga in _5m_gpgga_list:
    plt.plot(_5m_gpgga['Lon'], _5m_gpgga['Lat'])

#枠外に凡例を表示しないと見えないので、凡例を外の余白に指定する
plt.subplots_adjust(right=0.7)
plt.legend(['2','3', '6', '7', '14', '15'], loc='upper left',bbox_to_anchor=(1.05, 1))

plt.show()
#plt.savefig('_17_Lon-Lat.png', #transparent=True
#           )

In [67]:
#3mGPGGAのリスト
_3m_gpgga_list = [
    #_1_gpgga,
    #_2_gpgga, _3_gpgga,
    _4_gpgga,
    _5_gpgga,
   # _6_gpgga,_7_gpgga,
    _8_gpgga,
    _9_gpgga,
    _10_gpgga,
    #_11_gpgga,_12_gpgga,_13_gpgga,
    #_14_gpgga,_15_gpgga,
    _16_gpgga,
    _17_gpgga,
]

In [68]:
#5mの緯度・経度をプロットする
for _3m_gpgga in _3m_gpgga_list:
    plt.plot(_3m_gpgga['Lon'], _3m_gpgga['Lat'])

#枠外に凡例を表示しないと見えないので、凡例を外の余白に指定する
plt.subplots_adjust(right=0.7)
plt.legend(['4','5', '8', '9', '10','16', '17'], loc='upper left',bbox_to_anchor=(1.05, 1))

plt.show()
#plt.savefig('_17_Lon-Lat.png', #transparent=True
#           )

In [69]:
#起動からFixのリスト
start_fix_list = [
    _1_gpgga,
    #_2_gpgga, _3_gpgga,
    #_4_gpgga,_5_gpgga,
   # _6_gpgga,_7_gpgga,
    #_8_gpgga,_9_gpgga,_10_gpgga,
    _11_gpgga,_12_gpgga,_13_gpgga,
    #_14_gpgga,_15_gpgga,
    #_16_gpgga,_17_gpgga,
]

In [70]:
#起動中の座標をプロットする
for start_fix in start_fix_list:
    plt.plot(start_fix['Lon'], start_fix['Lat'])

plt.show()
#plt.savefig('_17_Lon-Lat.png', #transparent=True
#           )

In [71]:
#使用衛星数を調べる
for all_gpgga in all_gpgga_list:
    plt.plot(all_gpgga['Number_of_satelites'])

#枠外に凡例を表示しないと見えないので、凡例を外の余白に指定する
plt.subplots_adjust(right=0.7)
plt.legend([ '1','2','3', '4','5','6', '7', '8', '9', '10', '12', '13','14', '15', '16', '17'], loc='upper left', bbox_to_anchor=(1.05, 1))

#20個以上になることはありえないため、y軸の上限は20に設定
plt.ylim([0,20])
plt.show()

In [72]:
#GPGGAのAMリスト
am_gpgga_list = [
   # _1_gpgga,
    _2_gpgga,_3_gpgga,_4_gpgga,_5_gpgga,
   # _6_gpgga,_7_gpgga,_8_gpgga,_9_gpgga,_10_gpgga,
   # _11_gpgga,_12_gpgga,_13_gpgga,
   # _14_gpgga,_15_gpgga,_16_gpgga,_17_gpgga,
]

In [73]:
#GPGGAのPM1リスト
pm1_gpgga_list = [
    #_1_gpgga,
    #_2_gpgga,_3_gpgga,_4_gpgga,_5_gpgga,
    _6_gpgga,_7_gpgga,_8_gpgga,
    #_9_gpgga,
    _10_gpgga,
    #_11_gpgga,_12_gpgga,_13_gpgga,
    #_14_gpgga,_15_gpgga,_16_gpgga,_17_gpgga,
]

In [74]:
#GPGGAのPM2リスト
pm2_gpgga_list = [
    #_1_gpgga,
    #_2_gpgga,_3_gpgga,_4_gpgga,_5_gpgga,
    #_6_gpgga,_7_gpgga,_8_gpgga,_9_gpgga,_10_gpgga,
    #_11_gpgga,_12_gpgga,_13_gpgga,
    _14_gpgga,_15_gpgga,_16_gpgga,_17_gpgga,
]

In [75]:
#使用衛星数を調べる
#わかりにくかったので、午前と午後で色を分けてみる

#あまり関係なさそう
for am_gpgga, pm1_gpgga, pm2_gpgga,  in zip(am_gpgga_list, pm1_gpgga_list, pm2_gpgga_list):
    plt.plot(am_gpgga['Number_of_satelites'], color='r')
    plt.plot(pm1_gpgga['Number_of_satelites'], color='g')
    plt.plot(pm2_gpgga['Number_of_satelites'], color='b')


#枠外に凡例を表示しないと見えないので、凡例を外の余白に指定する
plt.subplots_adjust(right=0.7)
plt.legend([ 
        #'1',
        '2','3', '4','5','6', '7', '8', 
        #'9', 
        '10', 
        #'12', '13',
        '14', '15', '16', '17'], loc='upper left', bbox_to_anchor=(1.05, 1))

#20個以上になることはありえないため、y軸の上限は20に設定
plt.ylim([0,20])
plt.show()

In [76]:
#GPGGAの走行しているリスト
run_gpgga_list = [
   # _1_gpgga,
    _2_gpgga,_3_gpgga,_4_gpgga,_5_gpgga,
    _6_gpgga,_7_gpgga,_8_gpgga,_9_gpgga,_10_gpgga,
   # _11_gpgga,_12_gpgga,_13_gpgga,
    _14_gpgga,_15_gpgga,_16_gpgga,_17_gpgga,
]

In [77]:
#GPGGAの走行しているリスト
stop_gpgga_list = [
    _1_gpgga,
    #_2_gpgga,_3_gpgga,_4_gpgga,_5_gpgga,
    #_6_gpgga,_7_gpgga,_8_gpgga,_9_gpgga,_10_gpgga,
    _11_gpgga,_12_gpgga,_13_gpgga,
    #_14_gpgga,_15_gpgga,_16_gpgga,_17_gpgga,
]

In [78]:
#使用衛星数を調べる
#停止と走行で色を分けてみる

#あまり関係なさそう
for run_gpgga in run_gpgga_list:
    plt.plot(run_gpgga['Number_of_satelites'], color='blue')
    
for stop_gpgga in stop_gpgga_list:
    plt.plot(stop_gpgga['Number_of_satelites'], color='red')

#枠外に凡例を表示しないと見えないので、凡例を外の余白に指定する
plt.subplots_adjust(right=0.7)
plt.legend([ 
        '2','3', '4','5','6', '7', '8', '9', '10', 
        '14', '15', '16', '17',
        '1',
        '11', '12', '13',
    ], loc='upper left', bbox_to_anchor=(1.05, 1))

#20個以上になることはありえないため、y軸の上限は20に設定
plt.ylim([0,20])
plt.show()

In [79]:
#午前、午後、夕方でSNR比を比べてみる

am_list = [
    _2_gpgsv_1, _2_gpgsv_2, _2_gpgsv_3,
    _3_gpgsv_1, _3_gpgsv_2, _3_gpgsv_3,
    _4_gpgsv_1, _4_gpgsv_2, _4_gpgsv_3,
    _5_gpgsv_1, _5_gpgsv_2, _5_gpgsv_3,
]

pm_1_list = [
    _6_gpgsv_1, _6_gpgsv_2, _6_gpgsv_3,
    _7_gpgsv_1, _7_gpgsv_2, _7_gpgsv_3,
    _8_gpgsv_1, _8_gpgsv_2, _8_gpgsv_3,
    _9_gpgsv_1, _9_gpgsv_2, _9_gpgsv_3,
    _10_gpgsv_1, _10_gpgsv_2, _10_gpgsv_3,
]

pm_2_list = [
    _14_gpgsv_1, _14_gpgsv_2, _14_gpgsv_3,
    _15_gpgsv_1, _15_gpgsv_2, _15_gpgsv_3,
    _16_gpgsv_1, _16_gpgsv_2, _16_gpgsv_3,
    _17_gpgsv_1, _17_gpgsv_2, _17_gpgsv_3,
]

snr = ["1_snr", "2_snr","3_snr","4_snr"]

In [80]:
#amをプロット
for am in am_list:
    plt.plot(am.loc[:, snr])

plt.show()

In [81]:
#pm_1をプロット
for pm_1 in pm_1_list:
    plt.plot(pm_1.loc[:, snr])

plt.show()

In [82]:
#pm_2をプロット
for pm_2 in pm_2_list:
    plt.plot(pm_2.loc[:, snr])
    
plt.show()

In [83]:
#AMを青で、PM_1を赤で、PM_2を緑でプロット
for am, pm_1, pm_2 in zip(am_list, pm_1_list, pm_2_list):
    plt.plot(am.loc[:, snr], color='r')
    plt.plot(pm_1.loc[:, snr], color='g')
    plt.plot(pm_2.loc[:, snr], color='b')

plt.show()

In [84]:
#snr比をヒストグラムでプロットする(１回目のセンテンス１)
plt.hist(_1_gpgsv_1['1_snr'], color='r')
plt.hist(_1_gpgsv_1['2_snr'], color='g')
plt.hist(_1_gpgsv_1['3_snr'], color='b')
plt.hist(_1_gpgsv_1['4_snr'], color='y')

#枠外に凡例を表示しないと見えないので、凡例を外の余白に指定する
plt.subplots_adjust(right=0.7)
plt.legend([ 
        '1-1','2-1', '3-1','4-1'#,'6', '7', '8', '9', '10', 
       # '14', '15', '16', '17',
       # '1',
       # '11', '12', '13',
    ], loc='upper left', bbox_to_anchor=(1.05, 1))

plt.show()
#デフォルトでは、snrの値をxにした分布図が表示された

In [101]:
#衛星番号別にSNR比を出す
#カラム名が何になっていたか忘れたので確認する
_1_gpgsv_1.tail()

,GPGSV,Number_of_messages,Message_number,SV_total,1_n,1_ed,1_ad,1_snr,2_n,2_ed,2_ad,2_snr,3_n,3_ed,3_ad,3_snr,4_n,4_ed,4_ad,4_snr
344,$GPGSV,3,1,9,1,63,25,50,22,57,111,46,28,57,307,49,11,52,47,50
345,$GPGSV,3,1,9,1,63,25,50,22,57,111,46,28,57,307,49,11,52,47,50
346,$GPGSV,3,1,9,1,63,25,50,22,57,111,46,28,57,307,49,11,52,47,50
347,$GPGSV,3,1,9,1,63,25,50,22,57,111,45,28,57,307,49,11,52,47,50
348,$GPGSV,3,1,9,1,63,25,50,22,57,111,46,28,57,307,49,11,52,47,50

In [102]:
_1_gpgsv_2.tail()

,GPGSV,Number_of_messages,Message_number,SV_total,1_n,1_ed,1_ad,1_snr,2_n,2_ed,2_ad,2_snr,3_n,3_ed,3_ad,3_snr,4_n,4_ed,4_ad,4_snr
344,$GPGSV,3,2,9,3,51,150,44,8,31,91,44,30,20,234,41,17,23,300,46
345,$GPGSV,3,2,9,3,51,150,44,8,31,91,44,30,20,234,40,17,23,300,46
346,$GPGSV,3,2,9,3,51,150,44,8,31,91,45,30,20,234,39,17,23,300,45
347,$GPGSV,3,2,9,3,51,150,43,8,31,91,45,30,20,234,38,17,23,300,45
348,$GPGSV,3,2,9,3,51,150,44,8,31,91,44,30,20,234,34,17,23,300,46

In [103]:
_1_gpgsv_3.tail()

,GPGSV,Number_of_messages,Message_number,SV_total,1_n,1_ed,1_ad,1_snr,2_n,2_ed,2_ad,2_snr,3_n,3_ed,3_ad,3_snr,4_n,4_ed,4_ad,4_snr
343,$GPGSV,3,3,9,7,90,0,36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
344,$GPGSV,3,3,9,7,90,0,36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
345,$GPGSV,3,3,9,7,90,0,36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
346,$GPGSV,3,3,9,7,90,0,35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
347,$GPGSV,3,3,9,7,90,0,35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [104]:
#要約統計量で確認してみる
_1_gpgsv_1.describe()

,Number_of_messages,Message_number,SV_total,1_n,1_ed,1_ad,1_snr,2_n,2_ed,2_ad,2_snr,3_n,3_ed,3_ad,3_snr,4_n,4_ed,4_ad,4_snr
count,349.0,349.0,349.0,349.0,349.000000,349.000000,349.000000,349.0,349.000000,349.000000,349.000000,349.0,349.000000,349.000000,349.000000,349.0,349.000000,349.000000,349.000000
mean,3.0,1.0,9.0,1.0,64.561605,23.750716,49.613181,22.0,56.495702,113.166189,47.719198,28.0,56.177650,308.386819,48.383954,11.0,53.120344,45.868195,48.232092
std,0.0,0.0,0.0,0.0,0.798572,0.873150,1.260336,0.0,0.500699,1.408473,1.758789,0.0,0.713148,0.848900,1.356710,0.0,0.713067,0.809315,1.198899
min,3.0,1.0,9.0,1.0,63.000000,22.000000,42.000000,22.0,56.000000,111.000000,41.000000,28.0,55.000000,307.000000,42.000000,11.0,52.000000,44.000000,43.000000
25%,3.0,1.0,9.0,1.0,64.000000,23.000000,49.000000,22.0,56.000000,112.000000,47.000000,28.0,56.000000,308.000000,48.000000,11.0,53.000000,45.000000,48.000000
50%,3.0,1.0,9.0,1.0,65.000000,24.000000,50.000000,22.0,56.000000,113.000000,48.000000,28.0,56.000000,308.000000,48.000000,11.0,53.000000,46.000000,48.000000
75%,3.0,1.0,9.0,1.0,65.000000,24.000000,50.000000,22.0,57.000000,114.000000,49.000000,28.0,57.000000,309.000000,49.000000,11.0,54.000000,47.000000,49.000000
max,3.0,1.0,9.0,1.0,66.000000,25.000000,53.000000,22.0,57.000000,116.000000,50.000000,28.0,57.000000,310.000000,53.000000,11.0,54.000000,47.000000,51.000000

In [105]:
_1_gpgsv_2.describe()

,Number_of_messages,Message_number,SV_total,1_n,1_ed,1_ad,1_snr,2_n,2_ed,2_ad,2_snr,3_n,3_ed,3_ad,3_snr,4_n,4_ed,4_ad,4_snr
count,349.0,349.0,349.0,349.0,349.000000,349.000000,349.000000,349.0,349.00000,349.00000,349.000000,349.0,349.000000,349.000000,349.000000,349.0,349.000000,349.000000,349.000000
mean,3.0,2.0,9.0,3.0,49.647564,151.137536,46.808023,8.0,31.73639,89.25788,44.000000,30.0,20.928367,234.845272,42.888252,17.0,22.535817,299.530086,44.203438
std,0.0,0.0,0.0,0.0,0.822895,0.733826,1.577625,0.0,0.56667,0.78563,1.710347,0.0,0.650396,0.718485,2.788854,0.0,0.499432,0.499811,1.835596
min,3.0,2.0,9.0,3.0,48.000000,150.000000,41.000000,8.0,31.00000,88.00000,36.000000,30.0,20.000000,234.000000,32.000000,17.0,22.000000,299.000000,40.000000
25%,3.0,2.0,9.0,3.0,49.000000,151.000000,46.000000,8.0,31.00000,89.00000,44.000000,30.0,21.000000,234.000000,42.000000,17.0,22.000000,299.000000,43.000000
50%,3.0,2.0,9.0,3.0,50.000000,151.000000,47.000000,8.0,32.00000,89.00000,44.000000,30.0,21.000000,235.000000,43.000000,17.0,23.000000,300.000000,44.000000
75%,3.0,2.0,9.0,3.0,50.000000,152.000000,48.000000,8.0,32.00000,90.00000,45.000000,30.0,21.000000,235.000000,44.000000,17.0,23.000000,300.000000,45.000000
max,3.0,2.0,9.0,3.0,51.000000,152.000000,50.000000,8.0,33.00000,91.00000,47.000000,30.0,22.000000,236.000000,50.000000,17.0,23.000000,300.000000,51.000000

In [106]:
_1_gpgsv_3.describe()

,Number_of_messages,Message_number,SV_total,1_n,1_ed,1_ad,1_snr,2_n,2_ed,2_ad,2_snr,3_n,3_ed,3_ad,3_snr,4_n,4_ed,4_ad,4_snr
count,348.0,348.0,348.0,348.0,348.000000,348.000000,348.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,3.0,3.0,9.0,7.0,45.387931,117.106322,39.094828,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,0.0,0.0,0.0,0.0,39.575290,103.880433,2.227591,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,3.0,3.0,9.0,7.0,10.000000,0.000000,31.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,3.0,3.0,9.0,7.0,10.000000,0.000000,38.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,3.0,3.0,9.0,7.0,11.000000,209.000000,39.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,3.0,3.0,9.0,7.0,90.000000,209.000000,40.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,3.0,3.0,9.0,7.0,90.000000,209.000000,44.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [85]:
#衛星番号を表示している項目に要素がどれだけあるのかを調べる
from collections import Counter

#1行めのセンテンスについて
c_1_n = Counter(_1_gpgsv_1['1_n'])
c_2_n = Counter(_1_gpgsv_1['2_n'])
c_3_n = Counter(_1_gpgsv_1['3_n'])
c_4_n = Counter(_1_gpgsv_1['4_n'])

print(c_1_n.most_common(2))
print(c_2_n.most_common(2))
print(c_3_n.most_common(2))
print(c_4_n.most_common(2))

[(1, 349)]
[(22, 349)]
[(28, 349)]
[(11, 349)]

In [86]:
#2行目のセンテンスについて
c_5_n = Counter(_1_gpgsv_2['1_n'])
c_6_n = Counter(_1_gpgsv_2['2_n'])
c_7_n = Counter(_1_gpgsv_2['3_n'])
c_8_n = Counter(_1_gpgsv_2['4_n'])

print(c_5_n.most_common(2))
print(c_6_n.most_common(2))
print(c_7_n.most_common(2))
print(c_8_n.most_common(2))

[(3, 349)]
[(8, 349)]
[(30, 349)]
[(17, 349)]

In [87]:
#3行目のセンテンスについて
c_9_n = Counter(_1_gpgsv_3['1_n'])
c_10_n = Counter(_1_gpgsv_3['2_n'])
c_11_n = Counter(_1_gpgsv_3['3_n'])
c_12_n = Counter(_1_gpgsv_3['4_n'])

print(c_9_n.most_common(2))
print(c_10_n.most_common(2))
print(c_11_n.most_common(2))
print(c_12_n.most_common(2))

[(7, 348)]
[(nan, 1), (nan, 1)]
[(nan, 1), (nan, 1)]
[(nan, 1), (nan, 1)]

In [88]:
##4行目のセンテンスがあれば、
#c_13_n = Counter(_1_gpgsv_4['1_n'])
#c_14_n = Counter(_1_gpgsv_4['2_n'])
#c_15_n = Counter(_1_gpgsv_4['3_n'])
#c_16_n = Counter(_1_gpgsv_4['4_n'])

#print(c_13_n.most_common(2))
#print(c_14_n.most_common(2))
#print(c_15_n.most_common(2))
#print(c_16_n.most_common(2))

In [99]:
#snr番号のインデックスを作る
for i, all_gpgsv in enumerate (all_gpgsv_list):
    c1 = Counter(all_gpgsv['1_n'])
    c2 = Counter(all_gpgsv['2_n'])
    c3 = Counter(all_gpgsv['3_n'])
    c4 = Counter(all_gpgsv['4_n'])
    print(int(i/4 +1))
    print(c1.most_common(3))
    print(c2.most_common(3))
    print(c3.most_common(3))
    print(c4.most_common(3))
    print('---------------------------')

1
[(1, 349)]
[(22, 349)]
[(28, 349)]
[(11, 349)]
---------------------------
1
[(3, 349)]
[(8, 349)]
[(30, 349)]
[(17, 349)]
---------------------------
1
[(7, 348)]
[(nan, 1), (nan, 1), (nan, 1)]
[(nan, 1), (nan, 1), (nan, 1)]
[(nan, 1), (nan, 1), (nan, 1)]
---------------------------
1
[]
[]
[]
[]
---------------------------
2
[(1, 874)]
[(22, 874)]
[(28, 874)]
[(11, 874)]
---------------------------
2
[(3, 874)]
[(8, 874)]
[(30, 777), (17, 97)]
[(17.0, 777), (7.0, 5), (nan, 1)]
---------------------------
2
[(7, 294), (19, 91)]
[(nan, 1), (nan, 1), (nan, 1)]
[(nan, 1), (nan, 1), (nan, 1)]
[(nan, 1), (nan, 1), (nan, 1)]
---------------------------
2
[]
[]
[]
[]
---------------------------
3
[(1, 376)]
[(22, 376)]
[(28, 376)]
[(11, 376)]
---------------------------
3
[(3, 376)]
[(8, 376)]
[(30, 304), (17, 72)]
[(17.0, 304), (19.0, 47), (nan, 1)]
---------------------------
3
[(19, 304)]
[(nan, 1), (nan, 1), (nan, 1)]
[(nan, 1), (nan, 1), (nan, 1)]
[(nan, 1), (nan, 1), (nan, 1)]
---------------------------
3
[]
[]
[]
[]
---------------------------
4
[(1, 446)]
[(22, 446)]
[(28, 446)]
[(11, 446)]
---------------------------
4
[(3, 446)]
[(8, 446)]
[(30, 234), (17, 212)]
[(17.0, 234), (19.0, 189), (6.0, 11)]
---------------------------
4
[(19, 234), (6, 56)]
[(6.0, 176), (nan, 1), (nan, 1)]
[(nan, 1), (nan, 1), (nan, 1)]
[(nan, 1), (nan, 1), (nan, 1)]
---------------------------
4
[]
[]
[]
[]
---------------------------
5
[(1, 585)]
[(22, 585)]
[(28, 585)]
[(11, 585)]
---------------------------
5
[(3, 585)]
[(8, 585)]
[(17, 331), (30, 130), (23, 124)]
[(19.0, 326), (17.0, 254), (nan, 1)]
---------------------------
5
[(19, 253), (6, 226)]
[(6.0, 253), (nan, 1), (nan, 1)]
[(nan, 1), (nan, 1), (nan, 1)]
[(nan, 1), (nan, 1), (nan, 1)]
---------------------------
5
[]
[]
[]
[]
---------------------------
6
[(17, 574)]
[(19, 574)]
[(3, 574)]
[(6, 574)]
---------------------------
6
[(23, 573)]
[(28, 573)]
[(9, 573)]
[(22, 556), (1, 17)]
---------------------------
6
[(2, 360), (1, 210)]
[(2.0, 154), (nan, 1), (nan, 1)]
[(nan, 1), (nan, 1), (nan, 1)]
[(nan, 1), (nan, 1), (nan, 1)]
---------------------------
6
[]
[]
[]
[]
---------------------------
7
[(17, 398)]
[(19, 398)]
[(3, 398)]
[(6, 397), (87, 1)]
---------------------------
7
[(23, 395)]
[(28, 363), (9, 32)]
[(9, 363), (22, 32)]
[(22, 313), (1, 43), (2, 39)]
---------------------------
7
[(2, 300), (1, 56)]
[(2.0, 56), (nan, 1), (nan, 1)]
[(nan, 1), (nan, 1), (nan, 1)]
[(nan, 1), (nan, 1), (nan, 1)]
---------------------------
7
[]
[]
[]
[]
---------------------------
8
[(17, 326)]
[(19, 326)]
[(3, 326)]
[(6, 326)]
---------------------------
8
[(23, 326)]
[(28, 297), (9, 29)]
[(9, 297), (22, 17), (2, 12)]
[(2.0, 205), (22.0, 105), (nan, 1)]
---------------------------
8
[(2, 85)]
[(nan, 1), (nan, 1), (nan, 1)]
[(nan, 1), (nan, 1), (nan, 1)]
[(nan, 1), (nan, 1), (nan, 1)]
---------------------------
8
[]
[]
[]
[]
---------------------------
9
[(17, 454)]
[(19, 454)]
[(3, 443), (6, 11)]
[(6, 443), (23, 11)]
---------------------------
9
[(23, 441), (9, 10), (28, 1)]
[(28, 404), (9, 38), (12, 10)]
[(9, 404), (12, 38), (2, 10)]
[(12.0, 333), (2.0, 109), (nan, 1)]
---------------------------
9
[(2, 333)]
[(nan, 1), (nan, 1), (nan, 1)]
[(nan, 1), (nan, 1), (nan, 1)]
[(nan, 1), (nan, 1), (nan, 1)]
---------------------------
9
[]
[]
[]
[]
---------------------------
10
[(17, 531)]
[(19, 531)]
[(3, 531)]
[(6, 531)]
---------------------------
10
[(23, 529)]
[(28, 270), (9, 259)]
[(9, 270), (12, 252), (5, 7)]
[(12, 275), (2, 252), (5, 2)]
---------------------------
10
[(2, 273), (12, 2)]
[(2.0, 2), (nan, 1), (nan, 1)]
[(nan, 1), (nan, 1), (nan, 1)]
[(nan, 1), (nan, 1), (nan, 1)]
---------------------------
10
[]
[]
[]
[]
---------------------------
11
[(17, 134), (19, 22), (6, 4)]
[(19, 133), (6, 22), (23, 4)]
[(3, 121), (23, 22), (6, 13)]
[(6.0, 121), (9.0, 22), (23.0, 13)]
---------------------------
11
[(23, 121), (9, 13)]
[(28, 76), (9, 45), (5, 13)]
[(9.0, 76), (5.0, 45), (2.0, 4)]
[(5.0, 76), (12.0, 45), (2.0, 3)]
---------------------------
11
[(12, 76), (2, 45)]
[(2.0, 76), (nan, 1), (nan, 1)]
[(nan, 1), (nan, 1), (nan, 1)]
[(nan, 1), (nan, 1), (nan, 1)]
---------------------------
11
[]
[]
[]
[]
---------------------------
12
[(17, 440), (19, 16)]
[(19, 440), (6, 16)]
[(6, 440), (5, 12), (23, 4)]
[(23, 436), (12, 12), (5, 8)]
---------------------------
12
[(9, 433), (2, 12), (12, 8)]
[(5.0, 433), (2.0, 8), (12.0, 3)]
[(12.0, 430), (2.0, 6), (nan, 1)]
[(2.0, 430), (nan, 1), (nan, 1)]
---------------------------
12
[]
[]
[]
[]
---------------------------
12
[]
[]
[]
[]
---------------------------
13
[(6, 272)]
[(19, 272)]
[(2, 272)]
[(9, 272)]
---------------------------
13
[(17, 272)]
[(5, 272)]
[(23, 272)]
[(12, 272)]
---------------------------
13
[(7, 271)]
[(30, 204), (13, 67)]
[(13.0, 185), (nan, 1), (nan, 1)]
[(nan, 1), (nan, 1), (nan, 1)]
---------------------------
13
[]
[]
[]
[]
---------------------------
14
[(6, 429)]
[(19, 429)]
[(2, 429)]
[(9, 429)]
---------------------------
14
[(17, 427)]
[(5, 427)]
[(23, 399), (7, 21), (12, 7)]
[(12, 338), (7, 68), (13, 21)]
---------------------------
14
[(7, 339), (30, 30), (13, 3)]
[(30.0, 217), (13.0, 91), (nan, 1)]
[(13.0, 103), (nan, 1), (nan, 1)]
[(nan, 1), (nan, 1), (nan, 1)]
---------------------------
14
[]
[]
[]
[]
---------------------------
15
[(6, 339)]
[(19, 339)]
[(2, 339)]
[(9, 339)]
---------------------------
15
[(17, 338)]
[(5, 338)]
[(23.0, 279), (12.0, 58), (nan, 1)]
[(7, 206), (12, 132)]
---------------------------
15
[(30, 148), (7, 131), (13, 16)]
[(13.0, 154), (30.0, 76), (nan, 1)]
[(13.0, 76), (nan, 1), (nan, 1)]
[(nan, 1), (nan, 1), (nan, 1)]
---------------------------
15
[]
[]
[]
[]
---------------------------
16
[(6, 363)]
[(19, 363)]
[(2, 363)]
[(9, 363)]
---------------------------
16
[(17, 344), (5, 19)]
[(5, 344), (23, 17), (7, 2)]
[(23, 222), (12, 75), (7, 64)]
[(7.0, 227), (12.0, 70), (30.0, 60)]
---------------------------
16
[(30, 193), (7, 69), (13, 41)]
[(13.0, 150), (30.0, 76), (nan, 1)]
[(13.0, 69), (nan, 1), (nan, 1)]
[(nan, 1), (nan, 1), (nan, 1)]
---------------------------
16
[]
[]
[]
[]
---------------------------
17
[(6, 263)]
[(19, 263)]
[(2, 263)]
[(9, 263)]
---------------------------
17
[(17, 252), (5, 11)]
[(5, 252), (23, 11)]
[(7, 160), (23, 103)]
[(7, 103), (30, 85), (29, 75)]
---------------------------
17
[(30, 105), (13, 88), (29, 64)]
[(13.0, 101), (30.0, 59), (nan, 1)]
[(13.0, 43), (nan, 1), (nan, 1)]
[(nan, 1), (nan, 1), (nan, 1)]
---------------------------
17
[]
[]
[]
[]
---------------------------

In [89]:
#snr比をヒストグラムでプロットする
plt.hist(_1_gpgsv_1['1_snr'])
plt.show()
#デフォルトでは、snrの値をxにした分布図が表示された

In [90]:
#snr比をヒストグラムでプロットする(１回目のセンテンス１)
plt.hist(_1_gpgsv_1['1_snr'], color='r')
plt.hist(_1_gpgsv_1['2_snr'], color='g')
plt.hist(_1_gpgsv_1['3_snr'], color='b')
plt.hist(_1_gpgsv_1['4_snr'], color='y')

#枠外に凡例を表示しないと見えないので、凡例を外の余白に指定する
plt.subplots_adjust(right=0.7)
plt.legend([ 
        '1','28', '30','17'#,'6', '7', '8', '9', '10', 
       # '14', '15', '16', '17',
       # '1',
       # '11', '12', '13',
    ], loc='upper left', bbox_to_anchor=(1.05, 1))

plt.show()
#デフォルトでは、snrの値をxにした分布図が表示された

In [91]:
#snr比をヒストグラムでプロットする(１回目のセンテンス１)
#みにくいので、半透明にする
plt.hist(_1_gpgsv_1['1_snr'], color='r', alpha=0.5)
plt.hist(_1_gpgsv_1['2_snr'], color='g', alpha=0.5)
plt.hist(_1_gpgsv_1['3_snr'], color='b', alpha=0.5)
plt.hist(_1_gpgsv_1['4_snr'], color='y', alpha=0.5)

#枠外に凡例を表示しないと見えないので、凡例を外の余白に指定する
plt.subplots_adjust(right=0.7)
plt.legend([ 
        '1','28', '30','17'#,'6', '7', '8', '9', '10', 
       # '14', '15', '16', '17',
       # '1',
       # '11', '12', '13',
    ], loc='upper left', bbox_to_anchor=(1.05, 1))

plt.show()
#デフォルトでは、snrの値をxにした分布図が表示された

In [92]:
#snr比をヒストグラムでプロットする(１回目のセンテンス１)
#みにくいので、横に並べる
plt.hist([_1_gpgsv_1['1_snr'] , [_1_gpgsv_1['2_snr']], [_1_gpgsv_1['3_snr']], [_1_gpgsv_1['4_snr']]], color=['r', 'g', 'b', 'y'], bins=5)
#plt.hist(_1_gpgsv_1['2_snr'], color='g', alpha=0.5)
#plt.hist(_1_gpgsv_1['3_snr'], color='b', alpha=0.5)
#plt.hist(_1_gpgsv_1['4_snr'], color='y', alpha=0.5)

#枠外に凡例を表示しないと見えないので、凡例を外の余白に指定する
plt.subplots_adjust(right=0.7)
plt.legend([ 
        '1','28', '30','17'#,'6', '7', '8', '9', '10', 
       # '14', '15', '16', '17',
       # '1',
       # '11', '12', '13',
    ], loc='upper left', bbox_to_anchor=(1.05, 1))

plt.show()
#デフォルトでは、snrの値をxにした分布図が表示された

In [98]:
_1_gpzda.describe()

,UTC,Day,Month,Year,Local zone description,Local zone minutes description
count,349.000000,349.0,349.0,349.0,0.0,0.0
mean,17579.097421,16.0,9.0,2016.0,NaN,NaN
std,2119.345260,0.0,0.0,0.0,NaN,NaN
min,15632.000000,16.0,9.0,2016.0,NaN,NaN
25%,15802.000000,16.0,9.0,2016.0,NaN,NaN
50%,15929.000000,16.0,9.0,2016.0,NaN,NaN
75%,20056.000000,16.0,9.0,2016.0,NaN,NaN
max,20224.000000,16.0,9.0,2016.0,NaN,NaN

In [100]:
#snr比をヒストグラムでプロットする(１回目のセンテンス１)
#みにくいので、横に並べる
#x軸を時間軸にしてみる

plt.hist(_1_gpzda['UTC'])

#plt.hist([_1_gpgsv_1['1_snr'] , [_1_gpgsv_1['2_snr']], [_1_gpgsv_1['3_snr']], [_1_gpgsv_1['4_snr']]], color=['r', 'g', 'b', 'y'], bins=5)
#plt.hist(_1_gpgsv_1['2_snr'], color='g', alpha=0.5)
#plt.hist(_1_gpgsv_1['3_snr'], color='b', alpha=0.5)
#plt.hist(_1_gpgsv_1['4_snr'], color='y', alpha=0.5)

#枠外に凡例を表示しないと見えないので、凡例を外の余白に指定する
#plt.subplots_adjust(right=0.7)
#plt.legend([ 
#        '1','28', '30','17'#,'6', '7', '8', '9', '10', 
#       # '14', '15', '16', '17',
#       # '1',
#       # '11', '12', '13',
#    ], loc='upper left', bbox_to_anchor=(1.05, 1))
#
plt.show()
#デフォルトでは、snrの値をxにした分布図が表示された

In [126]:
#snr比をヒストグラムでプロットする(１回目のセンテンス１)
#箱ひげ図を使ってプロットしてみる

plt.boxplot([
    _1_gpgsv_1['1_snr'] , _1_gpgsv_1['2_snr'], _1_gpgsv_1['3_snr'], _1_gpgsv_1['4_snr'],
    _1_gpgsv_2['1_snr'] , _1_gpgsv_2['2_snr'], _1_gpgsv_2['3_snr'], _1_gpgsv_2['4_snr'],
    _1_gpgsv_3['1_snr'] , _1_gpgsv_3['2_snr'], _1_gpgsv_3['3_snr'], _1_gpgsv_3['4_snr']
])
plt.show()

/home/tsukudamayo/.pyenv/versions/anaconda3-4.0.0/lib/python3.5/site-packages/numpy/lib/function_base.py:3403: RuntimeWarning: Invalid value encountered in median
  RuntimeWarning)

In [146]:
#snr比をヒストグラムでプロットする(１回目のセンテンス１)
#箱ひげ図を使ってプロットしてみる

plt.hist([
    _1_gpgsv_1['1_snr'] , _1_gpgsv_1['2_snr'], _1_gpgsv_1['3_snr'], _1_gpgsv_1['4_snr'],
    _1_gpgsv_2['1_snr'] , _1_gpgsv_2['2_snr'], _1_gpgsv_2['3_snr'], _1_gpgsv_2['4_snr'],
    _1_gpgsv_3['1_snr'] , _1_gpgsv_3['2_snr'], _1_gpgsv_3['3_snr'], _1_gpgsv_3['4_snr']
]
       , bins=3)
plt.show()

In [130]:
#boxplotのためのリスト
_1_gpgsv_snr  = [
    _1_gpgsv_1['1_snr'] , _1_gpgsv_1['2_snr'], _1_gpgsv_1['3_snr'], _1_gpgsv_1['4_snr'],
    _1_gpgsv_2['1_snr'] , _1_gpgsv_2['2_snr'], _1_gpgsv_2['3_snr'], _1_gpgsv_2['4_snr'],
    _1_gpgsv_3['1_snr'] , _1_gpgsv_3['2_snr'], _1_gpgsv_3['3_snr'], _1_gpgsv_3['4_snr'],           
    _1_gpgsv_4['1_snr'] , _1_gpgsv_4['2_snr'], _1_gpgsv_4['3_snr'], _1_gpgsv_4['4_snr']           
]

_2_gpgsv_snr  = [
    _2_gpgsv_1['1_snr'] , _2_gpgsv_1['2_snr'], _2_gpgsv_1['3_snr'], _2_gpgsv_1['4_snr'],
    _2_gpgsv_2['1_snr'] , _2_gpgsv_2['2_snr'], _2_gpgsv_2['3_snr'], _2_gpgsv_2['4_snr'],
    _2_gpgsv_3['1_snr'] , _2_gpgsv_3['2_snr'], _2_gpgsv_3['3_snr'], _2_gpgsv_3['4_snr'],           
    _2_gpgsv_4['1_snr'] , _2_gpgsv_4['2_snr'], _2_gpgsv_4['3_snr'], _2_gpgsv_4['4_snr']           
]

_3_gpgsv_snr  = [
    _3_gpgsv_1['1_snr'] , _3_gpgsv_1['2_snr'], _3_gpgsv_1['3_snr'], _3_gpgsv_1['4_snr'],
    _3_gpgsv_2['1_snr'] , _3_gpgsv_2['2_snr'], _3_gpgsv_2['3_snr'], _3_gpgsv_2['4_snr'],
    _3_gpgsv_3['1_snr'] , _3_gpgsv_3['2_snr'], _3_gpgsv_3['3_snr'], _3_gpgsv_3['4_snr'],           
    _3_gpgsv_4['1_snr'] , _3_gpgsv_4['2_snr'], _3_gpgsv_4['3_snr'], _3_gpgsv_4['4_snr']           
]

_4_gpgsv_snr  = [
    _4_gpgsv_1['1_snr'] , _4_gpgsv_1['2_snr'], _4_gpgsv_1['3_snr'], _4_gpgsv_1['4_snr'],
    _4_gpgsv_2['1_snr'] , _4_gpgsv_2['2_snr'], _4_gpgsv_2['3_snr'], _4_gpgsv_2['4_snr'],
    _4_gpgsv_3['1_snr'] , _4_gpgsv_3['2_snr'], _4_gpgsv_3['3_snr'], _4_gpgsv_3['4_snr'],           
    _4_gpgsv_4['1_snr'] , _4_gpgsv_4['2_snr'], _4_gpgsv_4['3_snr'], _4_gpgsv_4['4_snr']           
]

_5_gpgsv_snr  = [
    _5_gpgsv_1['1_snr'] , _5_gpgsv_1['2_snr'], _5_gpgsv_1['3_snr'], _5_gpgsv_1['4_snr'],
    _5_gpgsv_2['1_snr'] , _5_gpgsv_2['2_snr'], _5_gpgsv_2['3_snr'], _5_gpgsv_2['4_snr'],
    _5_gpgsv_3['1_snr'] , _5_gpgsv_3['2_snr'], _5_gpgsv_3['3_snr'], _5_gpgsv_3['4_snr'],           
    _5_gpgsv_4['1_snr'] , _5_gpgsv_4['2_snr'], _5_gpgsv_4['3_snr'], _5_gpgsv_4['4_snr']           
]

_6_gpgsv_snr  = [
    _6_gpgsv_1['1_snr'] , _6_gpgsv_1['2_snr'], _6_gpgsv_1['3_snr'], _6_gpgsv_1['4_snr'],
    _6_gpgsv_2['1_snr'] , _6_gpgsv_2['2_snr'], _6_gpgsv_2['3_snr'], _6_gpgsv_2['4_snr'],
    _6_gpgsv_3['1_snr'] , _6_gpgsv_3['2_snr'], _6_gpgsv_3['3_snr'], _6_gpgsv_3['4_snr'],           
    _6_gpgsv_4['1_snr'] , _6_gpgsv_4['2_snr'], _6_gpgsv_4['3_snr'], _6_gpgsv_4['4_snr']           
]

_7_gpgsv_snr  = [
    _7_gpgsv_1['1_snr'] , _7_gpgsv_1['2_snr'], _7_gpgsv_1['3_snr'], _7_gpgsv_1['4_snr'],
    _7_gpgsv_2['1_snr'] , _7_gpgsv_2['2_snr'], _7_gpgsv_2['3_snr'], _7_gpgsv_2['4_snr'],
    _7_gpgsv_3['1_snr'] , _7_gpgsv_3['2_snr'], _7_gpgsv_3['3_snr'], _7_gpgsv_3['4_snr'],           
    _7_gpgsv_4['1_snr'] , _7_gpgsv_4['2_snr'], _7_gpgsv_4['3_snr'], _7_gpgsv_4['4_snr']           
]

_8_gpgsv_snr  = [
    _8_gpgsv_1['1_snr'] , _8_gpgsv_1['2_snr'], _8_gpgsv_1['3_snr'], _8_gpgsv_1['4_snr'],
    _8_gpgsv_2['1_snr'] , _8_gpgsv_2['2_snr'], _8_gpgsv_2['3_snr'], _8_gpgsv_2['4_snr'],
    _8_gpgsv_3['1_snr'] , _8_gpgsv_3['2_snr'], _8_gpgsv_3['3_snr'], _8_gpgsv_3['4_snr'],           
    _8_gpgsv_4['1_snr'] , _8_gpgsv_4['2_snr'], _8_gpgsv_4['3_snr'], _8_gpgsv_4['4_snr']           
]

_9_gpgsv_snr  = [
    _9_gpgsv_1['1_snr'] , _9_gpgsv_1['2_snr'], _9_gpgsv_1['3_snr'], _9_gpgsv_1['4_snr'],
    _9_gpgsv_2['1_snr'] , _9_gpgsv_2['2_snr'], _9_gpgsv_2['3_snr'], _9_gpgsv_2['4_snr'],
    _9_gpgsv_3['1_snr'] , _9_gpgsv_3['2_snr'], _9_gpgsv_3['3_snr'], _9_gpgsv_3['4_snr'],           
    _9_gpgsv_4['1_snr'] , _9_gpgsv_4['2_snr'], _9_gpgsv_4['3_snr'], _9_gpgsv_4['4_snr']           
]

_10_gpgsv_snr  = [
    _10_gpgsv_1['1_snr'] , _10_gpgsv_1['2_snr'], _10_gpgsv_1['3_snr'], _10_gpgsv_1['4_snr'],
    _10_gpgsv_2['1_snr'] , _10_gpgsv_2['2_snr'], _10_gpgsv_2['3_snr'], _10_gpgsv_2['4_snr'],
    _10_gpgsv_3['1_snr'] , _10_gpgsv_3['2_snr'], _10_gpgsv_3['3_snr'], _10_gpgsv_3['4_snr'],           
    _10_gpgsv_4['1_snr'] , _10_gpgsv_4['2_snr'], _10_gpgsv_4['3_snr'], _10_gpgsv_4['4_snr']           
]

_11_gpgsv_snr  = [
    _11_gpgsv_1['1_snr'] , _11_gpgsv_1['2_snr'], _11_gpgsv_1['3_snr'], _11_gpgsv_1['4_snr'],
    _11_gpgsv_2['1_snr'] , _11_gpgsv_2['2_snr'], _11_gpgsv_2['3_snr'], _11_gpgsv_2['4_snr'],
    _11_gpgsv_3['1_snr'] , _11_gpgsv_3['2_snr'], _11_gpgsv_3['3_snr'], _11_gpgsv_3['4_snr'],           
    _11_gpgsv_4['1_snr'] , _11_gpgsv_4['2_snr'], _11_gpgsv_4['3_snr'], _11_gpgsv_4['4_snr']           
]

_12_gpgsv_snr  = [
    _12_gpgsv_1['1_snr'] , _12_gpgsv_1['2_snr'], _12_gpgsv_1['3_snr'], _12_gpgsv_1['4_snr'],
    _12_gpgsv_2['1_snr'] , _12_gpgsv_2['2_snr'], _12_gpgsv_2['3_snr'], _12_gpgsv_2['4_snr'],
    _12_gpgsv_3['1_snr'] , _12_gpgsv_3['2_snr'], _12_gpgsv_3['3_snr'], _12_gpgsv_3['4_snr'],           
    _12_gpgsv_4['1_snr'] , _12_gpgsv_4['2_snr'], _12_gpgsv_4['3_snr'], _12_gpgsv_4['4_snr']           
]

_13_gpgsv_snr  = [
    _13_gpgsv_1['1_snr'] , _13_gpgsv_1['2_snr'], _13_gpgsv_1['3_snr'], _13_gpgsv_1['4_snr'],
    _13_gpgsv_2['1_snr'] , _13_gpgsv_2['2_snr'], _13_gpgsv_2['3_snr'], _13_gpgsv_2['4_snr'],
    _13_gpgsv_3['1_snr'] , _13_gpgsv_3['2_snr'], _13_gpgsv_3['3_snr'], _13_gpgsv_3['4_snr'],           
    _13_gpgsv_4['1_snr'] , _13_gpgsv_4['2_snr'], _13_gpgsv_4['3_snr'], _13_gpgsv_4['4_snr']           
]

_14_gpgsv_snr  = [
    _14_gpgsv_1['1_snr'] , _14_gpgsv_1['2_snr'], _14_gpgsv_1['3_snr'], _14_gpgsv_1['4_snr'],
    _14_gpgsv_2['1_snr'] , _14_gpgsv_2['2_snr'], _14_gpgsv_2['3_snr'], _14_gpgsv_2['4_snr'],
    _14_gpgsv_3['1_snr'] , _14_gpgsv_3['2_snr'], _14_gpgsv_3['3_snr'], _14_gpgsv_3['4_snr'],           
    _14_gpgsv_4['1_snr'] , _14_gpgsv_4['2_snr'], _14_gpgsv_4['3_snr'], _14_gpgsv_4['4_snr']           
]

_15_gpgsv_snr  = [
    _15_gpgsv_1['1_snr'] , _15_gpgsv_1['2_snr'], _15_gpgsv_1['3_snr'], _15_gpgsv_1['4_snr'],
    _15_gpgsv_2['1_snr'] , _15_gpgsv_2['2_snr'], _15_gpgsv_2['3_snr'], _15_gpgsv_2['4_snr'],
    _15_gpgsv_3['1_snr'] , _15_gpgsv_3['2_snr'], _15_gpgsv_3['3_snr'], _15_gpgsv_3['4_snr'],           
    _15_gpgsv_4['1_snr'] , _15_gpgsv_4['2_snr'], _15_gpgsv_4['3_snr'], _15_gpgsv_4['4_snr']           
]

_16_gpgsv_snr  = [
    _16_gpgsv_1['1_snr'] , _16_gpgsv_1['2_snr'], _16_gpgsv_1['3_snr'], _16_gpgsv_1['4_snr'],
    _16_gpgsv_2['1_snr'] , _16_gpgsv_2['2_snr'], _16_gpgsv_2['3_snr'], _16_gpgsv_2['4_snr'],
    _16_gpgsv_3['1_snr'] , _16_gpgsv_3['2_snr'], _16_gpgsv_3['3_snr'], _16_gpgsv_3['4_snr'],           
    _16_gpgsv_4['1_snr'] , _16_gpgsv_4['2_snr'], _16_gpgsv_4['3_snr'], _16_gpgsv_4['4_snr']           
]

_17_gpgsv_snr  = [
    _17_gpgsv_1['1_snr'] , _17_gpgsv_1['2_snr'], _17_gpgsv_1['3_snr'], _17_gpgsv_1['4_snr'],
    _17_gpgsv_2['1_snr'] , _17_gpgsv_2['2_snr'], _17_gpgsv_2['3_snr'], _17_gpgsv_2['4_snr'],
    _17_gpgsv_3['1_snr'] , _17_gpgsv_3['2_snr'], _17_gpgsv_3['3_snr'], _17_gpgsv_3['4_snr'],           
    _17_gpgsv_4['1_snr'] , _17_gpgsv_4['2_snr'], _17_gpgsv_4['3_snr'], _17_gpgsv_4['4_snr']           
]

In [134]:
#boxplotのためのリスト
all_gpgsv_snr  = [
    _1_gpgsv_1['1_snr'] , _1_gpgsv_1['2_snr'], _1_gpgsv_1['3_snr'], _1_gpgsv_1['4_snr'],
    _1_gpgsv_2['1_snr'] , _1_gpgsv_2['2_snr'], _1_gpgsv_2['3_snr'], _1_gpgsv_2['4_snr'],
    _1_gpgsv_3['1_snr'] , _1_gpgsv_3['2_snr'], _1_gpgsv_3['3_snr'], _1_gpgsv_3['4_snr'],           
    _1_gpgsv_4['1_snr'] , _1_gpgsv_4['2_snr'], _1_gpgsv_4['3_snr'], _1_gpgsv_4['4_snr'],           

    _2_gpgsv_1['1_snr'] , _2_gpgsv_1['2_snr'], _2_gpgsv_1['3_snr'], _2_gpgsv_1['4_snr'],
    _2_gpgsv_2['1_snr'] , _2_gpgsv_2['2_snr'], _2_gpgsv_2['3_snr'], _2_gpgsv_2['4_snr'],
    _2_gpgsv_3['1_snr'] , _2_gpgsv_3['2_snr'], _2_gpgsv_3['3_snr'], _2_gpgsv_3['4_snr'],           
    _2_gpgsv_4['1_snr'] , _2_gpgsv_4['2_snr'], _2_gpgsv_4['3_snr'], _2_gpgsv_4['4_snr'],           

    _3_gpgsv_1['1_snr'] , _3_gpgsv_1['2_snr'], _3_gpgsv_1['3_snr'], _3_gpgsv_1['4_snr'],
    _3_gpgsv_2['1_snr'] , _3_gpgsv_2['2_snr'], _3_gpgsv_2['3_snr'], _3_gpgsv_2['4_snr'],
    _3_gpgsv_3['1_snr'] , _3_gpgsv_3['2_snr'], _3_gpgsv_3['3_snr'], _3_gpgsv_3['4_snr'],           
    _3_gpgsv_4['1_snr'] , _3_gpgsv_4['2_snr'], _3_gpgsv_4['3_snr'], _3_gpgsv_4['4_snr'],           

    _4_gpgsv_1['1_snr'] , _4_gpgsv_1['2_snr'], _4_gpgsv_1['3_snr'], _4_gpgsv_1['4_snr'],
    _4_gpgsv_2['1_snr'] , _4_gpgsv_2['2_snr'], _4_gpgsv_2['3_snr'], _4_gpgsv_2['4_snr'],
    _4_gpgsv_3['1_snr'] , _4_gpgsv_3['2_snr'], _4_gpgsv_3['3_snr'], _4_gpgsv_3['4_snr'],           
    _4_gpgsv_4['1_snr'] , _4_gpgsv_4['2_snr'], _4_gpgsv_4['3_snr'], _4_gpgsv_4['4_snr'],           

    _5_gpgsv_1['1_snr'] , _5_gpgsv_1['2_snr'], _5_gpgsv_1['3_snr'], _5_gpgsv_1['4_snr'],
    _5_gpgsv_2['1_snr'] , _5_gpgsv_2['2_snr'], _5_gpgsv_2['3_snr'], _5_gpgsv_2['4_snr'],
    _5_gpgsv_3['1_snr'] , _5_gpgsv_3['2_snr'], _5_gpgsv_3['3_snr'], _5_gpgsv_3['4_snr'],           
    _5_gpgsv_4['1_snr'] , _5_gpgsv_4['2_snr'], _5_gpgsv_4['3_snr'], _5_gpgsv_4['4_snr'],           

    _6_gpgsv_1['1_snr'] , _6_gpgsv_1['2_snr'], _6_gpgsv_1['3_snr'], _6_gpgsv_1['4_snr'],
    _6_gpgsv_2['1_snr'] , _6_gpgsv_2['2_snr'], _6_gpgsv_2['3_snr'], _6_gpgsv_2['4_snr'],
    _6_gpgsv_3['1_snr'] , _6_gpgsv_3['2_snr'], _6_gpgsv_3['3_snr'], _6_gpgsv_3['4_snr'],           
    _6_gpgsv_4['1_snr'] , _6_gpgsv_4['2_snr'], _6_gpgsv_4['3_snr'], _6_gpgsv_4['4_snr'],           

    _7_gpgsv_1['1_snr'] , _7_gpgsv_1['2_snr'], _7_gpgsv_1['3_snr'], _7_gpgsv_1['4_snr'],
    _7_gpgsv_2['1_snr'] , _7_gpgsv_2['2_snr'], _7_gpgsv_2['3_snr'], _7_gpgsv_2['4_snr'],
    _7_gpgsv_3['1_snr'] , _7_gpgsv_3['2_snr'], _7_gpgsv_3['3_snr'], _7_gpgsv_3['4_snr'],           
    _7_gpgsv_4['1_snr'] , _7_gpgsv_4['2_snr'], _7_gpgsv_4['3_snr'], _7_gpgsv_4['4_snr'],           

    _8_gpgsv_1['1_snr'] , _8_gpgsv_1['2_snr'], _8_gpgsv_1['3_snr'], _8_gpgsv_1['4_snr'],
    _8_gpgsv_2['1_snr'] , _8_gpgsv_2['2_snr'], _8_gpgsv_2['3_snr'], _8_gpgsv_2['4_snr'],
    _8_gpgsv_3['1_snr'] , _8_gpgsv_3['2_snr'], _8_gpgsv_3['3_snr'], _8_gpgsv_3['4_snr'],           
    _8_gpgsv_4['1_snr'] , _8_gpgsv_4['2_snr'], _8_gpgsv_4['3_snr'], _8_gpgsv_4['4_snr'],           

    _9_gpgsv_1['1_snr'] , _9_gpgsv_1['2_snr'], _9_gpgsv_1['3_snr'], _9_gpgsv_1['4_snr'],
    _9_gpgsv_2['1_snr'] , _9_gpgsv_2['2_snr'], _9_gpgsv_2['3_snr'], _9_gpgsv_2['4_snr'],
    _9_gpgsv_3['1_snr'] , _9_gpgsv_3['2_snr'], _9_gpgsv_3['3_snr'], _9_gpgsv_3['4_snr'],           
    _9_gpgsv_4['1_snr'] , _9_gpgsv_4['2_snr'], _9_gpgsv_4['3_snr'], _9_gpgsv_4['4_snr'],           

    _10_gpgsv_1['1_snr'] , _10_gpgsv_1['2_snr'], _10_gpgsv_1['3_snr'], _10_gpgsv_1['4_snr'],
    _10_gpgsv_2['1_snr'] , _10_gpgsv_2['2_snr'], _10_gpgsv_2['3_snr'], _10_gpgsv_2['4_snr'],
    _10_gpgsv_3['1_snr'] , _10_gpgsv_3['2_snr'], _10_gpgsv_3['3_snr'], _10_gpgsv_3['4_snr'],           
    _10_gpgsv_4['1_snr'] , _10_gpgsv_4['2_snr'], _10_gpgsv_4['3_snr'], _10_gpgsv_4['4_snr'],           

    _11_gpgsv_1['1_snr'] , _11_gpgsv_1['2_snr'], _11_gpgsv_1['3_snr'], _11_gpgsv_1['4_snr'],
    _11_gpgsv_2['1_snr'] , _11_gpgsv_2['2_snr'], _11_gpgsv_2['3_snr'], _11_gpgsv_2['4_snr'],
    _11_gpgsv_3['1_snr'] , _11_gpgsv_3['2_snr'], _11_gpgsv_3['3_snr'], _11_gpgsv_3['4_snr'],           
    _11_gpgsv_4['1_snr'] , _11_gpgsv_4['2_snr'], _11_gpgsv_4['3_snr'], _11_gpgsv_4['4_snr'],           

    _12_gpgsv_1['1_snr'] , _12_gpgsv_1['2_snr'], _12_gpgsv_1['3_snr'], _12_gpgsv_1['4_snr'],
    _12_gpgsv_2['1_snr'] , _12_gpgsv_2['2_snr'], _12_gpgsv_2['3_snr'], _12_gpgsv_2['4_snr'],
    _12_gpgsv_3['1_snr'] , _12_gpgsv_3['2_snr'], _12_gpgsv_3['3_snr'], _12_gpgsv_3['4_snr'],           
    _12_gpgsv_4['1_snr'] , _12_gpgsv_4['2_snr'], _12_gpgsv_4['3_snr'], _12_gpgsv_4['4_snr'],           

    _13_gpgsv_1['1_snr'] , _13_gpgsv_1['2_snr'], _13_gpgsv_1['3_snr'], _13_gpgsv_1['4_snr'],
    _13_gpgsv_2['1_snr'] , _13_gpgsv_2['2_snr'], _13_gpgsv_2['3_snr'], _13_gpgsv_2['4_snr'],
    _13_gpgsv_3['1_snr'] , _13_gpgsv_3['2_snr'], _13_gpgsv_3['3_snr'], _13_gpgsv_3['4_snr'],           
    _13_gpgsv_4['1_snr'] , _13_gpgsv_4['2_snr'], _13_gpgsv_4['3_snr'], _13_gpgsv_4['4_snr'],           

    _14_gpgsv_1['1_snr'] , _14_gpgsv_1['2_snr'], _14_gpgsv_1['3_snr'], _14_gpgsv_1['4_snr'],
    _14_gpgsv_2['1_snr'] , _14_gpgsv_2['2_snr'], _14_gpgsv_2['3_snr'], _14_gpgsv_2['4_snr'],
    _14_gpgsv_3['1_snr'] , _14_gpgsv_3['2_snr'], _14_gpgsv_3['3_snr'], _14_gpgsv_3['4_snr'],           
    _14_gpgsv_4['1_snr'] , _14_gpgsv_4['2_snr'], _14_gpgsv_4['3_snr'], _14_gpgsv_4['4_snr'],           

    _15_gpgsv_1['1_snr'] , _15_gpgsv_1['2_snr'], _15_gpgsv_1['3_snr'], _15_gpgsv_1['4_snr'],
    _15_gpgsv_2['1_snr'] , _15_gpgsv_2['2_snr'], _15_gpgsv_2['3_snr'], _15_gpgsv_2['4_snr'],
    _15_gpgsv_3['1_snr'] , _15_gpgsv_3['2_snr'], _15_gpgsv_3['3_snr'], _15_gpgsv_3['4_snr'],           
    _15_gpgsv_4['1_snr'] , _15_gpgsv_4['2_snr'], _15_gpgsv_4['3_snr'], _15_gpgsv_4['4_snr'],           

    _16_gpgsv_1['1_snr'] , _16_gpgsv_1['2_snr'], _16_gpgsv_1['3_snr'], _16_gpgsv_1['4_snr'],
    _16_gpgsv_2['1_snr'] , _16_gpgsv_2['2_snr'], _16_gpgsv_2['3_snr'], _16_gpgsv_2['4_snr'],
    _16_gpgsv_3['1_snr'] , _16_gpgsv_3['2_snr'], _16_gpgsv_3['3_snr'], _16_gpgsv_3['4_snr'],           
    _16_gpgsv_4['1_snr'] , _16_gpgsv_4['2_snr'], _16_gpgsv_4['3_snr'], _16_gpgsv_4['4_snr'],           

    _17_gpgsv_1['1_snr'] , _17_gpgsv_1['2_snr'], _17_gpgsv_1['3_snr'], _17_gpgsv_1['4_snr'],
    _17_gpgsv_2['1_snr'] , _17_gpgsv_2['2_snr'], _17_gpgsv_2['3_snr'], _17_gpgsv_2['4_snr'],
    _17_gpgsv_3['1_snr'] , _17_gpgsv_3['2_snr'], _17_gpgsv_3['3_snr'], _17_gpgsv_3['4_snr'],           
    _17_gpgsv_4['1_snr'] , _17_gpgsv_4['2_snr'], _17_gpgsv_4['3_snr'], _17_gpgsv_4['4_snr']           
]

In [135]:
#snr比をヒストグラムでプロットする(１回目のセンテンス１)
#箱ひげ図を使ってプロットしてみる

plt.boxplot(all_gpgsv_snr)
plt.show()

/home/tsukudamayo/.pyenv/versions/anaconda3-4.0.0/lib/python3.5/site-packages/numpy/lib/function_base.py:3403: RuntimeWarning: Invalid value encountered in median
  RuntimeWarning)

In [153]:
#1回毎のsnr比をまとめてリストにする
loop_gpgsv_list = [
    _1_gpgsv_snr, 
    _2_gpgsv_snr, 
    _3_gpgsv_snr, 
    _4_gpgsv_snr, 
    _5_gpgsv_snr, 
    _6_gpgsv_snr, 
    _7_gpgsv_snr, 
    _8_gpgsv_snr,
    _9_gpgsv_snr, 
    _10_gpgsv_snr, 
    _11_gpgsv_snr, 
    _12_gpgsv_snr, 
    _13_gpgsv_snr, 
    _14_gpgsv_snr, 
    _15_gpgsv_snr, 
    _16_gpgsv_snr, 
    _17_gpgsv_snr   
]

In [155]:
#snr比をヒストグラムでプロットする(１回目のセンテンス１)
#箱ひげ図を使ってプロットしてみる
for loop_gpgsv in loop_gpgsv_list:
    plt.boxplot(loop_gpgsv)
    plt.show()

/home/tsukudamayo/.pyenv/versions/anaconda3-4.0.0/lib/python3.5/site-packages/numpy/lib/function_base.py:3403: RuntimeWarning: Invalid value encountered in median
  RuntimeWarning)

In [157]:
#snr比をヒストグラムでプロットする(１回目のセンテンス１)
#箱ひげ図を使ってプロットしてみる
for loop_gpgsv in loop_gpgsv_list:
    plt.hist(loop_gpgsv, bins=3)
    plt.show()

In [150]:
#snr比をヒストグラムでプロットする(１回目のセンテンス１)

plt.hist(
    _1_gpgsv_4['1_snr']
)
plt.show()

In [151]:
#snr比をヒストグラムでプロットする(１回目のセンテンス１)
for all_gpgsv  in all_gpgsv_snr:
    plt.hist(all_gpgsv)
    plt.show()

AttributeError: max must be larger than min in range parameter.

In [152]:
#snr比をヒストグラムでプロットする(１回目のセンテンス１)
for all_gpgsv  in all_gpgsv_snr:
    plt.boxplot(all_gpgsv)
    plt.show()

/home/tsukudamayo/.pyenv/versions/anaconda3-4.0.0/lib/python3.5/site-packages/numpy/lib/function_base.py:3403: RuntimeWarning: Invalid value encountered in median
  RuntimeWarning)

IndexError: index out of bounds

In [107]:
#１回目のSNR比を出す
plt.plot(_1_gpgsv_1['1_snr'])
plt.plot(_1_gpgsv_1['2_snr'])
plt.plot(_1_gpgsv_1['3_snr'])
plt.plot(_1_gpgsv_1['4_snr'])
plt.plot(_1_gpgsv_2['1_snr'])
plt.plot(_1_gpgsv_2['2_snr'])
plt.plot(_1_gpgsv_2['3_snr'])
plt.plot(_1_gpgsv_2['4_snr'])
plt.plot(_1_gpgsv_3['1_snr'])

#枠外に凡例を表示しないと見えないので、凡例を外の余白に指定する
plt.subplots_adjust(right=0.7)
#plt.legend([ '1','2','3', '4','5','6', '7', '8', '9', '10', '12', '13','14', '15'], loc='upper left', bbox_to_anchor=(1.05, 1))
plt.legend(['1', '22', '28', '11','3', '8' ,'30', '17', '7'], loc='upper left', bbox_to_anchor=(1.05, 1))
plt.show()

In [108]:
#１回目のSNR比を出す(いくつかに絞って出力する)
plt.plot(_1_gpgsv_1['1_snr'])
#plt.plot(_1_gpgsv_1['2_snr'])
plt.plot(_1_gpgsv_1['3_snr'])
#plt.plot(_1_gpgsv_1['4_snr'])
#plt.plot(_1_gpgsv_2['1_snr'])
#plt.plot(_1_gpgsv_2['2_snr'])
#plt.plot(_1_gpgsv_2['3_snr'])
#plt.plot(_1_gpgsv_2['4_snr'])
#plt.plot(_1_gpgsv_3['1_snr'])

#枠外に凡例を表示しないと見えないので、凡例を外の余白に指定する
plt.subplots_adjust(right=0.7)
plt.legend(['1', '28'], loc='upper left', bbox_to_anchor=(1.05, 1))
plt.show()

In [53]:
#使用衛星数を調べる
plt.plot(_1_gpgga['Number_of _satelites'])
plt.show()

In [138]:
#要約統計量で確認してみる
_2_gpgsv_1.describe()

,Number_of_messages,Message_number,SV_total,1_n,1_ed,1_ad,1_snr,2_n,2_ed,2_ad,2_snr,3_n,3_ed,3_ad,3_snr,4_n,4_ed,4_ad,4_snr
count,874.000000,874.0,874.000000,874.0,874.000000,874.000000,874.000000,874.0,874.000000,874.000000,874.000000,874.0,874.000000,874.000000,874.000000,874.0,874.000000,874.000000,874.000000
mean,2.440503,1.0,8.335240,1.0,59.218535,29.260870,47.677346,22.0,59.712815,94.179634,47.209382,28.0,62.028604,297.711670,48.433638,11.0,49.454233,50.352403,46.922197
std,0.496732,0.0,0.658693,0.0,7.433806,7.066573,1.623500,0.0,6.299595,19.873506,1.660360,0.0,1.297758,3.300411,1.932614,0.0,9.773416,12.127211,1.716008
min,2.000000,1.0,7.000000,1.0,55.000000,0.000000,42.000000,22.0,58.000000,0.000000,41.000000,28.0,60.000000,292.000000,41.000000,11.0,45.000000,0.000000,41.000000
25%,2.000000,1.0,8.000000,1.0,56.000000,29.000000,47.000000,22.0,58.000000,95.000000,46.000000,28.0,61.000000,295.000000,47.000000,11.0,46.000000,52.000000,46.000000
50%,2.000000,1.0,8.000000,1.0,58.000000,31.000000,48.000000,22.0,58.000000,98.000000,48.000000,28.0,62.000000,298.000000,49.000000,11.0,47.000000,53.000000,47.000000
75%,3.000000,1.0,9.000000,1.0,59.000000,32.000000,49.000000,22.0,59.000000,101.000000,48.000000,28.0,63.000000,301.000000,50.000000,11.0,49.000000,55.000000,48.000000
max,3.000000,1.0,9.000000,1.0,90.000000,34.000000,52.000000,22.0,90.000000,105.000000,51.000000,28.0,64.000000,303.000000,52.000000,11.0,90.000000,56.000000,50.000000

In [139]:
#要約統計量で確認してみる
_2_gpgsv_2.describe()

,Number_of_messages,Message_number,SV_total,1_n,1_ed,1_ad,1_snr,2_n,2_ed,2_ad,2_snr,3_n,3_ed,3_ad,3_snr,4_n,4_ed,4_ad,4_snr
count,874.000000,874.0,874.000000,874.0,874.000000,874.000000,874.000000,874.0,874.000000,874.000000,874.000000,874.000000,874.000000,874.000000,874.000000,782.000000,782.000000,782.000000,782.000000
mean,2.440503,2.0,8.335240,3.0,56.977117,142.822654,47.489703,8.0,28.025172,94.709382,42.670481,28.557208,23.251716,219.053776,39.244851,16.936061,29.005115,298.624041,44.468031
std,0.496732,0.0,0.658693,0.0,1.744749,2.497080,1.704521,0.0,8.559036,13.050092,1.636881,4.085798,20.134616,68.981416,3.554775,0.797566,8.927936,43.207884,2.353710
min,2.000000,2.0,7.000000,3.0,54.000000,138.000000,42.000000,8.0,25.000000,0.000000,36.000000,17.000000,14.000000,0.000000,23.000000,7.000000,25.000000,0.000000,25.000000
25%,2.000000,2.0,8.000000,3.0,56.000000,141.000000,46.000000,8.0,26.000000,95.000000,42.000000,30.000000,15.000000,227.000000,37.000000,17.000000,27.000000,304.000000,43.000000
50%,2.000000,2.0,8.000000,3.0,57.000000,143.000000,48.000000,8.0,27.000000,96.000000,43.000000,30.000000,17.000000,229.000000,40.000000,17.000000,28.000000,305.000000,45.000000
75%,3.000000,2.0,9.000000,3.0,58.000000,145.000000,49.000000,8.0,28.000000,98.000000,44.000000,30.000000,18.000000,230.750000,42.000000,17.000000,29.000000,306.000000,46.000000
max,3.000000,2.0,9.000000,3.0,60.000000,147.000000,51.000000,8.0,90.000000,99.000000,47.000000,30.000000,90.000000,306.000000,46.000000,17.000000,90.000000,307.000000,50.000000

In [140]:
#要約統計量で確認してみる
_2_gpgsv_3.describe()

,Number_of_messages,Message_number,SV_total,1_n,1_ed,1_ad,1_snr,2_n,2_ed,2_ad,2_snr,3_n,3_ed,3_ad,3_snr,4_n,4_ed,4_ad,4_snr
count,385.0,385.0,385.0,385.000000,385.0,385.0,385.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,3.0,3.0,9.0,9.836364,90.0,0.0,35.496104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,0.0,0.0,0.0,5.104811,0.0,0.0,4.200770,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,3.0,3.0,9.0,7.000000,90.0,0.0,23.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,3.0,3.0,9.0,7.000000,90.0,0.0,33.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,3.0,3.0,9.0,7.000000,90.0,0.0,35.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,3.0,3.0,9.0,7.000000,90.0,0.0,37.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,3.0,3.0,9.0,19.000000,90.0,0.0,47.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
#衛星番号を表示している項目に要素がどれだけあるのかを調べる

#1行めのセンテンスについて
c_1_n = Counter(_2_gpgsv_1['1_n'])
c_2_n = Counter(_2_gpgsv_1['2_n'])
c_3_n = Counter(_2_gpgsv_1['3_n'])
c_4_n = Counter(_2_gpgsv_1['4_n'])

print(c_1_n.most_common(2))
print(c_2_n.most_common(2))
print(c_3_n.most_common(2))
print(c_4_n.most_common(2))

[(1, 874)]
[(22, 874)]
[(28, 874)]
[(11, 874)]

In [51]:
#2行目のセンテンスについて
c_5_n = Counter(_2_gpgsv_2['1_n'])
c_6_n = Counter(_2_gpgsv_2['2_n'])
c_7_n = Counter(_2_gpgsv_2['3_n'])
c_8_n = Counter(_2_gpgsv_2['4_n'])

print(c_5_n.most_common(3))
print(c_6_n.most_common(3))
print(c_7_n.most_common(3))
print(c_8_n.most_common(3))

[(3, 874)]
[(8, 874)]
[(30, 777), (17, 97)]
[(17.0, 777), (7.0, 5), (nan, 1)]

In [52]:
#3行目のセンテンスについて
c_9_n = Counter(_2_gpgsv_3['1_n'])
c_10_n = Counter(_2_gpgsv_3['2_n'])
c_11_n = Counter(_2_gpgsv_3['3_n'])
c_12_n = Counter(_2_gpgsv_3['4_n'])

print(c_9_n.most_common(3))
print(c_10_n.most_common(3))
print(c_11_n.most_common(3))
print(c_12_n.most_common(3))

[(7, 294), (19, 91)]
[(nan, 1), (nan, 1), (nan, 1)]
[(nan, 1), (nan, 1), (nan, 1)]
[(nan, 1), (nan, 1), (nan, 1)]

In [141]:
#１回目のSNR比を出す
plt.plot(_2_gpgsv_1['1_snr'])
plt.plot(_2_gpgsv_1['2_snr'])
plt.plot(_2_gpgsv_1['3_snr'])
plt.plot(_2_gpgsv_1['4_snr'])
plt.plot(_2_gpgsv_2['1_snr'])
plt.plot(_2_gpgsv_2['2_snr'])
plt.plot(_2_gpgsv_2['3_snr'])
plt.plot(_2_gpgsv_2['4_snr'])
plt.plot(_2_gpgsv_3['1_snr'])

#枠外に凡例を表示しないと見えないので、凡例を外の余白に指定する
plt.subplots_adjust(right=0.7)
#plt.legend([ '1','2','3', '4','5','6', '7', '8', '9', '10', '12', '13','14', '15'], loc='upper left', bbox_to_anchor=(1.05, 1))
plt.legend(['1', '22', '28', '11','3', '8' ,'30', '17-7', '7-19'], loc='upper left', bbox_to_anchor=(1.05, 1))
plt.show()

In [142]:
#要約統計量で確認してみる
_3_gpgsv_1.describe()

,Number_of_messages,Message_number,SV_total,1_n,1_ed,1_ad,1_snr,2_n,2_ed,2_ad,2_snr,3_n,3_ed,3_ad,3_snr,4_n,4_ed,4_ad,4_snr
count,376.000000,376.0,376.000000,376.0,376.0,376.0,376.000000,376.0,376.000000,376.000000,376.000000,376.0,376.000000,376.000000,376.000000,376.0,376.000000,376.000000,376.000000
mean,2.808511,1.0,8.742021,1.0,90.0,0.0,46.335106,22.0,74.340426,42.037234,46.382979,28.0,65.005319,287.281915,46.186170,11.0,77.234043,15.691489,45.726064
std,0.393998,0.0,0.570324,0.0,0.0,0.0,1.828498,0.0,16.017692,43.002123,1.904977,0.0,0.500638,1.919803,1.539669,0.0,21.236660,26.103395,1.532566
min,2.000000,1.0,7.000000,1.0,90.0,0.0,42.000000,22.0,58.000000,0.000000,41.000000,28.0,64.000000,284.000000,40.000000,11.0,42.000000,0.000000,42.000000
25%,3.000000,1.0,9.000000,1.0,90.0,0.0,45.000000,22.0,58.000000,0.000000,45.000000,28.0,65.000000,286.000000,45.000000,11.0,42.000000,0.000000,45.000000
50%,3.000000,1.0,9.000000,1.0,90.0,0.0,46.000000,22.0,90.000000,0.000000,46.000000,28.0,65.000000,287.000000,46.000000,11.0,90.000000,0.000000,46.000000
75%,3.000000,1.0,9.000000,1.0,90.0,0.0,48.000000,22.0,90.000000,86.000000,48.000000,28.0,65.000000,289.000000,47.000000,11.0,90.000000,59.000000,47.000000
max,3.000000,1.0,9.000000,1.0,90.0,0.0,50.000000,22.0,90.000000,87.000000,50.000000,28.0,66.000000,291.000000,50.000000,11.0,90.000000,59.000000,49.000000

In [143]:
#要約統計量で確認してみる
_3_gpgsv_2.describe()

,Number_of_messages,Message_number,SV_total,1_n,1_ed,1_ad,1_snr,2_n,2_ed,2_ad,2_snr,3_n,3_ed,3_ad,3_snr,4_n,4_ed,4_ad,4_snr
count,376.000000,376.0,376.000000,376.0,376.000000,376.000000,376.000000,376.0,376.000000,376.000000,376.000000,376.000000,376.000000,376.000000,376.000000,351.000000,351.000000,351.000000,351.000000
mean,2.808511,2.0,8.742021,3.0,61.388298,134.968085,48.079787,8.0,41.622340,73.452128,40.619681,27.510638,65.199468,83.707447,37.449468,17.267806,46.387464,224.401709,42.185185
std,0.393998,0.0,0.570324,0.0,0.679821,1.436307,1.391025,0.0,29.559088,44.878477,1.862339,5.121968,34.928576,118.597334,4.528735,0.682069,26.870446,136.909901,4.572890
min,2.000000,2.0,7.000000,3.0,60.000000,132.000000,44.000000,8.0,23.000000,0.000000,34.000000,17.000000,12.000000,0.000000,20.000000,17.000000,12.000000,0.000000,21.000000
25%,3.000000,2.0,9.000000,3.0,61.000000,134.000000,47.000000,8.0,23.000000,0.000000,40.000000,30.000000,13.000000,0.000000,35.000000,17.000000,31.000000,0.000000,41.000000
50%,3.000000,2.0,9.000000,3.0,61.000000,135.000000,48.000000,8.0,24.000000,100.000000,41.000000,30.000000,90.000000,0.000000,38.000000,17.000000,31.000000,308.000000,43.000000
75%,3.000000,2.0,9.000000,3.0,62.000000,136.000000,49.000000,8.0,90.000000,101.000000,42.000000,30.000000,90.000000,225.000000,40.000000,17.000000,90.000000,308.000000,45.500000
max,3.000000,2.0,9.000000,3.0,63.000000,137.000000,52.000000,8.0,90.000000,102.000000,45.000000,30.000000,90.000000,309.000000,49.000000,19.000000,90.000000,309.000000,49.000000

In [144]:
#要約統計量で確認してみる
_3_gpgsv_3.describe()

,Number_of_messages,Message_number,SV_total,1_n,1_ed,1_ad,1_snr,2_n,2_ed,2_ad,2_snr,3_n,3_ed,3_ad,3_snr,4_n,4_ed,4_ad,4_snr
count,304.0,304.0,304.0,304.0,304.000000,304.000000,304.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,3.0,3.0,9.0,19.0,75.250000,55.875000,39.417763,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,0.0,0.0,0.0,0.0,30.755879,116.504865,3.782862,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,3.0,3.0,9.0,19.0,11.000000,0.000000,30.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,3.0,3.0,9.0,19.0,90.000000,0.000000,36.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,3.0,3.0,9.0,19.0,90.000000,0.000000,39.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,3.0,3.0,9.0,19.0,90.000000,0.000000,43.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,3.0,3.0,9.0,19.0,90.000000,298.000000,46.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [145]:
#１回目のSNR比を出す
plt.plot(_3_gpgsv_1['1_snr'])
plt.plot(_3_gpgsv_1['2_snr'])
plt.plot(_3_gpgsv_1['3_snr'])
plt.plot(_3_gpgsv_1['4_snr'])
plt.plot(_3_gpgsv_2['1_snr'])
plt.plot(_3_gpgsv_2['2_snr'])
plt.plot(_3_gpgsv_2['3_snr'])
plt.plot(_3_gpgsv_2['4_snr'])
plt.plot(_3_gpgsv_3['1_snr'])

#枠外に凡例を表示しないと見えないので、凡例を外の余白に指定する
plt.subplots_adjust(right=0.7)
#plt.legend([ '1','2','3', '4','5','6', '7', '8', '9', '10', '12', '13','14', '15'], loc='upper left', bbox_to_anchor=(1.05, 1))
plt.legend(['1', '22', '28', '11','3', '8' ,'30-17', '17-19', '19'], loc='upper left', bbox_to_anchor=(1.05, 1))
plt.show()

In [148]:
#要約統計量で確認してみる
_4_gpgsv_1.describe()

,Number_of_messages,Message_number,SV_total,1_n,1_ed,1_ad,1_snr,2_n,2_ed,2_ad,2_snr,3_n,3_ed,3_ad,3_snr,4_n,4_ed,4_ad,4_snr
count,446.000000,446.0,446.000000,446.0,446.000000,446.000000,446.000000,446.0,446.000000,446.000000,446.000000,446.0,446.000000,446.000000,446.000000,446.0,446.000000,446.000000,446.00000
mean,2.650224,1.0,9.017937,1.0,49.874439,37.950673,45.443946,22.0,58.065022,76.488789,46.556054,28.0,66.894619,272.634529,45.917040,11.0,42.069507,58.991031,44.72870
std,0.477435,0.0,0.909200,0.0,6.737280,6.365094,2.173434,0.0,5.329822,12.851043,2.222509,0.0,2.509330,29.183011,1.897325,0.0,10.958845,13.476735,2.30006
min,2.000000,1.0,7.000000,1.0,47.000000,0.000000,33.000000,22.0,57.000000,0.000000,32.000000,28.0,66.000000,0.000000,31.000000,11.0,38.000000,0.000000,32.00000
25%,2.000000,1.0,8.000000,1.0,48.000000,38.000000,44.000000,22.0,57.000000,77.000000,45.000000,28.0,66.000000,273.000000,45.000000,11.0,39.000000,61.000000,43.00000
50%,3.000000,1.0,9.000000,1.0,49.000000,39.000000,45.000000,22.0,57.000000,79.000000,47.000000,28.0,67.000000,276.000000,46.000000,11.0,40.000000,62.000000,45.00000
75%,3.000000,1.0,10.000000,1.0,50.000000,40.000000,47.000000,22.0,57.000000,80.000000,48.000000,28.0,67.000000,278.000000,47.000000,11.0,40.000000,63.000000,46.00000
max,3.000000,1.0,10.000000,1.0,90.000000,40.000000,49.000000,22.0,90.000000,82.000000,50.000000,28.0,90.000000,280.000000,50.000000,11.0,90.000000,64.000000,49.00000

In [146]:
#要約統計量で確認してみる
_4_gpgsv_2.describe()

,Number_of_messages,Message_number,SV_total,1_n,1_ed,1_ad,1_snr,2_n,2_ed,2_ad,2_snr,3_n,3_ed,3_ad,3_snr,4_n,4_ed,4_ad,4_snr
count,446.000000,446.0,446.000000,446.0,446.000000,446.000000,446.000000,446.0,446.000000,446.000000,446.000000,446.000000,446.000000,446.000000,446.000000,434.000000,434.000000,434.000000,434.000000
mean,2.650224,2.0,9.017937,3.0,64.688341,125.726457,47.098655,8.0,73.704036,24.457399,39.827354,23.820628,53.533632,163.466368,39.939462,17.592166,31.979263,279.506912,41.285714
std,0.477435,0.0,0.909200,0.0,0.635432,2.210612,2.317331,0.0,29.772128,44.681562,3.165015,6.499378,32.430773,143.278553,4.457884,2.113857,20.368931,87.070470,5.546064
min,2.000000,2.0,7.000000,3.0,64.000000,122.000000,34.000000,8.0,19.000000,0.000000,23.000000,17.000000,10.000000,0.000000,23.000000,6.000000,10.000000,0.000000,25.000000
25%,2.000000,2.0,8.000000,3.0,64.000000,124.000000,46.000000,8.0,90.000000,0.000000,39.000000,17.000000,35.000000,0.000000,38.000000,17.000000,15.000000,301.000000,37.000000
50%,3.000000,2.0,9.000000,3.0,65.000000,126.000000,47.000000,8.0,90.000000,0.000000,41.000000,30.000000,35.000000,222.000000,41.000000,17.000000,34.000000,311.000000,43.000000
75%,3.000000,2.0,10.000000,3.0,65.000000,128.000000,49.000000,8.0,90.000000,0.000000,42.000000,30.000000,90.000000,311.000000,43.000000,19.000000,36.000000,311.000000,46.000000
max,3.000000,2.0,10.000000,3.0,66.000000,129.000000,51.000000,8.0,90.000000,106.000000,44.000000,30.000000,90.000000,312.000000,47.000000,19.000000,90.000000,313.000000,49.000000

In [147]:
#要約統計量で確認してみる
_4_gpgsv_3.describe()

,Number_of_messages,Message_number,SV_total,1_n,1_ed,1_ad,1_snr,2_n,2_ed,2_ad,2_snr,3_n,3_ed,3_ad,3_snr,4_n,4_ed,4_ad,4_snr
count,290.0,290.0,290.000000,290.000000,290.000000,290.000000,290.000000,176.0,176.0,176.0,176.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,3.0,3.0,9.606897,16.489655,28.393103,245.151724,38.727586,6.0,90.0,0.0,36.431818,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,0.0,0.0,0.489284,5.140405,29.200013,116.237576,3.420617,0.0,0.0,0.0,3.060515,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,3.0,3.0,9.000000,6.000000,10.000000,0.000000,24.000000,6.0,90.0,0.0,25.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,3.0,3.0,9.000000,19.000000,14.000000,300.000000,38.000000,6.0,90.0,0.0,35.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,3.0,3.0,10.000000,19.000000,14.000000,300.000000,40.000000,6.0,90.0,0.0,36.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,3.0,3.0,10.000000,19.000000,16.000000,301.000000,41.000000,6.0,90.0,0.0,38.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,3.0,3.0,10.000000,19.000000,90.000000,302.000000,44.000000,6.0,90.0,0.0,42.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [149]:
#１回目のSNR比を出す
plt.plot(_4_gpgsv_1['1_snr'])
plt.plot(_4_gpgsv_1['2_snr'])
plt.plot(_4_gpgsv_1['3_snr'])
plt.plot(_4_gpgsv_1['4_snr'])
plt.plot(_4_gpgsv_2['1_snr'])
plt.plot(_4_gpgsv_2['2_snr'])
plt.plot(_4_gpgsv_2['3_snr'])
plt.plot(_4_gpgsv_2['4_snr'])
plt.plot(_4_gpgsv_3['1_snr'])

#枠外に凡例を表示しないと見えないので、凡例を外の余白に指定する
plt.subplots_adjust(right=0.7)
#plt.legend([ '1','2','3', '4','5','6', '7', '8', '9', '10', '12', '13','14', '15'], loc='upper left', bbox_to_anchor=(1.05, 1))
plt.legend(['1', '22', '28', '11','3', '8' ,'30-17', '17-19', '19-6'], loc='upper left', bbox_to_anchor=(1.05, 1))
plt.show()

In [109]:
#緯度経度の特異点を探すために緯度と経度を行数でプロットしてみる
plt.plot(_4_gpgga['Lon'])
plt.plot(_5_gpgga['Lon'])
plt.show()
#特異点は419行目

In [110]:
#緯度経度の特異点を探すために緯度と経度を行数でプロットしてみる
plt.plot(_4_gpgga['Lat'])
plt.plot(_5_gpgga['Lat'])
plt.show()

In [150]:
#５回目のSNR比を出す
_5_gpgsv_1.describe()

,Number_of_messages,Message_number,SV_total,1_n,1_ed,1_ad,1_snr,2_n,2_ed,2_ad,2_snr,3_n,3_ed,3_ad,3_snr,4_n,4_ed,4_ad,4_snr
count,585.000000,585.0,585.000000,585.0,585.00000,585.000000,585.000000,585.0,585.000000,585.000000,585.000000,585.0,585.000000,585.000000,585.000000,585.0,585.000000,585.000000,585.000000
mean,2.820513,1.0,9.246154,1.0,50.77094,36.989744,46.194872,22.0,62.270085,57.287179,47.008547,28.0,74.902564,173.030769,46.772650,11.0,55.005128,43.005128,44.760684
std,0.384088,0.0,0.761390,0.0,14.86672,14.012711,2.122847,0.0,13.893512,28.728826,1.725592,0.0,10.932189,125.346598,1.239174,0.0,25.354101,31.158097,2.035009
min,2.000000,1.0,7.000000,1.0,43.00000,0.000000,40.000000,22.0,54.000000,0.000000,40.000000,28.0,67.000000,0.000000,41.000000,11.0,35.000000,0.000000,38.000000
25%,3.000000,1.0,9.000000,1.0,44.00000,41.000000,45.000000,22.0,55.000000,68.000000,46.000000,28.0,67.000000,0.000000,46.000000,11.0,37.000000,0.000000,43.000000
50%,3.000000,1.0,9.000000,1.0,46.00000,42.000000,47.000000,22.0,56.000000,71.000000,47.000000,28.0,67.000000,259.000000,47.000000,11.0,37.000000,65.000000,45.000000
75%,3.000000,1.0,10.000000,1.0,46.00000,43.000000,48.000000,22.0,56.000000,73.000000,48.000000,28.0,90.000000,267.000000,48.000000,11.0,90.000000,65.000000,46.000000
max,3.000000,1.0,10.000000,1.0,90.00000,44.000000,49.000000,22.0,90.000000,75.000000,50.000000,28.0,90.000000,270.000000,49.000000,11.0,90.000000,68.000000,48.000000

In [151]:
#５回目のSNR比を出す
_5_gpgsv_2.describe()

,Number_of_messages,Message_number,SV_total,1_n,1_ed,1_ad,1_snr,2_n,2_ed,2_ad,2_snr,3_n,3_ed,3_ad,3_snr,4_n,4_ed,4_ad,4_snr
count,585.000000,585.0,585.000000,585.0,585.000000,585.000000,585.000000,585.0,585.000000,585.000000,585.000000,585.000000,585.000000,585.000000,585.000000,580.000000,580.000000,580.000000,580.000000
mean,2.820513,2.0,9.246154,3.0,69.177778,103.336752,47.994872,8.0,35.694017,80.991453,40.500855,21.160684,72.029060,108.488889,41.174359,18.124138,43.493103,238.101724,42.258621
std,0.384088,0.0,0.761390,0.0,7.129131,35.418019,1.873108,0.0,31.924199,47.605811,3.963500,5.284200,24.769503,149.513699,4.683514,0.993121,27.105340,130.719564,4.627620
min,2.000000,2.0,7.000000,3.0,66.000000,0.000000,43.000000,8.0,16.000000,0.000000,23.000000,17.000000,37.000000,0.000000,28.000000,17.000000,17.000000,0.000000,26.000000
25%,3.000000,2.0,9.000000,3.0,66.000000,112.000000,47.000000,8.0,17.000000,0.000000,38.000000,17.000000,38.000000,0.000000,37.000000,17.000000,18.000000,303.000000,39.000000
50%,3.000000,2.0,9.000000,3.0,67.000000,115.000000,48.000000,8.0,17.000000,108.000000,41.000000,17.000000,90.000000,0.000000,42.000000,19.000000,37.000000,304.000000,42.000000
75%,3.000000,2.0,10.000000,3.0,67.000000,118.000000,50.000000,8.0,90.000000,109.000000,43.000000,23.000000,90.000000,314.000000,45.000000,19.000000,40.000000,314.000000,47.000000
max,3.000000,2.0,10.000000,3.0,90.000000,121.000000,51.000000,8.0,90.000000,110.000000,47.000000,30.000000,90.000000,315.000000,49.000000,19.000000,90.000000,316.000000,49.000000

In [152]:
#５回目のSNR比を出す
_5_gpgsv_3.describe()

,Number_of_messages,Message_number,SV_total,1_n,1_ed,1_ad,1_snr,2_n,2_ed,2_ad,2_snr,3_n,3_ed,3_ad,3_snr,4_n,4_ed,4_ad,4_snr
count,479.0,479.0,479.000000,479.000000,479.000000,479.000000,479.000000,253.0,253.000000,253.000000,253.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,3.0,3.0,9.528184,12.866388,47.810021,174.108559,40.488518,6.0,49.051383,133.379447,39.56917,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,0.0,0.0,0.499727,6.496450,35.789649,147.961224,3.277183,0.0,38.980781,126.947489,2.04128,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,3.0,3.0,9.000000,6.000000,12.000000,0.000000,25.000000,6.0,11.000000,0.000000,35.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,3.0,3.0,9.000000,6.000000,17.000000,0.000000,39.000000,6.0,12.000000,0.000000,38.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,3.0,3.0,10.000000,19.000000,19.000000,302.000000,42.000000,6.0,14.000000,253.000000,39.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,3.0,3.0,10.000000,19.000000,90.000000,304.000000,43.000000,6.0,90.000000,253.000000,41.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,3.0,3.0,10.000000,19.000000,90.000000,305.000000,45.000000,6.0,90.000000,256.000000,44.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [153]:
#１回目のSNR比を出す
plt.plot(_5_gpgsv_1['1_snr'])
plt.plot(_5_gpgsv_1['2_snr'])
plt.plot(_5_gpgsv_1['3_snr'])
plt.plot(_5_gpgsv_1['4_snr'])
plt.plot(_5_gpgsv_2['1_snr'])
plt.plot(_5_gpgsv_2['2_snr'])
plt.plot(_5_gpgsv_2['3_snr'])
plt.plot(_5_gpgsv_2['4_snr'])
plt.plot(_5_gpgsv_3['1_snr'])

#枠外に凡例を表示しないと見えないので、凡例を外の余白に指定する
plt.subplots_adjust(right=0.7)
#plt.legend([ '1','2','3', '4','5','6', '7', '8', '9', '10', '12', '13','14', '15'], loc='upper left', bbox_to_anchor=(1.05, 1))
plt.legend(['1', '22', '28', '11','3', '8' ,'30-17', '17', '7'], loc='upper left', bbox_to_anchor=(1.05, 1))
plt.show()

In [124]:
#１回目のSNR比を出す(いくつかに絞って出力する)
plt.plot(_5_gpgsv_1['1_snr'])
plt.plot(_5_gpgsv_1['2_snr'])
plt.plot(_5_gpgsv_1['3_snr'])
plt.plot(_5_gpgsv_1['4_snr'])
plt.plot(_5_gpgsv_2['1_snr'])
#plt.plot(_5_gpgsv_2['2_snr'])
#plt.plot(_5_gpgsv_2['3_snr'])
#plt.plot(_5_gpgsv_2['4_snr'])
#plt.plot(_5_gpgsv_3['1_snr'])

#枠外に凡例を表示しないと見えないので、凡例を外の余白に指定する
plt.subplots_adjust(right=0.7)
plt.legend(['1',  '22', '28', '11', '3'], loc='upper left', bbox_to_anchor=(1.05, 1))
plt.show()

In [126]:
#x軸を行数にして、SNR比と緯度の経過について調べる
#緯度
plt.plot(_5_gpgga['Lon'])

#枠外に凡例を表示しないと見えないので、凡例を外の余白に指定する
plt.subplots_adjust(right=0.7)
plt.legend(['Lon'], loc='upper left', bbox_to_anchor=(1.05, 1))
plt.show()

In [64]:
#x軸を行数にして、SNR比と経度の経過について調べる
#緯度
plt.plot(_5_gpgga['Lat'])

#枠外に凡例を表示しないと見えないので、凡例を外の余白に指定する
plt.subplots_adjust(right=0.7)
plt.legend(['Lat'], loc='upper left', bbox_to_anchor=(1.05, 1))
plt.show()

In [134]:
#衛星番号が推移したであろうタイミングを調べる
plt.plot(_5_gpgsv_1['1_n'])
plt.plot(_5_gpgsv_1['2_n'])
plt.plot(_5_gpgsv_1['3_n'])
plt.plot(_5_gpgsv_1['4_n'])
plt.plot(_5_gpgsv_2['1_n'])
plt.plot(_5_gpgsv_2['2_n'])
plt.plot(_5_gpgsv_2['3_n'])
plt.plot(_5_gpgsv_2['4_n'])
plt.plot(_5_gpgsv_3['1_n'])
plt.plot(_5_gpgsv_3['2_n'])

#枠外に凡例を表示しないと見えないので、凡例を外の余白に指定する
plt.subplots_adjust(right=0.7)
plt.legend(['1-1_n', '1-2_n', '1-3_n', '1-4_n', '2-1_n', '2-2_n', '2-3_n', '2-4_n', '3-1_n', '3-2_n'], loc='upper left', bbox_to_anchor=(1.05, 1))
plt.show()

In [133]:
#衛星番号が推移したであろうタイミングを調べる
#分かりにくいので、センテンス別に表示する
plt.plot(_5_gpgsv_1['1_n'])
plt.plot(_5_gpgsv_1['2_n'])
plt.plot(_5_gpgsv_1['3_n'])
plt.plot(_5_gpgsv_1['4_n'])
#plt.plot(_5_gpgsv_2['1_n'])
#plt.plot(_5_gpgsv_2['2_n'])
#plt.plot(_5_gpgsv_2['3_n'])
#plt.plot(_5_gpgsv_2['4_n'])
#plt.plot(_5_gpgsv_3['1_n'])
#plt.plot(_5_gpgsv_3['2_n'])

#枠外に凡例を表示しないと見えないので、凡例を外の余白に指定する
plt.subplots_adjust(right=0.7)
#plt.legend(['1-1_n', '1-2_n', '1-3_n', '1-4_n', '2-1_n', '2-2_n', '2-3_n', '2-4_n', '3-1_n', '3-2_n'], loc='upper left', bbox_to_anchor=(1.05, 1))
plt.legend(['1-1_n', '1-2_n', '1-3_n', '1-4_n'], loc='upper left', bbox_to_anchor=(1.05, 1))
plt.show()

In [131]:
#衛星番号が推移したであろうタイミングを調べる
#分かりにくいので、センテンス別に表示する
#plt.plot(_5_gpgsv_1['1_n'])
#plt.plot(_5_gpgsv_1['2_n'])
#plt.plot(_5_gpgsv_1['3_n'])
#plt.plot(_5_gpgsv_1['4_n'])
plt.plot(_5_gpgsv_2['1_n'])
plt.plot(_5_gpgsv_2['2_n'])
plt.plot(_5_gpgsv_2['3_n'])
plt.plot(_5_gpgsv_2['4_n'])
#plt.plot(_5_gpgsv_3['1_n'])
#plt.plot(_5_gpgsv_3['2_n'])

#枠外に凡例を表示しないと見えないので、凡例を外の余白に指定する
plt.subplots_adjust(right=0.7)
#plt.legend(['1-1_n', '1-2_n', '1-3_n', '1-4_n', '2-1_n', '2-2_n', '2-3_n', '2-4_n', '3-1_n', '3-2_n'], loc='upper left', bbox_to_anchor=(1.05, 1))
plt.legend(['2-1_n', '2-2_n', '2-3_n', '2-4_n'], loc='upper left', bbox_to_anchor=(1.05, 1))
plt.show()

In [136]:
#衛星番号が推移したであろうタイミングを調べる
#分かりにくいので、センテンス別に表示する
#plt.plot(_5_gpgsv_1['1_n'])
#plt.plot(_5_gpgsv_1['2_n'])
#plt.plot(_5_gpgsv_1['3_n'])
#plt.plot(_5_gpgsv_1['4_n'])
#plt.plot(_5_gpgsv_2['1_n'])
#plt.plot(_5_gpgsv_2['2_n'])
#plt.plot(_5_gpgsv_2['3_n'])
#plt.plot(_5_gpgsv_2['4_n'])
plt.plot(_5_gpgsv_3['1_n'])
plt.plot(_5_gpgsv_3['2_n'])

#枠外に凡例を表示しないと見えないので、凡例を外の余白に指定する
plt.subplots_adjust(right=0.7)
#plt.legend(['1-1_n', '1-2_n', '1-3_n', '1-4_n', '2-1_n', '2-2_n', '2-3_n', '2-4_n', '3-1_n', '3-2_n'], loc='upper left', bbox_to_anchor=(1.05, 1))
plt.legend(['3-1_n', '3-2_n'], loc='upper left', bbox_to_anchor=(1.05, 1))
plt.show()

In [154]:
#５回目のSNR比を出す
_6_gpgsv_1.describe()

,Number_of_messages,Message_number,SV_total,1_n,1_ed,1_ad,1_snr,2_n,2_ed,2_ad,2_snr,3_n,3_ed,3_ad,3_snr,4_n,4_ed,4_ad,4_snr
count,574.000000,574.0,574.000000,574.0,574.000000,574.000000,574.000000,574.0,574.000000,574.0,574.000000,574.0,574.000000,574.0,574.000000,574.0,574.000000,574.000000,574.000000
mean,2.998258,1.0,9.268293,17.0,87.275261,51.419861,48.311847,19.0,66.750871,324.0,46.158537,3.0,32.229965,44.0,43.925087,6.0,45.780488,304.757840,46.653310
std,0.041739,0.0,0.447375,0.0,0.681991,28.241288,1.309903,0.0,1.380097,0.0,1.387159,0.0,1.200381,0.0,1.912473,0.0,0.801767,1.480142,1.290324
min,2.000000,1.0,8.000000,17.0,86.000000,12.000000,44.000000,19.0,64.000000,324.0,42.000000,3.0,30.000000,44.0,35.000000,6.0,44.000000,302.000000,42.000000
25%,3.000000,1.0,9.000000,17.0,87.000000,25.250000,47.000000,19.0,66.000000,324.0,45.000000,3.0,31.000000,44.0,43.000000,6.0,45.000000,304.000000,46.000000
50%,3.000000,1.0,9.000000,17.0,87.000000,47.000000,48.000000,19.0,67.000000,324.0,46.000000,3.0,32.000000,44.0,44.000000,6.0,46.000000,305.000000,47.000000
75%,3.000000,1.0,10.000000,17.0,88.000000,76.000000,49.000000,19.0,68.000000,324.0,47.000000,3.0,33.000000,44.0,45.000000,6.0,46.000000,306.000000,48.000000
max,3.000000,1.0,10.000000,17.0,88.000000,103.000000,52.000000,19.0,69.000000,324.0,50.000000,3.0,34.000000,44.0,48.000000,6.0,47.000000,307.000000,49.000000

In [155]:
#５回目のSNR比を出す
_6_gpgsv_2.describe()

,Number_of_messages,Message_number,SV_total,1_n,1_ed,1_ad,1_snr,2_n,2_ed,2_ad,2_snr,3_n,3_ed,3_ad,3_snr,4_n,4_ed,4_ad,4_snr
count,573.000000,573.0,573.000000,573.0,573.000000,573.000000,573.000000,573.0,573.000000,573.000000,573.000000,573.0,573.000000,573.000000,573.000000,573.000000,573.000000,573.000000,573.000000
mean,2.998255,2.0,9.268761,23.0,37.748691,94.075044,46.773124,28.0,22.801047,197.828970,41.712042,9.0,36.055846,135.090750,44.514834,21.376963,15.364747,46.431065,38.190227
std,0.041776,0.0,0.447625,0.0,0.434145,1.620333,2.252623,0.0,1.245495,0.675804,3.787052,0.0,1.079216,1.183571,1.338721,3.566201,13.105994,8.133558,3.263023
min,2.000000,2.0,8.000000,23.0,37.000000,91.000000,40.000000,28.0,21.000000,197.000000,28.000000,9.0,34.000000,133.000000,39.000000,1.000000,11.000000,0.000000,21.000000
25%,3.000000,2.0,9.000000,23.0,37.000000,93.000000,45.000000,28.0,22.000000,197.000000,40.000000,9.0,35.000000,134.000000,44.000000,22.000000,12.000000,48.000000,37.000000
50%,3.000000,2.0,9.000000,23.0,38.000000,94.000000,47.000000,28.0,23.000000,198.000000,43.000000,9.0,36.000000,135.000000,45.000000,22.000000,13.000000,48.000000,39.000000
75%,3.000000,2.0,10.000000,23.0,38.000000,95.000000,49.000000,28.0,24.000000,198.000000,45.000000,9.0,37.000000,136.000000,45.000000,22.000000,14.000000,48.000000,40.000000
max,3.000000,2.0,10.000000,23.0,38.000000,97.000000,50.000000,28.0,25.000000,199.000000,46.000000,9.0,38.000000,137.000000,48.000000,22.000000,90.000000,48.000000,46.000000

In [156]:
#５回目のSNR比を出す
_6_gpgsv_3.describe()

,Number_of_messages,Message_number,1_n,1_ed,1_snr,2_ed,2_ad,2_snr,3_n,3_ad,4_n,4_ed,4_ad,4_snr
count,571.0,571.0,571.000000,571.000000,571.000000,155.000000,155.000000,155.000000,1.0000,1.00,0.0,0.0,0.0,0.0
mean,3.0,3.0,80.513135,47.571857,60.747635,14.432258,282.774194,37.244516,57.4268,38.06,NaN,NaN,NaN,NaN
std,0.0,0.0,1884.922665,146.880479,565.467848,1.195334,21.734391,3.822305,NaN,NaN,NaN,NaN,NaN,NaN
min,3.0,3.0,1.000000,12.000000,22.000000,1.000000,14.000000,0.900000,57.4268,38.06,NaN,NaN,NaN,NaN
25%,3.0,3.0,1.000000,13.000000,34.000000,14.000000,284.000000,36.000000,57.4268,38.06,NaN,NaN,NaN,NaN
50%,3.0,3.0,2.000000,14.000000,38.000000,15.000000,285.000000,38.000000,57.4268,38.06,NaN,NaN,NaN,NaN
75%,3.0,3.0,2.000000,90.000000,40.000000,15.000000,285.000000,39.000000,57.4268,38.06,NaN,NaN,NaN,NaN
max,3.0,3.0,45043.000000,3438.530126,13548.899682,15.000000,285.000000,43.000000,57.4268,38.06,NaN,NaN,NaN,NaN

In [161]:
#衛星番号が推移したであろうタイミングを調べる
plt.plot(_6_gpgsv_1['1_n'])
plt.plot(_6_gpgsv_1['2_n'])
plt.plot(_6_gpgsv_1['3_n'])
plt.plot(_6_gpgsv_1['4_n'])
plt.plot(_6_gpgsv_2['1_n'])
plt.plot(_6_gpgsv_2['2_n'])
plt.plot(_6_gpgsv_2['3_n'])
plt.plot(_6_gpgsv_2['4_n'])
plt.plot(_6_gpgsv_3['1_n'])
plt.plot(_6_gpgsv_3['2_n'])

#枠外に凡例を表示しないと見えないので、凡例を外の余白に指定する
plt.subplots_adjust(right=0.7)
plt.legend(['1-1_n', '1-2_n', '1-3_n', '1-4_n', '2-1_n', '2-2_n', '2-3_n', '2-4_n', '3-1_n', '3-2_n'], loc='upper left', bbox_to_anchor=(1.05, 1))
plt.show()

In [162]:
#１回目のSNR比を出す
plt.plot(_6_gpgsv_1['1_snr'])
plt.plot(_6_gpgsv_1['2_snr'])
plt.plot(_6_gpgsv_1['3_snr'])
plt.plot(_6_gpgsv_1['4_snr'])
plt.plot(_6_gpgsv_2['1_snr'])
plt.plot(_6_gpgsv_2['2_snr'])
plt.plot(_6_gpgsv_2['3_snr'])
plt.plot(_6_gpgsv_2['4_snr'])
plt.plot(_6_gpgsv_3['1_snr'])

#枠外に凡例を表示しないと見えないので、凡例を外の余白に指定する
plt.subplots_adjust(right=0.7)
#plt.legend([ '1','2','3', '4','5','6', '7', '8', '9', '10', '12', '13','14', '15'], loc='upper left', bbox_to_anchor=(1.05, 1))
plt.legend(['17', '19', '3', '6','23', '28' ,'1-22', '1-2', '1-15'], loc='upper left', bbox_to_anchor=(1.05, 1))
plt.show()

In [163]:
#５回目のSNR比を出す
_7_gpgsv_1.describe()

,Number_of_messages,Message_number,SV_total,1_n,1_ed,1_ad,1_snr,2_n,2_ed,2_ad,2_snr,3_n,3_ed,3_ad,3_snr,4_n,4_ad,4_snr
count,398.000000,398.0,398.000000,398.0,398.000000,398.000000,398.000000,398.0,398.000000,398.000000,398.000000,398.0,398.000000,398.000000,398.000000,398.000000,396.000000,396.000000
mean,2.894472,1.0,9.035176,17.0,85.422111,127.977387,47.761307,19.0,71.374372,322.741206,47.185930,3.0,28.339196,45.846734,41.276382,6.203518,309.020202,46.103535
std,0.307619,0.0,0.495591,0.0,0.940397,7.135394,1.672359,0.0,1.017750,0.444230,1.482255,0.0,0.873928,20.413462,2.749673,4.060163,15.609299,2.005534
min,2.000000,1.0,8.000000,17.0,84.000000,113.000000,43.000000,19.0,70.000000,322.000000,44.000000,3.0,27.000000,44.000000,6.000000,6.000000,0.000000,32.000000
25%,3.000000,1.0,9.000000,17.0,85.000000,122.000000,47.000000,19.0,71.000000,322.000000,46.000000,3.0,28.000000,45.000000,40.000000,6.000000,309.000000,45.000000
50%,3.000000,1.0,9.000000,17.0,85.000000,129.000000,48.000000,19.0,71.000000,323.000000,47.000000,3.0,28.000000,45.000000,41.000000,6.000000,310.000000,46.000000
75%,3.000000,1.0,9.000000,17.0,86.000000,134.000000,49.000000,19.0,72.000000,323.000000,48.000000,3.0,29.000000,45.000000,43.000000,6.000000,311.000000,48.000000
max,3.000000,1.0,10.000000,17.0,87.000000,138.000000,52.000000,19.0,73.000000,324.000000,50.000000,3.0,30.000000,452.000000,45.000000,87.000000,312.000000,50.000000

In [164]:
#５回目のSNR比を出す
_7_gpgsv_2.describe()

,Number_of_messages,Message_number,SV_total,1_n,1_ed,1_ad,1_snr,2_n,2_ed,2_ad,2_snr,3_n,3_ed,3_ad,3_snr,4_n,4_ed,4_ad,4_snr
count,395.000000,395.0,395.000000,395.0,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000
mean,2.901266,2.0,9.043038,23.0,38.886076,88.607595,45.296203,26.460759,21.268354,188.660759,40.739241,10.053165,43.473418,120.488608,44.032911,17.739241,66.131646,38.539241,34.483544
std,0.298683,0.0,0.489142,0.0,0.318122,1.140150,1.723490,5.190811,9.088336,26.065446,4.477281,3.551608,13.850587,35.829854,4.367791,8.338057,35.787697,84.901318,3.544010
min,2.000000,2.0,8.000000,23.0,38.000000,87.000000,41.000000,9.000000,17.000000,0.000000,28.000000,9.000000,38.000000,0.000000,21.000000,1.000000,10.000000,0.000000,22.000000
25%,3.000000,2.0,9.000000,23.0,39.000000,88.000000,44.000000,28.000000,18.000000,195.000000,38.000000,9.000000,39.000000,130.000000,44.000000,22.000000,17.000000,0.000000,32.000000
50%,3.000000,2.0,9.000000,23.0,39.000000,89.000000,45.000000,28.000000,19.000000,196.000000,41.000000,9.000000,39.000000,131.000000,45.000000,22.000000,90.000000,0.000000,35.000000
75%,3.000000,2.0,9.000000,23.0,39.000000,90.000000,47.000000,28.000000,20.000000,196.000000,45.000000,9.000000,40.000000,132.000000,46.000000,22.000000,90.000000,48.000000,37.000000
max,3.000000,2.0,10.000000,23.0,39.000000,91.000000,48.000000,28.000000,90.000000,197.000000,47.000000,22.000000,90.000000,133.000000,48.000000,22.000000,90.000000,288.000000,42.000000

In [171]:
#５回目のSNR比を出す
_7_gpgsv_3.describe()

,Number_of_messages,Message_number,SV_total,1_n,1_ed,1_ad,1_snr,2_n,2_ed,2_ad,2_snr,3_n,3_ed,3_ad,3_snr,4_n,4_ed,4_ad,4_snr
count,356.0,356.0,356.000000,356.000000,356.000000,356.000000,356.000000,56.0,56.000000,56.000000,56.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,3.0,3.0,9.157303,1.842697,27.797753,241.620787,39.620787,2.0,16.767857,287.392857,38.267857,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,0.0,0.0,0.364599,0.364599,26.916848,104.540791,4.239920,0.0,0.426021,0.492805,1.863438,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,3.0,3.0,9.000000,1.000000,15.000000,0.000000,21.000000,2.0,16.000000,287.000000,33.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,3.0,3.0,9.000000,2.000000,16.000000,286.000000,38.000000,2.0,17.000000,287.000000,37.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,3.0,3.0,9.000000,2.000000,16.000000,287.000000,40.000000,2.0,17.000000,287.000000,38.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,3.0,3.0,9.000000,2.000000,17.000000,287.000000,43.000000,2.0,17.000000,288.000000,39.250000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,3.0,3.0,10.000000,2.000000,90.000000,288.000000,46.000000,2.0,17.000000,288.000000,42.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
#衛星番号が推移したであろうタイミングを調べる
plt.plot(_7_gpgsv_1['1_n'])
plt.plot(_7_gpgsv_1['2_n'])
plt.plot(_7_gpgsv_1['3_n'])
plt.plot(_7_gpgsv_1['4_n'])
plt.plot(_7_gpgsv_2['1_n'])
plt.plot(_7_gpgsv_2['2_n'])
plt.plot(_7_gpgsv_2['3_n'])
plt.plot(_7_gpgsv_2['4_n'])
plt.plot(_7_gpgsv_3['1_n'])
plt.plot(_7_gpgsv_3['2_n'])

#枠外に凡例を表示しないと見えないので、凡例を外の余白に指定する
plt.subplots_adjust(right=0.7)
plt.legend(['1-1_n', '1-2_n', '1-3_n', '1-4_n', '2-1_n', '2-2_n', '2-3_n', '2-4_n', '3-1_n', '3-2_n'], loc='upper left', bbox_to_anchor=(1.05, 1))
plt.show()

In [173]:
#１回目のSNR比を出す
plt.plot(_7_gpgsv_1['1_snr'])
plt.plot(_7_gpgsv_1['2_snr'])
plt.plot(_7_gpgsv_1['3_snr'])
plt.plot(_7_gpgsv_1['4_snr'])
plt.plot(_7_gpgsv_2['1_snr'])
plt.plot(_7_gpgsv_2['2_snr'])
plt.plot(_7_gpgsv_2['3_snr'])
plt.plot(_7_gpgsv_2['4_snr'])
plt.plot(_7_gpgsv_3['1_snr'])

#枠外に凡例を表示しないと見えないので、凡例を外の余白に指定する
plt.subplots_adjust(right=0.7)
#plt.legend([ '1','2','3', '4','5','6', '7', '8', '9', '10', '12', '13','14', '15'], loc='upper left', bbox_to_anchor=(1.05, 1))
plt.legend(['17', '19', '3', '6','23', '9-28' ,'9-22', '1-2', '16-17'], loc='upper left', bbox_to_anchor=(1.05, 1))
plt.show()

In [174]:
#５回目のSNR比を出す
_8_gpgsv_1.describe()

,Number_of_messages,Message_number,SV_total,1_n,1_ed,1_ad,1_snr,2_n,2_ed,2_ad,2_snr,3_n,3_ed,3_ad,3_snr,4_n,4_ed,4_ad,4_snr
count,326.000000,326.0,326.000000,326.0,326.000000,326.000000,326.000000,326.0,326.000000,326.000000,326.000000,326.0,326.000000,326.000000,326.000000,326.0,326.000000,326.000000,326.000000
mean,2.260736,1.0,8.211656,17.0,81.266871,145.484663,47.613497,19.0,75.647239,319.797546,47.147239,3.0,24.880368,45.128834,39.947853,6.0,50.625767,314.711656,45.641104
std,0.439711,0.0,0.515590,0.0,0.851753,1.718159,1.528499,0.0,0.856527,0.919261,1.536162,0.0,0.723951,0.335532,3.645066,0.0,0.484668,0.965395,1.530218
min,2.000000,1.0,7.000000,17.0,80.000000,142.000000,44.000000,19.0,74.000000,318.000000,43.000000,3.0,24.000000,45.000000,29.000000,6.0,50.000000,313.000000,42.000000
25%,2.000000,1.0,8.000000,17.0,81.000000,144.000000,47.000000,19.0,75.000000,319.000000,46.000000,3.0,24.000000,45.000000,37.000000,6.0,50.000000,314.000000,45.000000
50%,2.000000,1.0,8.000000,17.0,81.000000,146.000000,47.000000,19.0,76.000000,320.000000,47.000000,3.0,25.000000,45.000000,41.000000,6.0,51.000000,315.000000,45.500000
75%,3.000000,1.0,9.000000,17.0,82.000000,147.000000,48.000000,19.0,76.000000,321.000000,48.000000,3.0,25.000000,45.000000,43.000000,6.0,51.000000,315.750000,47.000000
max,3.000000,1.0,9.000000,17.0,83.000000,148.000000,51.000000,19.0,77.000000,321.000000,51.000000,3.0,26.000000,46.000000,45.000000,6.0,51.000000,316.000000,50.000000

In [175]:
#8回目のSNR比を出す
_8_gpgsv_2.describe()

,Number_of_messages,Message_number,SV_total,1_n,1_ed,1_ad,1_snr,2_n,2_ed,2_ad,2_snr,3_n,3_ed,3_ad,3_snr,4_n,4_ed,4_ad,4_snr
count,326.000000,326.0,326.000000,326.0,326.0,326.000000,326.000000,326.000000,326.000000,326.000000,326.000000,326.000000,326.000000,326.000000,326.000000,310.000000,310.000000,310.000000,310.000000
mean,2.260736,2.0,8.211656,23.0,39.0,83.466258,44.766871,26.309816,19.809816,182.312883,37.460123,9.420245,44.095092,126.319018,44.653374,8.774194,42.783871,191.567742,37.512903
std,0.439711,0.0,0.515590,0.0,0.0,1.009385,1.998678,5.417268,14.701984,37.712356,4.590620,3.236060,11.665604,42.718644,3.534372,9.480724,33.849396,137.323751,4.007052
min,2.000000,2.0,7.000000,23.0,39.0,82.000000,39.000000,9.000000,14.000000,0.000000,25.000000,2.000000,19.000000,0.000000,28.000000,2.000000,18.000000,0.000000,24.000000
25%,2.000000,2.0,8.000000,23.0,39.0,83.000000,43.000000,28.000000,15.000000,194.000000,34.000000,9.000000,42.000000,126.000000,44.000000,2.000000,18.000000,0.000000,35.000000
50%,2.000000,2.0,8.000000,23.0,39.0,83.000000,45.000000,28.000000,15.000000,194.000000,38.000000,9.000000,42.000000,127.000000,45.000000,2.000000,19.000000,289.000000,39.000000
75%,3.000000,2.0,9.000000,23.0,39.0,84.000000,46.000000,28.000000,16.000000,194.000000,41.000000,9.000000,43.000000,128.000000,47.000000,22.000000,90.000000,290.000000,41.000000
max,3.000000,2.0,9.000000,23.0,39.0,85.000000,49.000000,28.000000,90.000000,195.000000,47.000000,22.000000,90.000000,290.000000,49.000000,22.000000,90.000000,291.000000,43.000000

In [176]:
#8回目のSNR比を出す
_8_gpgsv_3.describe()

,Number_of_messages,Message_number,SV_total,1_n,1_ed,1_ad,1_snr,2_n,2_ed,2_ad,2_snr,3_n,3_ed,3_ad,3_snr,4_n,4_ed,4_ad,4_snr
count,85.0,85.0,85.0,85.0,85.000000,85.000000,85.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,3.0,3.0,9.0,2.0,22.105882,276.117647,38.552941,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,0.0,0.0,0.0,0.0,15.183029,61.725084,2.888837,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,3.0,3.0,9.0,2.0,18.000000,0.000000,28.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,3.0,3.0,9.0,2.0,19.000000,289.000000,38.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,3.0,3.0,9.0,2.0,19.000000,290.000000,39.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,3.0,3.0,9.0,2.0,19.000000,290.000000,40.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,3.0,3.0,9.0,2.0,90.000000,290.000000,43.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [177]:
#衛星番号が推移したであろうタイミングを調べる
plt.plot(_8_gpgsv_1['1_n'])
plt.plot(_8_gpgsv_1['2_n'])
plt.plot(_8_gpgsv_1['3_n'])
plt.plot(_8_gpgsv_1['4_n'])
plt.plot(_8_gpgsv_2['1_n'])
plt.plot(_8_gpgsv_2['2_n'])
plt.plot(_8_gpgsv_2['3_n'])
plt.plot(_8_gpgsv_2['4_n'])
plt.plot(_8_gpgsv_3['1_n'])
plt.plot(_8_gpgsv_3['2_n'])

#枠外に凡例を表示しないと見えないので、凡例を外の余白に指定する
plt.subplots_adjust(right=0.7)
plt.legend(['1-1_n', '1-2_n', '1-3_n', '1-4_n', '2-1_n', '2-2_n', '2-3_n', '2-4_n', '3-1_n', '3-2_n'], loc='upper left', bbox_to_anchor=(1.05, 1))
plt.show()

In [178]:
#１回目のSNR比を出す
plt.plot(_8_gpgsv_1['1_snr'])
plt.plot(_8_gpgsv_1['2_snr'])
plt.plot(_8_gpgsv_1['3_snr'])
plt.plot(_8_gpgsv_1['4_snr'])
plt.plot(_8_gpgsv_2['1_snr'])
plt.plot(_8_gpgsv_2['2_snr'])
plt.plot(_8_gpgsv_2['3_snr'])
plt.plot(_8_gpgsv_2['4_snr'])
plt.plot(_8_gpgsv_3['1_snr'])

#枠外に凡例を表示しないと見えないので、凡例を外の余白に指定する
plt.subplots_adjust(right=0.7)
#plt.legend([ '1','2','3', '4','5','6', '7', '8', '9', '10', '12', '13','14', '15'], loc='upper left', bbox_to_anchor=(1.05, 1))
plt.legend(['17', '19', '3', '6','23', '9-28' ,'9-22', '1-2', '16-17'], loc='upper left', bbox_to_anchor=(1.05, 1))
plt.show()

In [179]:
#５回目のSNR比を出す
_9_gpgsv_1.describe()

,Number_of_messages,Message_number,SV_total,1_n,1_ed,1_ad,1_snr,2_n,2_ed,2_ad,2_snr,3_n,3_ed,3_ad,3_snr,4_n,4_ed,4_ad,4_snr
count,454.000000,454.0,454.000000,454.0,454.000000,454.000000,454.000000,454.0,454.000000,454.000000,454.000000,454.000000,454.000000,454.000000,454.000000,454.000000,454.000000,454.000000,454.000000
mean,2.737885,1.0,8.715859,17.0,78.385463,140.259912,48.202643,19.0,79.339207,313.731278,47.484581,3.072687,40.966960,40.378855,42.033040,6.411894,66.079295,202.696035,47.143172
std,0.440270,0.0,0.498000,0.0,3.433874,39.332042,1.632558,0.0,1.075271,2.488479,1.592887,0.461788,29.973222,48.544530,4.047321,2.616797,18.098769,153.328400,1.927891
min,2.000000,1.0,7.000000,17.0,75.000000,0.000000,42.000000,19.0,77.000000,309.000000,43.000000,3.000000,21.000000,0.000000,25.000000,6.000000,52.000000,0.000000,41.000000
25%,2.000000,1.0,8.000000,17.0,77.000000,150.000000,47.000000,19.0,78.000000,312.000000,46.000000,3.000000,22.000000,0.000000,41.000000,6.000000,52.000000,0.000000,46.000000
50%,3.000000,1.0,9.000000,17.0,78.000000,151.000000,48.000000,19.0,79.000000,314.000000,48.000000,3.000000,23.000000,46.000000,43.000000,6.000000,53.000000,318.000000,48.000000
75%,3.000000,1.0,9.000000,17.0,79.000000,152.000000,49.000000,19.0,80.000000,316.000000,49.000000,3.000000,90.000000,46.000000,45.000000,6.000000,90.000000,319.000000,49.000000
max,3.000000,1.0,9.000000,17.0,90.000000,153.000000,52.000000,19.0,81.000000,318.000000,50.000000,6.000000,90.000000,320.000000,47.000000,23.000000,90.000000,320.000000,50.000000

In [180]:
#５回目のSNR比を出す
_9_gpgsv_2.describe()

,Number_of_messages,Message_number,SV_total,1_n,1_ad,1_snr,2_ed,2_snr,3_n,3_ed,3_ad,4_n,4_ad,4_snr
count,453.000000,453.0,453.000000,453.000000,453.000000,453.000000,453.000000,453.000000,453.000000,453.000000,453.000000,443.000000,443.000000,443.000000
mean,2.737307,2.0,8.715232,22.701987,183.092715,54.056293,66.900453,37.450331,9.110375,64.211479,71.896387,9.598330,178.679458,39.338600
std,0.440584,0.0,0.498371,2.074267,2402.628596,159.382616,635.837252,4.525770,1.381356,23.996819,71.216861,4.518411,153.107055,3.904751
min,2.000000,2.0,7.000000,9.000000,0.000000,29.000000,11.000000,4.000000,2.000000,0.800000,0.000000,2.000000,0.000000,0.000000
25%,2.000000,2.0,8.000000,23.000000,77.000000,46.000000,12.000000,35.000000,9.000000,44.000000,0.000000,12.000000,0.000000,37.000000
50%,3.000000,2.0,9.000000,23.000000,79.000000,47.000000,13.000000,37.000000,9.000000,45.000000,123.000000,12.000000,291.000000,40.000000
75%,3.000000,2.0,9.000000,23.000000,80.000000,48.000000,90.000000,40.000000,9.000000,90.000000,124.000000,12.000000,315.000000,42.000000
max,3.000000,2.0,9.000000,28.000000,51204.000000,3438.500899,13548.905380,49.000000,15.000000,90.000000,316.000000,38.060000,317.000000,46.000000

In [181]:
#５回目のSNR比を出す
_9_gpgsv_3.describe()

,Number_of_messages,Message_number,SV_total,1_n,1_ed,1_ad,1_snr,2_n,2_ed,2_ad,2_snr,3_n,3_ed,3_ad,3_snr,4_n,4_ed,4_ad,4_snr
count,333.0,333.0,333.0,333.0,333.000000,333.000000,333.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,3.0,3.0,9.0,2.0,61.573574,119.153153,41.810811,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,0.0,0.0,0.0,0.0,34.265505,143.622698,1.976581,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,3.0,3.0,9.0,2.0,20.000000,0.000000,35.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,3.0,3.0,9.0,2.0,21.000000,0.000000,41.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,3.0,3.0,9.0,2.0,90.000000,0.000000,42.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,3.0,3.0,9.0,2.0,90.000000,292.000000,43.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,3.0,3.0,9.0,2.0,90.000000,292.000000,46.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [186]:
#衛星番号が推移したであろうタイミングを調べる
plt.plot(_9_gpgsv_1['1_n'])
plt.plot(_9_gpgsv_1['2_n'])
plt.plot(_9_gpgsv_1['3_n'])
plt.plot(_9_gpgsv_1['4_n'])
plt.plot(_9_gpgsv_2['1_n'])
plt.plot(_9_gpgsv_2['2_n'])
plt.plot(_9_gpgsv_2['3_n'])
plt.plot(_9_gpgsv_2['4_n'])
plt.plot(_9_gpgsv_3['1_n'])
plt.plot(_9_gpgsv_3['2_n'])

#枠外に凡例を表示しないと見えないので、凡例を外の余白に指定する
plt.subplots_adjust(right=0.7)
plt.legend(['1-1_n', '1-2_n', '1-3_n', '1-4_n', '2-1_n', '2-2_n', '2-3_n', '2-4_n', '3-1_n', '3-2_n'], loc='upper left', bbox_to_anchor=(1.05, 1))
plt.show()

In [185]:
#１回目のSNR比を出す
plt.plot(_9_gpgsv_1['1_snr'])
plt.plot(_9_gpgsv_1['2_snr'])
plt.plot(_9_gpgsv_1['3_snr'])
plt.plot(_9_gpgsv_1['4_snr'])
plt.plot(_9_gpgsv_2['1_snr'])
plt.plot(_9_gpgsv_2['2_snr'])
plt.plot(_9_gpgsv_2['3_snr'])
plt.plot(_9_gpgsv_2['4_snr'])
plt.plot(_9_gpgsv_3['1_snr'])

#枠外に凡例を表示しないと見えないので、凡例を外の余白に指定する
plt.subplots_adjust(right=0.7)
#plt.legend([ '1','2','3', '4','5','6', '7', '8', '9', '10', '12', '13','14', '15'], loc='upper left', bbox_to_anchor=(1.05, 1))
plt.legend(['17', '19', '3', '6','23', '9-28' ,'9-22', '1-2', '16-17'], loc='upper left', bbox_to_anchor=(1.05, 1))
plt.show()

In [187]:
#５回目のSNR比を出す
_10_gpgsv_1.describe()

,Number_of_messages,Message_number,SV_total,1_ed,1_ad,2_n,2_ad,2_snr,3_n,3_ed,3_snr,4_ed,4_ad,4_snr
count,532.000000,532.0,532.000000,532.000000,532.000000,532.000000,532.000000,532.000000,532.000000,532.000000,532.000000,532.000000,532.000000,531.000000
mean,2.524436,1.0,8.528195,170.432331,162.241582,44.432080,289.362782,47.233083,2.996429,18.445509,40.030188,55.672932,324.877820,46.585687
std,0.499873,0.0,0.507156,2274.698182,142.314996,586.594101,15.951727,2.016457,0.082375,7.253059,4.643055,3.023165,20.054965,1.890818
min,2.000000,1.0,8.000000,69.000000,154.000000,19.000000,4.000000,14.000000,1.100000,16.000000,26.000000,1.000000,0.000000,40.000000
25%,2.000000,1.0,8.000000,71.000000,155.000000,19.000000,281.750000,46.000000,3.000000,17.000000,37.000000,55.000000,325.000000,45.000000
50%,3.000000,1.0,9.000000,72.000000,156.000000,19.000000,291.000000,47.000000,3.000000,18.000000,40.000000,56.000000,326.000000,47.000000
75%,3.000000,1.0,9.000000,73.000000,157.000000,19.000000,299.000000,48.000000,3.000000,19.000000,43.000000,56.000000,328.000000,48.000000
max,3.000000,1.0,10.000000,52538.000000,3438.521698,13548.866366,305.000000,50.000000,3.000000,90.000000,48.000000,90.000000,329.000000,50.000000

In [189]:
#５回目のSNR比を出す
_10_gpgsv_2.describe()

,Number_of_messages,Message_number,SV_total,1_n,1_ed,1_ad,1_snr,2_n,2_ed,2_ad,2_snr,3_n,3_ed,3_ad,3_snr,4_n,4_ed,4_ad,4_snr
count,529.000000,529.0,529.000000,529.0,529.000000,529.000000,529.000000,529.000000,529.000000,529.000000,529.000000,529.000000,529.000000,529.000000,529.000000,529.000000,529.000000,529.000000,529.000000
mean,2.523629,2.0,8.527410,23.0,38.519849,72.701323,45.903592,18.697543,69.306238,57.090737,39.786389,10.376181,32.531191,207.814745,41.480151,7.209830,19.232514,302.606805,39.137996
std,0.499914,0.0,0.507244,0.0,0.500079,1.525546,2.481783,9.506936,21.152243,58.352048,6.410346,1.615585,18.118284,100.300664,6.085571,4.992363,6.429160,20.323809,2.728541
min,2.000000,2.0,8.000000,23.0,38.000000,70.000000,40.000000,9.000000,47.000000,0.000000,23.000000,5.000000,14.000000,0.000000,25.000000,2.000000,14.000000,0.000000,29.000000
25%,2.000000,2.0,8.000000,23.0,38.000000,71.000000,44.000000,9.000000,48.000000,0.000000,34.000000,9.000000,14.000000,116.000000,36.000000,2.000000,14.000000,295.000000,37.000000
50%,3.000000,2.0,9.000000,23.0,39.000000,73.000000,46.000000,28.000000,90.000000,0.000000,39.000000,9.000000,47.000000,119.000000,43.000000,12.000000,15.000000,310.000000,39.000000
75%,3.000000,2.0,9.000000,23.0,39.000000,74.000000,48.000000,28.000000,90.000000,117.000000,46.000000,12.000000,48.000000,312.000000,47.000000,12.000000,24.000000,311.000000,41.000000
max,3.000000,2.0,10.000000,23.0,39.000000,75.000000,50.000000,28.000000,90.000000,118.000000,49.000000,12.000000,90.000000,313.000000,50.000000,12.000000,90.000000,314.000000,45.000000

In [190]:
#５回目のSNR比を出す
_10_gpgsv_3.describe()

,Number_of_messages,Message_number,SV_total,1_n,1_ed,1_ad,2_n,2_ad,2_snr,3_n,3_ed,3_ad,3_snr,4_n,4_ed,4_ad,4_snr
count,276.0,276.0,276.000000,276.000000,276.000000,276.000000,3.0,3.000000,3.000000,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
mean,3.0,3.0,9.007246,2.072464,24.101449,295.974638,2.0,220.000000,56.000000,26.0,47.0,88.0,40.0,116.0,44.0,65.0,90.0
std,0.0,0.0,0.084971,0.849707,1.164879,1.658940,0.0,133.367912,23.388031,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,3.0,3.0,9.000000,2.000000,15.000000,294.000000,2.0,66.000000,42.000000,26.0,47.0,88.0,40.0,116.0,44.0,65.0,90.0
25%,3.0,3.0,9.000000,2.000000,23.000000,295.000000,2.0,181.500000,42.500000,26.0,47.0,88.0,40.0,116.0,44.0,65.0,90.0
50%,3.0,3.0,9.000000,2.000000,24.000000,296.000000,2.0,297.000000,43.000000,26.0,47.0,88.0,40.0,116.0,44.0,65.0,90.0
75%,3.0,3.0,9.000000,2.000000,25.000000,297.000000,2.0,297.000000,63.000000,26.0,47.0,88.0,40.0,116.0,44.0,65.0,90.0
max,3.0,3.0,10.000000,12.000000,25.000000,310.000000,2.0,297.000000,83.000000,26.0,47.0,88.0,40.0,116.0,44.0,65.0,90.0

In [21]:
#衛星番号が推移したであろうタイミングを調べる
plt.plot(_10_gpgsv_1['1_n'])
plt.plot(_10_gpgsv_1['2_n'])
plt.plot(_10_gpgsv_1['3_n'])
plt.plot(_10_gpgsv_1['4_n'])
plt.plot(_10_gpgsv_2['1_n'])
plt.plot(_10_gpgsv_2['2_n'])
plt.plot(_10_gpgsv_2['3_n'])
plt.plot(_10_gpgsv_2['4_n'])
plt.plot(_10_gpgsv_3['1_n'])
plt.plot(_10_gpgsv_3['2_n'])

#枠外に凡例を表示しないと見えないので、凡例を外の余白に指定する
plt.subplots_adjust(right=0.7)
plt.legend(['1-1_n', '1-2_n', '1-3_n', '1-4_n', '2-1_n', '2-2_n', '2-3_n', '2-4_n', '3-1_n', '3-2_n'], loc='upper left', bbox_to_anchor=(1.05, 1))
plt.show()

In [22]:
#１回目のSNR比を出す
plt.plot(_10_gpgsv_1['1_snr'])
plt.plot(_10_gpgsv_1['2_snr'])
plt.plot(_10_gpgsv_1['3_snr'])
plt.plot(_10_gpgsv_1['4_snr'])
plt.plot(_10_gpgsv_2['1_snr'])
plt.plot(_10_gpgsv_2['2_snr'])
plt.plot(_10_gpgsv_2['3_snr'])
plt.plot(_10_gpgsv_2['4_snr'])
plt.plot(_10_gpgsv_3['1_snr'])

#枠外に凡例を表示しないと見えないので、凡例を外の余白に指定する
plt.subplots_adjust(right=0.7)
#plt.legend([ '1','2','3', '4','5','6', '7', '8', '9', '10', '12', '13','14', '15'], loc='upper left', bbox_to_anchor=(1.05, 1))
plt.legend(['17', '19', '3', '6','23', '9-28' ,'9-22', '1-2', '16-17'], loc='upper left', bbox_to_anchor=(1.05, 1))
plt.show()

In [29]:
#画像を背景に貼り付けようと思ったが、緯度経度と上手く関連付けできなかったため、コメントアウト
#im = Image.open("ground.png")
#im = np.array(im)
#plt.xlim(0, ｇ000)
#plt.ylim(0, 800)
#plt.plot(a_gpgga['Lon'], a_gpgga['Lat'])
#plt.imshow(im, interpolation='nearest', aspect='auto')
#plt.show()

In [30]:
#速度の違いをプロットする
plt.plot(_1_gpvtg['kilometers'], label='1')
plt.plot(_2_gpvtg['kilometers'], label='2')
plt.legend()
plt.show()
#plt.savefig('speed_1-2', transparent=True)

NameError: name 'a_gpvtg' is not defined

In [31]:
#緯度・経度だけを抽出する
df_lon_lat_a  = a_gpgga.ix[:, ['Lon', 'Lat']]
df_lon_lat_b  = b_gpgga.ix[:, ['Lon', 'Lat']]
df_lon_lat = pd.concat([df_lon_lat_a, df_lon_lat_b], axis = 1)
df_lon_lat.tail(5)

NameError: name 'a_gpgga' is not defined

In [32]:
#別々のシートにある11と12のスピードを比較したものを出力する
speed_11 = a_gpvtg.ix[:, ['kilometers']]
speed_12 = b_gpvtg.ix[:, ['kilometers']]
df_speed  = pd.concat([speed_11, speed_12], axis=1)
df_speed.tail(5)

NameError: name 'a_gpvtg' is not defined

In [33]:
#GPRMCから時速キロメータを算出する
a_gprmc_knot_to_km = pd.DataFrame(a_gprmc['knots'] * 1.85) 
a_gprmc_knot_to_km.tail(10)

NameError: name 'a_gprmc' is not defined

In [34]:
#確認のためGPVTGのkilometersの列も出力してみる
a_gpvtg['kilometers'].tail(10)
#ほぼ合っていると思われる

NameError: name 'a_gpvtg' is not defined

In [ ]:
from openpyxl import Workbook
from openpyxl.drawing.image import Image
from openpyxl.utils.dataframe import dataframe_to_rows
wb = Workbook
ws = wb.active()

img_all_lon_lat = Image('all_Lon-Lat.png')
img_ex_11 = Image('all_Lon-Lat_ex-11.png')
img_ground = Image('all_Lon-Lat_ex-11_mix.png')


ws.add_image(img_lon_lat, 'A20')
ws.add_image(img_ground, 'K20')
ws.add_image(img_speed, 'Z20')

wb.save('0917_GNSS.xlsx')

In [36]:
#以下の3行で、pandasのdataframeから新規でオブジェクトを追加して、Excelのワークシートを追加できる
#新規でexcelファイルを作成し、緯度・経度の図とグラウンドの図を出力する
#はずだったが、どうもpandasのDataFrameからxlslに出力して、新規でファイルを作成するときに、
#DataFrameのオブジェクトで1つしか渡せなかったので
#まず、要約統計量だけを出力してxlsxファイルを新規で作成して、後からワークシートを追加する
desc_a_gpgga = a_gpgga.describe()
outpath = "/home/tsukudamayo/library/gnss/src/0902_GNSS/11_12_47_fast-slow/11_12_47_fast-slow.xlsx"
desc_a_gpgga.to_excel(outpath, "sheet1")
#理由は分からないが、sheet1つしか新規で作成できないため、コメントアウトして、別で作成する

NameError: name 'a_gpgga' is not defined

In [42]:
from openpyxl.utils.dataframe import dataframe_to_rows
wb = load_workbook('11_12_47_fast-slow.xlsx')
outpath='/home/tsukudamayo/library/gnss/src/0902_GNSS/11_12_47_fast-slow/11_12_47_fast-slow.xlsx'
new_sheet = 'Sheet2'

wb = load_workbook(outpath)
ws = wb.create_sheet(title=new_sheet)
for r in dataframe_to_rows(a_gpgga, index=True, header=True):
    ws.append(r)
wb.save('11_12_47_fast-slow.xlsx')

In [62]:
#先に追加しておいた、要約統計量だけを記述した1枚めのワークシートにグラフ、画像を追加する

from openpyxl import load_workbook
from openpyxl.drawing.image import Image
from openpyxl.utils.dataframe import dataframe_to_rows
wb = load_workbook('11_12_47_fast-slow.xlsx',)
ws = wb.active

for r in dataframe_to_rows(b_gpgga.describe(), index=True, header=True):
#いらなかった
#    for i in range(1,14):
#        for j in range(1,10):
#            ws.cell(row=i, column=j)
    ws.append(r)
#desc_b_gpgga = b_gpgga.describe()
#desc_a_gpvtg = a_gpvtg.describe()
#desc_ b_gpvtg = b_gpvtg.describe()

img_lon_lat = Image('figure_1.png')
img_ground = Image('ground.png')
img_speed = Image('figure_2.png')

#ws['N1'] = desc_b_gpgga

ws.add_image(img_lon_lat, 'A20')
ws.add_image(img_ground, 'K20')
ws.add_image(img_speed, 'Z20')

wb.save('11_12_47_fast-slow.xlsx')

In [2]:
#openpyxlのバージョンが2.4.0からopenpyxl.utils.dataframe_dataframe_to_rowsの機能が追加された
#openpyxlの2.4.0はAnacondaにはまだ追加されていなかったので、
#pipからopenpyxlだけ、2.4.0のバージョンをインストールした
#ので、バージョンの確認
import openpyxl
print(openpyxl.__version__)

2.4.0

In [24]:
from mpl_toolkits.basemap import Basemap
import matplotlib.pyplot as plt

m = Basemap(width=12000000, height=9000000, projection='lcc',resolution=None,  llcrnrlat=34, urcrnrlat=35, llcrnrlon=135, urcrnrlon=136)
m.bluemarble()
m.plot(a_gpgga['Lat'], a_gpgga['Lon'])
plot.show()

ValueError: must specify lat_1 or lat_0 and lon_0 for Lambert Conformal basemap (lat_2 is optional)

In [23]:
from mpl_toolkits.basemap import Basemap
import matplotlib.pyplot as plt
# setup Lambert Conformal basemap.
# set resolution=None to skip processing of boundary datasets.
m = Basemap(width=12000000,height=9000000,projection='lcc',
            resolution=None,lat_1=45.,lat_2=55,lat_0=50,lon_0=-107.)
m.bluemarble()
plt.show()